<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type0" id="S2T0U3">A</span> = C_NERM_SDC(<span class="var type1" id="S3T1U6">X</span>, <span class="var type1" id="S4T2U7">r_st</span>, <span class="var type1" id="S5T2U8">rd_st_M</span>, <span class="var type1" id="S6T3U9">C_MtoL</span>, <span class="var type1" id="S7T4U10">R3BParameters</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2"> 2</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% CR3BP assumption</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4"> 4</a></span><span class="line"><span class="mxinfo " id="T2:U6"><span class="var type1" id="S8T2U13">r_ps</span> = <span class="mxinfo " id="T2:U8"><span class="var type1" id="S6T3U15">C_MtoL</span> * <span class="mxinfo " id="T2:U10">[-1; 0 ; 0]</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5"> 5</a></span><span class="line"><span class="mxinfo " id="T2:U11"><span class="var type1" id="S9T2U26">rd_ps_P</span> = <span class="mxinfo " id="T2:U13">[0; 0; 0]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6"> 6</a></span><span class="line"><span class="mxinfo " id="T2:U14"><span class="var type1" id="S10T2U36">omega_sp</span> = <span class="mxinfo " id="T2:U16"><span class="var type1" id="S6T3U38">C_MtoL</span> * <span class="mxinfo " id="T2:U18">[0; 0; 1]</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7"> 7</a></span><span class="line"><span class="mxinfo " id="T2:U19"><span class="var type1" id="S11T2U48">omegad_sp_M</span> = <span class="mxinfo " id="T2:U21">[0; 0; 0]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8"> 8</a></span><span class="line"><span class="mxinfo " id="T2:U22"><span class="var type1" id="S12T2U58">omegadd_sp_M</span> = <span class="mxinfo " id="T2:U24">[0; 0; 0]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9"> 9</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,10" id="srcline10">10</a></span><span class="line"><span class="comment">% Compute target acceleration according to CR3BP</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,11" id="srcline11">11</a></span><span class="line"><span class="mxinfo " id="T2:U25"><span class="var type1" id="S13T2U68">rdd_st_M</span> = <span class="mxinfo " id="T2:U27"><span class="fcn" id="F7N3:B70">Eqs_CR3BP</span>(<span class="var type1" id="S4T2U71">r_st</span>, <span class="var type1" id="S5T2U72">rd_st_M</span>, <span class="var type1" id="S10T2U73">omega_sp</span>, <span class="var type1" id="S8T2U74">r_ps</span>, <span class="mxinfo " id="T1:U32"><span class="var type1" id="S7T4U76">R3BParameters</span>.mu</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,12" id="srcline12">12</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,13" id="srcline13">13</a></span><span class="line"><span class="comment">% Compute target jerk</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,14" id="srcline14">14</a></span><span class="line"><span class="mxinfo " id="T2:U34"><span class="var type1" id="S15T2U80">rddd_st_M</span> = <span class="mxinfo " id="T2:U36"><span class="fcn" id="F57N6:B82">Eqs_SpacecraftJerk</span>(<span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,15" id="srcline15">15</a></span><span class="line">    <span class="var type1" id="S4T2U83">r_st</span>, <span class="var type1" id="S5T2U84">rd_st_M</span>, <span class="var type1" id="S13T2U85">rdd_st_M</span>, <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,16" id="srcline16">16</a></span><span class="line">    <span class="var type1" id="S8T2U86">r_ps</span>, <span class="var type1" id="S9T2U87">rd_ps_P</span>, <span class="var type1" id="S10T2U88">omega_sp</span>, <span class="var type1" id="S11T2U89">omegad_sp_M</span>, <span class="var type1" id="S12T2U90">omegadd_sp_M</span>, <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,17" id="srcline17">17</a></span><span class="line">    <span class="mxinfo " id="T1:U45"><span class="var type1" id="S7T4U92">R3BParameters</span>.mu</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,18" id="srcline18">18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,19" id="srcline19">19</a></span><span class="line"><span class="comment">% Compute LVLH angular velocity and acceleration wrt M</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,20" id="srcline20">20</a></span><span class="line"><span class="mxinfo " id="T2:U47"><span class="var type1" id="S17T2U96">omega_lm</span> = <span class="mxinfo " id="T2:U49"><span class="fcn" id="F77N5:B98">Eqs_LVLHAngVel</span>(<span class="var type1" id="S4T2U99">r_st</span>, <span class="var type1" id="S5T2U100">rd_st_M</span>, <span class="var type1" id="S13T2U101">rdd_st_M</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,21" id="srcline21">21</a></span><span class="line"><span class="mxinfo " id="T2:U53"><span class="var type1" id="S19T2U104">omegad_lm_L</span> = <span class="mxinfo " id="T2:U55"><span class="fcn" id="F103N4:B106">Eqs_LVLHAngAcc</span>(<span class="var type1" id="S4T2U107">r_st</span>, <span class="var type1" id="S5T2U108">rd_st_M</span>, <span class="var type1" id="S13T2U109">rdd_st_M</span>, <span class="var type1" id="S15T2U110">rddd_st_M</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,22" id="srcline22">22</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,23" id="srcline23">23</a></span><span class="line"><span class="comment">% Compute LVLH angular velocity and acceleration wrt I</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,24" id="srcline24">24</a></span><span class="line"><span class="mxinfo " id="T2:U60"><span class="var type1" id="S21T2U113">omega_li</span> = <span class="mxinfo " id="T2:U62"><span class="var type1" id="S17T2U115">omega_lm</span> + <span class="var type1" id="S10T2U116">omega_sp</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,25" id="srcline25">25</a></span><span class="line"><span class="mxinfo " id="T2:U65"><span class="var type1" id="S22T2U119">omegad_li_L</span> = <span class="mxinfo " id="T2:U67"><span class="mxinfo " id="T2:U68"><span class="var type1" id="S19T2U122">omegad_lm_L</span> + <span class="var type1" id="S11T2U123">omegad_sp_M</span></span> - <span class="mxinfo " id="T2:U71">cross(<span class="var type1" id="S17T2U126">omega_lm</span>, <span class="var type1" id="S10T2U127">omega_sp</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,26" id="srcline26">26</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,27" id="srcline27">27</a></span><span class="line"><span class="comment">% SDC parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,28" id="srcline28">28</a></span><span class="line"><span class="var type0" id="S2T0U130">A</span> = <span class="message error" id="M1F1C"><span class="fcn" id="F104N8:B132">State_Dependent_Coefficient</span>(<span class="var type1" id="S3T1U133">X</span>, <span class="var type1" id="S21T2U134">omega_li</span>, <span class="var type1" id="S22T2U135">omegad_li_L</span>, <span class="var type1" id="S4T2U136">r_st</span>, <span class="var type1" id="S8T2U137">r_ps</span>, <span class="var type1" id="S7T4U138">R3BParameters</span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,29" id="srcline29">29</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
