<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S34T1">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">X</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S35T2">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">r_ps</a></td>
<td>Input</td><td class="watchsize" id="11">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S36T2">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">r_st</a></td>
<td>Input</td><td class="watchsize" id="11">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S37T1">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">mu_e</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S38T1">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">x</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S41T1">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">r_em_x</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S42T1">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">r_em_y</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S43T1">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">r_em_z</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S44T1">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">r_mt</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S46T1">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">r_et</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
