<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,1" id="srcline1"> 1</a></span><span class="line">function A = State_Dependent_Coefficient(X, omega_li, omegad_li, r_st, r_ps, R3BParameters)</span></span>
<span class="srcline"><span class="lineno"><a href="51,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function computes the State-Dependent Coefficients matrix of</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% relative motion in R3BP (Restricted Three Body Problem)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% r_ps          : distance between Earth-Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% r_st          : target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% mu_n          : gravitationa paraneter (normalized);</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% X             : relative positions and velocities, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,10" id="srcline10">10</a></span><span class="line"><span class="comment">% omega_li      : angular velocity of LVLH frame w.r.t. inertial frame, in LVLH frame; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,11" id="srcline11">11</a></span><span class="line"><span class="comment">% omegad_li     : angular acceleration of LVLH frame w.r.t. inertial frame, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,12" id="srcline12">12</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,13" id="srcline13">13</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,14" id="srcline14">14</a></span><span class="line"><span class="comment">% A             : SDC parametrization matrix; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,15" id="srcline15">15</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,16" id="srcline16">16</a></span><span class="line"><span class="comment">% call functions for SDC parametrization of gravitational terms</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,17" id="srcline17">17</a></span><span class="line">earth_term  = @earth_sdc_term;</span></span>
<span class="srcline"><span class="lineno"><a href="51,18" id="srcline18">18</a></span><span class="line">moon_term   = @moon_sdc_term;</span></span>
<span class="srcline"><span class="lineno"><a href="51,19" id="srcline19">19</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,20" id="srcline20">20</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,21" id="srcline21">21</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on omega and omegad</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,22" id="srcline22">22</a></span><span class="line">A21_omega = [omega_li(2)^2 + omega_li(3)^2,   omegad_li(3) - omega_li(1)*omega_li(2), - omegad_li(2) - omega_li(1)*omega_li(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,23" id="srcline23">23</a></span><span class="line"> - omegad_li(3) - omega_li(1)*omega_li(2),          omega_li(1)^2 + omega_li(3)^2,   omegad_li(1) - omega_li(2)*omega_li(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,24" id="srcline24">24</a></span><span class="line">   omegad_li(2) - omega_li(1)*omega_li(3), - omegad_li(1) - omega_li(2)*omega_li(3),          omega_li(1)^2 + omega_li(2)^2];</span></span>
<span class="srcline"><span class="lineno"><a href="51,25" id="srcline25">25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,26" id="srcline26">26</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on moon gravitational term</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,27" id="srcline27">27</a></span><span class="line">A21_moon = moon_term(X, r_st, R3BParameters.mu);</span></span>
<span class="srcline"><span class="lineno"><a href="51,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,29" id="srcline29">29</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on earth gravitational term         </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,30" id="srcline30">30</a></span><span class="line">A21_earth = earth_term(X, r_ps, r_st, (1 - R3BParameters.mu));</span></span>
<span class="srcline"><span class="lineno"><a href="51,31" id="srcline31">31</a></span><span class="line">      </span></span>
<span class="srcline"><span class="lineno"><a href="51,32" id="srcline32">32</a></span><span class="line">A21 = A21_omega + A21_moon + A21_earth;</span></span>
<span class="srcline"><span class="lineno"><a href="51,33" id="srcline33">33</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,34" id="srcline34">34</a></span><span class="line"><span class="comment">% SDC parametrization Coriolis terms</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,35" id="srcline35">35</a></span><span class="line">A22 = [            0,  2*omega_li(3), -2*omega_li(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,36" id="srcline36">36</a></span><span class="line"> -2*omega_li(3),            0,  2*omega_li(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,37" id="srcline37">37</a></span><span class="line">  2*omega_li(2), -2*omega_li(1),            0];</span></span>
<span class="srcline"><span class="lineno"><a href="51,38" id="srcline38">38</a></span><span class="line"> </span></span>
<span class="srcline"><span class="lineno"><a href="51,39" id="srcline39">39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,40" id="srcline40">40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,41" id="srcline41">41</a></span><span class="line"><span class="comment">% State Dependent Coefficient Matrix</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,42" id="srcline42">42</a></span><span class="line">A = [zeros(3,3), eye(3); A21, A22];</span></span>
<span class="srcline"><span class="lineno"><a href="51,43" id="srcline43">43</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="51,44" id="srcline44">44</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,45" id="srcline45">45</a></span><span class="line">function A_m = moon_sdc_term(X, r_st, mu_m)</span></span>
<span class="srcline"><span class="lineno"><a href="51,46" id="srcline46">46</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,47" id="srcline47">47</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,48" id="srcline48">48</a></span><span class="line">x = X(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,49" id="srcline49">49</a></span><span class="line">y = X(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,50" id="srcline50">50</a></span><span class="line">z = X(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,51" id="srcline51">51</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,52" id="srcline52">52</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,53" id="srcline53">53</a></span><span class="line">r_mt = norm(r_st);</span></span>
<span class="srcline"><span class="lineno"><a href="51,54" id="srcline54">54</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,55" id="srcline55">55</a></span><span class="line"><span class="comment">% chaser position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,56" id="srcline56">56</a></span><span class="line">r_mc = norm([x; y; (z - r_mt)]);</span></span>
<span class="srcline"><span class="lineno"><a href="51,57" id="srcline57">57</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,58" id="srcline58">58</a></span><span class="line"><span class="comment">% algebric parameter for Moon gravitational term (usefull in SDC parametrization)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,59" id="srcline59">59</a></span><span class="line">gamma_m = -mu_m*((r_mc^2 + r_mt*r_mc + r_mt^2)/((r_mc + r_mt)*(r_mc^3)*(r_mt^2)));</span></span>
<span class="srcline"><span class="lineno"><a href="51,60" id="srcline60">60</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,61" id="srcline61">61</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,62" id="srcline62">62</a></span><span class="line">A_m = [-mu_m/r_mc^3,          0,           0;</span></span>
<span class="srcline"><span class="lineno"><a href="51,63" id="srcline63">63</a></span><span class="line">                0   , -mu_m/r_mc^3,           0;</span></span>
<span class="srcline"><span class="lineno"><a href="51,64" id="srcline64">64</a></span><span class="line">             gamma_m*x,    gamma_m*y, gamma_m*(z - r_mt) - mu_m/r_mc^3];</span></span>
<span class="srcline"><span class="lineno"><a href="51,65" id="srcline65">65</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,66" id="srcline66">66</a></span><span class="line">end</span></span>
</pre>
</div>
<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,67" id="srcline67">67</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,68" id="srcline68">68</a></span><span class="line"><span class="keyword">function</span> <span class="var type0" id="S33T0U346">A_e</span> = earth_sdc_term(<span class="var type1" id="S34T1U349">X</span>, <span class="var type1" id="S35T2U350">r_ps</span>, <span class="var type1" id="S36T2U351">r_st</span>, <span class="var type1" id="S37T1U352">mu_e</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="51,69" id="srcline69">69</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,70" id="srcline70">70</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,71" id="srcline71">71</a></span><span class="line"><span class="mxinfo " id="T1:U5"><span class="var type1" id="S38T1U355">x</span> = <span class="var type1" id="S34T1U357">X</span>(1)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,72" id="srcline72">72</a></span><span class="line"><span class="var type0" id="S39T0U361">y</span> = <span class="var type1" id="S34T1U363">X</span>(<span class="mxinfo " id="T1:U9"><span class="message error" id="M11F106C">2</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="51,73" id="srcline73">73</a></span><span class="line"><span class="var type0" id="S40T0U367">z</span> = <span class="var type1" id="S34T1U369">X</span>(<span class="mxinfo " id="T1:U11"><span class="message error" id="M12F106C">3</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="51,74" id="srcline74">74</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,75" id="srcline75">75</a></span><span class="line"><span class="comment">% distance between Earth-Moon in LVLH frame</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,76" id="srcline76">76</a></span><span class="line"><span class="mxinfo " id="T1:U12"><span class="var type1" id="S41T1U373">r_em_x</span> = <span class="mxinfo " id="T1:U14"><span class="var type1" id="S35T2U375">r_ps</span>(<span class="mxinfo " id="T1:U16">1</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,77" id="srcline77">77</a></span><span class="line"><span class="mxinfo " id="T1:U17"><span class="var type1" id="S42T1U379">r_em_y</span> = <span class="mxinfo " id="T1:U19"><span class="var type1" id="S35T2U381">r_ps</span>(<span class="mxinfo " id="T1:U21">2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,78" id="srcline78">78</a></span><span class="line"><span class="mxinfo " id="T1:U22"><span class="var type1" id="S43T1U385">r_em_z</span> = <span class="mxinfo " id="T1:U24"><span class="var type1" id="S35T2U387">r_ps</span>(<span class="mxinfo " id="T1:U26">3</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,79" id="srcline79">79</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,80" id="srcline80">80</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,81" id="srcline81">81</a></span><span class="line"><span class="mxinfo " id="T1:U27"><span class="var type1" id="S44T1U391">r_mt</span> = <span class="mxinfo " id="T1:U29">norm(<span class="var type1" id="S36T2U394">r_st</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,82" id="srcline82">82</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Earth, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,83" id="srcline83">83</a></span><span class="line"><span class="mxinfo " id="T1:U31"><span class="var type1" id="S46T1U397">r_et</span> = <span class="mxinfo " id="T1:U33"><span class="mxinfo " id="T1:U34">norm(<span class="var type1" id="S36T2U401">r_st</span>)</span> + <span class="mxinfo " id="T1:U36">norm(<span class="var type1" id="S35T2U404">r_ps</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,84" id="srcline84">84</a></span><span class="line"><span class="comment">% chaser position w.r.t. Earth, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,85" id="srcline85">85</a></span><span class="line"><span class="var type0" id="S47T0U407">r_ec</span> = norm([(<span class="mxinfo " id="T1:U38"><span class="var type1" id="S41T1U414">r_em_x</span> + <span class="var type1" id="S38T1U415">x</span></span>); (<span class="var type1" id="S42T1U419">r_em_y</span> + <span class="var type0" id="S39T0U420"><span class="message error" id="M13F106C">y</span></span>); (<span class="var type0" id="S43T0U425">r_em_z</span> + <span class="var type0" id="S40T0U426">z</span> - <span class="var type0" id="S44T0U427">r_mt</span>)]);</span></span>
<span class="srcline"><span class="lineno"><a href="51,86" id="srcline86">86</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,87" id="srcline87">87</a></span><span class="line"><span class="comment">% algebric parameters for Earth gravitational term (usefull in SDC parametrization)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,88" id="srcline88">88</a></span><span class="line"><span class="var type0" id="S48T0U430">gamma_e</span> = <span class="var type1" id="S37T1U432">mu_e</span> * ((<span class="var type0" id="S47T0U439"><span class="message error" id="M14F106C">r_ec</span></span>^2 + <span class="var type0" id="S46T0U442">r_et</span>*<span class="var type0" id="S47T0U443">r_ec</span> + <span class="var type0" id="S46T0U445">r_et</span>^2)/((<span class="var type0" id="S47T0U452">r_ec</span> + <span class="var type0" id="S46T0U453">r_et</span>)*(<span class="var type0" id="S47T0U456">r_ec</span>^3)*(<span class="var type0" id="S46T0U460">r_et</span>^3)));</span></span>
<span class="srcline"><span class="lineno"><a href="51,89" id="srcline89">89</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,90" id="srcline90">90</a></span><span class="line"><span class="var type0" id="S33T0U464">A_e</span> = [<span class="var type0" id="S48T0U470"><span class="message error" id="M15F106C">gamma_e</span></span>*<span class="var type0" id="S41T0U471">r_em_x</span>*(2*<span class="var type0" id="S41T0U476">r_em_x</span> + <span class="var type0" id="S38T0U477">x</span>) - (<span class="var type0" id="S37T0U480">mu_e</span>)/<span class="var type0" id="S47T0U482">r_ec</span>^3, <span class="var type0" id="S48T0U486">gamma_e</span>*<span class="var type0" id="S41T0U487">r_em_x</span>*(2*<span class="var type0" id="S42T0U492">r_em_y</span> + <span class="var type0" id="S39T0U493">y</span>), <span class="var type0" id="S48T0U496">gamma_e</span>*<span class="var type0" id="S41T0U497">r_em_x</span>*(2*(<span class="var type0" id="S43T0U504">r_em_z</span> - <span class="var type0" id="S44T0U505">r_mt</span>) + <span class="var type0" id="S40T0U506">z</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="51,91" id="srcline91">91</a></span><span class="line">          <span class="var type0" id="S48T0U510">gamma_e</span>*<span class="var type0" id="S42T0U511">r_em_y</span>*(2*<span class="var type0" id="S41T0U516">r_em_x</span> + <span class="var type0" id="S38T0U517">x</span>), <span class="var type0" id="S48T0U521">gamma_e</span>*<span class="var type0" id="S42T0U522">r_em_y</span>*(2*<span class="var type0" id="S42T0U527">r_em_y</span> + <span class="var type0" id="S39T0U528">y</span>)  - (<span class="var type0" id="S37T0U531">mu_e</span>)/<span class="var type0" id="S47T0U533">r_ec</span>^3, <span class="var type0" id="S48T0U537">gamma_e</span>*<span class="var type0" id="S42T0U538">r_em_y</span>*(2*(<span class="var type0" id="S43T0U545">r_em_z</span> - <span class="var type0" id="S44T0U546">r_mt</span>) + <span class="var type0" id="S40T0U547">z</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="51,92" id="srcline92">92</a></span><span class="line">          <span class="var type0" id="S48T0U551">gamma_e</span>*(<span class="var type0" id="S43T0U554">r_em_z</span> - <span class="var type0" id="S44T0U555">r_mt</span>)*(2*<span class="var type0" id="S41T0U560">r_em_x</span> + <span class="var type0" id="S38T0U561">x</span>), <span class="var type0" id="S48T0U564">gamma_e</span>*(<span class="var type0" id="S43T0U567">r_em_z</span> - <span class="var type0" id="S44T0U568">r_mt</span>)*(2*<span class="var type0" id="S42T0U573">r_em_y</span> + <span class="var type0" id="S39T0U574">y</span>), <span class="var type0" id="S48T0U578">gamma_e</span>*(<span class="var type0" id="S43T0U581">r_em_z</span> - <span class="var type0" id="S44T0U582">r_mt</span>)*(2*(<span class="var type0" id="S43T0U589">r_em_z</span> - <span class="var type0" id="S44T0U590">r_mt</span>) + <span class="var type0" id="S40T0U591">z</span>) - (<span class="var type0" id="S37T0U594">mu_e</span>)/<span class="var type0" id="S47T0U596">r_ec</span>^3];</span></span>
<span class="srcline"><span class="lineno"><a href="51,93" id="srcline93">93</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,94" id="srcline94">94</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,95" id="srcline95">95</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
