<pre class="code">
<span class="srcline"><span class="lineno"><a href="4,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T2U3">rdd</span> = Eqs_CR3BP(<span class="var type1" id="S3T2U6">r</span>, <span class="var type1" id="S4T2U7">rd</span>, <span class="var type1" id="S5T2U8">omega</span>, <span class="var type1" id="S6T2U9">r_ps</span>, <span class="var type1" id="S7T1U10">mu</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="4,2" id="srcline2"> 2</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="4,3" id="srcline3"> 3</a></span><span class="line">    <span class="mxinfo " id="T2:U7"><span class="var type1" id="S2T2U13">rdd</span> = <span class="mxinfo " id="T2:U9"><span class="mxinfo " id="T2:U10"><span class="mxinfo " id="T2:U11"><span class="mxinfo " id="T2:U12"><span class="mxinfo " id="T1:U13">- 2</span> * <span class="mxinfo " id="T2:U14">cross(<span class="var type1" id="S5T2U22">omega</span>, <span class="var type1" id="S4T2U23">rd</span>)</span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="4,4" id="srcline4"> 4</a></span><span class="line">          - <span class="mxinfo " id="T2:U17">cross(<span class="var type1" id="S5T2U26">omega</span>, <span class="mxinfo " id="T2:U19">cross(<span class="var type1" id="S5T2U29">omega</span>, <span class="var type1" id="S3T2U30">r</span>)</span>)</span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="4,5" id="srcline5"> 5</a></span><span class="line">          - <span class="mxinfo " id="T2:U22"><span class="mxinfo " id="T2:U23"><span class="var type1" id="S7T1U33">mu</span> * <span class="var type1" id="S3T2U34">r</span></span>/<span class="mxinfo " id="T1:U26"><span class="mxinfo " id="T1:U27">norm(<span class="var type1" id="S3T2U38">r</span>)</span>^3</span></span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="4,6" id="srcline6"> 6</a></span><span class="line">          - <span class="mxinfo " id="T2:U29">(<span class="mxinfo " id="T1:U30"><span class="mxinfo " id="T1:U31">1</span> - <span class="var type1" id="S7T1U44">mu</span></span>) * (<span class="mxinfo " id="T2:U33"><span class="mxinfo " id="T2:U34">(<span class="mxinfo " id="T2:U35"><span class="var type1" id="S6T2U50">r_ps</span> + <span class="var type1" id="S3T2U51">r</span></span>)/<span class="mxinfo " id="T1:U38"><span class="mxinfo " id="T1:U39">norm(<span class="mxinfo " id="T2:U40"><span class="var type1" id="S6T2U56">r_ps</span> + <span class="var type1" id="S3T2U57">r</span></span>)</span>^3</span></span> - <span class="mxinfo " id="T2:U43"><span class="var type1" id="S6T2U60">r_ps</span>/<span class="mxinfo " id="T1:U45"><span class="mxinfo " id="T1:U46">norm(<span class="var type1" id="S6T2U64">r_ps</span>)</span>^3</span></span></span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="4,7" id="srcline7"> 7</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="4,8" id="srcline8"> 8</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="4,9" id="srcline9"> 9</a></span><span class="line"></span></span>
</pre>
