<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,1" id="srcline1"> 1</a></span><span class="line">function A = State_Dependent_Coefficient(X, omega_li, omegad_li, r_st, r_ps, R3BParameters)</span></span>
<span class="srcline"><span class="lineno"><a href="51,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function computes the State-Dependent Coefficients matrix of</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% relative motion in R3BP (Restricted Three Body Problem)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% r_ps          : distance between Earth-Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% r_st          : target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% mu_n          : gravitationa paraneter (normalized);</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% X             : relative positions and velocities, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,10" id="srcline10">10</a></span><span class="line"><span class="comment">% omega_li      : angular velocity of LVLH frame w.r.t. inertial frame, in LVLH frame; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,11" id="srcline11">11</a></span><span class="line"><span class="comment">% omegad_li     : angular acceleration of LVLH frame w.r.t. inertial frame, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,12" id="srcline12">12</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,13" id="srcline13">13</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,14" id="srcline14">14</a></span><span class="line"><span class="comment">% A             : SDC parametrization matrix; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,15" id="srcline15">15</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,16" id="srcline16">16</a></span><span class="line"><span class="comment">% call functions for SDC parametrization of gravitational terms</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,17" id="srcline17">17</a></span><span class="line">earth_term  = @earth_sdc_term;</span></span>
<span class="srcline"><span class="lineno"><a href="51,18" id="srcline18">18</a></span><span class="line">moon_term   = @moon_sdc_term;</span></span>
<span class="srcline"><span class="lineno"><a href="51,19" id="srcline19">19</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,20" id="srcline20">20</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,21" id="srcline21">21</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on omega and omegad</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,22" id="srcline22">22</a></span><span class="line">A21_omega = [omega_li(2)^2 + omega_li(3)^2,   omegad_li(3) - omega_li(1)*omega_li(2), - omegad_li(2) - omega_li(1)*omega_li(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,23" id="srcline23">23</a></span><span class="line"> - omegad_li(3) - omega_li(1)*omega_li(2),          omega_li(1)^2 + omega_li(3)^2,   omegad_li(1) - omega_li(2)*omega_li(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,24" id="srcline24">24</a></span><span class="line">   omegad_li(2) - omega_li(1)*omega_li(3), - omegad_li(1) - omega_li(2)*omega_li(3),          omega_li(1)^2 + omega_li(2)^2];</span></span>
<span class="srcline"><span class="lineno"><a href="51,25" id="srcline25">25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,26" id="srcline26">26</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on moon gravitational term</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,27" id="srcline27">27</a></span><span class="line">A21_moon = moon_term(X, r_st, R3BParameters.mu);</span></span>
<span class="srcline"><span class="lineno"><a href="51,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,29" id="srcline29">29</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on earth gravitational term         </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,30" id="srcline30">30</a></span><span class="line">A21_earth = earth_term(X, r_ps, r_st, (1 - R3BParameters.mu));</span></span>
<span class="srcline"><span class="lineno"><a href="51,31" id="srcline31">31</a></span><span class="line">      </span></span>
<span class="srcline"><span class="lineno"><a href="51,32" id="srcline32">32</a></span><span class="line">A21 = A21_omega + A21_moon + A21_earth;</span></span>
<span class="srcline"><span class="lineno"><a href="51,33" id="srcline33">33</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,34" id="srcline34">34</a></span><span class="line"><span class="comment">% SDC parametrization Coriolis terms</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,35" id="srcline35">35</a></span><span class="line">A22 = [            0,  2*omega_li(3), -2*omega_li(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,36" id="srcline36">36</a></span><span class="line"> -2*omega_li(3),            0,  2*omega_li(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,37" id="srcline37">37</a></span><span class="line">  2*omega_li(2), -2*omega_li(1),            0];</span></span>
<span class="srcline"><span class="lineno"><a href="51,38" id="srcline38">38</a></span><span class="line"> </span></span>
<span class="srcline"><span class="lineno"><a href="51,39" id="srcline39">39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,40" id="srcline40">40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,41" id="srcline41">41</a></span><span class="line"><span class="comment">% State Dependent Coefficient Matrix</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,42" id="srcline42">42</a></span><span class="line">A = [zeros(3,3), eye(3); A21, A22];</span></span>
<span class="srcline"><span class="lineno"><a href="51,43" id="srcline43">43</a></span><span class="line">end</span></span>
</pre>
</div>
<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,44" id="srcline44">44</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,45" id="srcline45">45</a></span><span class="line"><span class="keyword">function</span> <span class="var type0" id="S21T0U223">A_m</span> = moon_sdc_term(<span class="var type1" id="S22T1U226">X</span>, <span class="var type1" id="S23T2U227">r_st</span>, <span class="var type1" id="S24T1U228">mu_m</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="51,46" id="srcline46">46</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,47" id="srcline47">47</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,48" id="srcline48">48</a></span><span class="line"><span class="mxinfo " id="T1:U4"><span class="var type1" id="S25T1U231">x</span> = <span class="var type1" id="S22T1U233">X</span>(1)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,49" id="srcline49">49</a></span><span class="line"><span class="var type0" id="S26T0U237">y</span> = <span class="var type1" id="S22T1U239">X</span>(<span class="mxinfo " id="T1:U8"><span class="message error" id="M6F105C">2</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="51,50" id="srcline50">50</a></span><span class="line"><span class="var type0" id="S27T0U243">z</span> = <span class="var type1" id="S22T1U245">X</span>(<span class="mxinfo " id="T1:U10"><span class="message error" id="M7F105C">3</span></span>);</span></span>
<span class="srcline"><span class="lineno"><a href="51,51" id="srcline51">51</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,52" id="srcline52">52</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,53" id="srcline53">53</a></span><span class="line"><span class="mxinfo " id="T1:U11"><span class="var type1" id="S28T1U249">r_mt</span> = <span class="mxinfo " id="T1:U13">norm(<span class="var type1" id="S23T2U252">r_st</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,54" id="srcline54">54</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,55" id="srcline55">55</a></span><span class="line"><span class="comment">% chaser position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,56" id="srcline56">56</a></span><span class="line"><span class="var type0" id="S30T0U255">r_mc</span> = norm([<span class="var type1" id="S25T1U260">x</span>; <span class="var type0" id="S26T0U262"><span class="message error" id="M8F105C">y</span></span>; (<span class="var type0" id="S27T0U266">z</span> - <span class="var type0" id="S28T0U267">r_mt</span>)]);</span></span>
<span class="srcline"><span class="lineno"><a href="51,57" id="srcline57">57</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,58" id="srcline58">58</a></span><span class="line"><span class="comment">% algebric parameter for Moon gravitational term (usefull in SDC parametrization)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,59" id="srcline59">59</a></span><span class="line"><span class="var type0" id="S31T0U270">gamma_m</span> = <span class="mxinfo " id="T1:U16">-<span class="var type1" id="S24T1U273">mu_m</span></span>*((<span class="var type0" id="S30T0U280"><span class="message error" id="M9F105C">r_mc</span></span>^2 + <span class="var type0" id="S28T0U283">r_mt</span>*<span class="var type0" id="S30T0U284">r_mc</span> + <span class="var type0" id="S28T0U286">r_mt</span>^2)/((<span class="var type0" id="S30T0U293">r_mc</span> + <span class="var type0" id="S28T0U294">r_mt</span>)*(<span class="var type0" id="S30T0U297">r_mc</span>^3)*(<span class="var type0" id="S28T0U301">r_mt</span>^2)));</span></span>
<span class="srcline"><span class="lineno"><a href="51,60" id="srcline60">60</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,61" id="srcline61">61</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,62" id="srcline62">62</a></span><span class="line"><span class="var type0" id="S21T0U305">A_m</span> = [<span class="mxinfo " id="T1:U18">-<span class="var type1" id="S24T1U310">mu_m</span></span>/<span class="var type0" id="S30T0U312"><span class="message error" id="M10F105C">r_mc</span></span>^3,          0,           0;</span></span>
<span class="srcline"><span class="lineno"><a href="51,63" id="srcline63">63</a></span><span class="line">                0   , -<span class="var type0" id="S24T0U320">mu_m</span>/<span class="var type0" id="S30T0U322">r_mc</span>^3,           0;</span></span>
<span class="srcline"><span class="lineno"><a href="51,64" id="srcline64">64</a></span><span class="line">             <span class="var type0" id="S31T0U327">gamma_m</span>*<span class="var type0" id="S25T0U328">x</span>,    <span class="var type0" id="S31T0U330">gamma_m</span>*<span class="var type0" id="S26T0U331">y</span>, <span class="var type0" id="S31T0U334">gamma_m</span>*(<span class="var type0" id="S27T0U337">z</span> - <span class="var type0" id="S28T0U338">r_mt</span>) - <span class="var type0" id="S24T0U340">mu_m</span>/<span class="var type0" id="S30T0U342">r_mc</span>^3];</span></span>
<span class="srcline"><span class="lineno"><a href="51,65" id="srcline65">65</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,66" id="srcline66">66</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,67" id="srcline67">67</a></span><span class="line"></span></span>
</pre>
<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,68" id="srcline68">68</a></span><span class="line">function A_e = earth_sdc_term(X, r_ps, r_st, mu_e)</span></span>
<span class="srcline"><span class="lineno"><a href="51,69" id="srcline69">69</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,70" id="srcline70">70</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,71" id="srcline71">71</a></span><span class="line">x = X(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,72" id="srcline72">72</a></span><span class="line">y = X(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,73" id="srcline73">73</a></span><span class="line">z = X(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,74" id="srcline74">74</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,75" id="srcline75">75</a></span><span class="line"><span class="comment">% distance between Earth-Moon in LVLH frame</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,76" id="srcline76">76</a></span><span class="line">r_em_x = r_ps(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,77" id="srcline77">77</a></span><span class="line">r_em_y = r_ps(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,78" id="srcline78">78</a></span><span class="line">r_em_z = r_ps(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,79" id="srcline79">79</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,80" id="srcline80">80</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,81" id="srcline81">81</a></span><span class="line">r_mt = norm(r_st);</span></span>
<span class="srcline"><span class="lineno"><a href="51,82" id="srcline82">82</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Earth, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,83" id="srcline83">83</a></span><span class="line">r_et = norm(r_st) + norm(r_ps);</span></span>
<span class="srcline"><span class="lineno"><a href="51,84" id="srcline84">84</a></span><span class="line"><span class="comment">% chaser position w.r.t. Earth, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,85" id="srcline85">85</a></span><span class="line">r_ec = norm([(r_em_x + x); (r_em_y + y); (r_em_z + z - r_mt)]);</span></span>
<span class="srcline"><span class="lineno"><a href="51,86" id="srcline86">86</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,87" id="srcline87">87</a></span><span class="line"><span class="comment">% algebric parameters for Earth gravitational term (usefull in SDC parametrization)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,88" id="srcline88">88</a></span><span class="line">gamma_e = mu_e * ((r_ec^2 + r_et*r_ec + r_et^2)/((r_ec + r_et)*(r_ec^3)*(r_et^3)));</span></span>
<span class="srcline"><span class="lineno"><a href="51,89" id="srcline89">89</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,90" id="srcline90">90</a></span><span class="line">A_e = [gamma_e*r_em_x*(2*r_em_x + x) - (mu_e)/r_ec^3, gamma_e*r_em_x*(2*r_em_y + y), gamma_e*r_em_x*(2*(r_em_z - r_mt) + z);</span></span>
<span class="srcline"><span class="lineno"><a href="51,91" id="srcline91">91</a></span><span class="line">          gamma_e*r_em_y*(2*r_em_x + x), gamma_e*r_em_y*(2*r_em_y + y)  - (mu_e)/r_ec^3, gamma_e*r_em_y*(2*(r_em_z - r_mt) + z);</span></span>
<span class="srcline"><span class="lineno"><a href="51,92" id="srcline92">92</a></span><span class="line">          gamma_e*(r_em_z - r_mt)*(2*r_em_x + x), gamma_e*(r_em_z - r_mt)*(2*r_em_y + y), gamma_e*(r_em_z - r_mt)*(2*(r_em_z - r_mt) + z) - (mu_e)/r_ec^3];</span></span>
<span class="srcline"><span class="lineno"><a href="51,93" id="srcline93">93</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,94" id="srcline94">94</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,95" id="srcline95">95</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="51,96" id="srcline96">96</a></span><span class="line"> </span></span>
</pre>
</div>
