<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type0" id="S2T0U3">A</span> = State_Dependent_Coefficient(<span class="var type1" id="S3T1U6">X</span>, <span class="var type1" id="S4T2U7">omega_li</span>, <span class="var type1" id="S5T2U8">omegad_li</span>, <span class="var type1" id="S6T2U9">r_st</span>, <span class="var type1" id="S7T2U10">r_ps</span>, <span class="var type1" id="S8T4U11">R3BParameters</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="51,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function computes the State-Dependent Coefficients matrix of</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% relative motion in R3BP (Restricted Three Body Problem)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% r_ps          : distance between Earth-Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% r_st          : target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% mu_n          : gravitationa paraneter (normalized);</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% X             : relative positions and velocities, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,10" id="srcline10">10</a></span><span class="line"><span class="comment">% omega_li      : angular velocity of LVLH frame w.r.t. inertial frame, in LVLH frame; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,11" id="srcline11">11</a></span><span class="line"><span class="comment">% omegad_li     : angular acceleration of LVLH frame w.r.t. inertial frame, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,12" id="srcline12">12</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,13" id="srcline13">13</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,14" id="srcline14">14</a></span><span class="line"><span class="comment">% A             : SDC parametrization matrix; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,15" id="srcline15">15</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,16" id="srcline16">16</a></span><span class="line"><span class="comment">% call functions for SDC parametrization of gravitational terms</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,17" id="srcline17">17</a></span><span class="line"><span class="mxinfo " id="T24:U7"><span class="var type1" id="S9T24U14">earth_term</span>  = <span class="mxinfo " id="T24:U9">@earth_sdc_term</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,18" id="srcline18">18</a></span><span class="line"><span class="mxinfo " id="T25:U10"><span class="var type1" id="S11T25U19">moon_term</span>   = <span class="mxinfo " id="T25:U12">@moon_sdc_term</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,19" id="srcline19">19</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,20" id="srcline20">20</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,21" id="srcline21">21</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on omega and omegad</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,22" id="srcline22">22</a></span><span class="line"><span class="mxinfo " id="T3:U13"><span class="var type1" id="S13T3U24">A21_omega</span> = <span class="mxinfo " id="T3:U15">[<span class="mxinfo " id="T20:U16"><span class="mxinfo " id="T1:U17"><span class="mxinfo " id="T1:U18"><span class="mxinfo " id="T1:U19"><span class="var type1" id="S4T2U30">omega_li</span>(<span class="mxinfo " id="T6:U21">2</span>)</span>^2</span> + <span class="mxinfo " id="T1:U22"><span class="mxinfo " id="T1:U23"><span class="var type1" id="S4T2U35">omega_li</span>(<span class="mxinfo " id="T6:U25">3</span>)</span>^2</span></span>,   <span class="mxinfo " id="T1:U26"><span class="mxinfo " id="T1:U27"><span class="var type1" id="S5T2U40">omegad_li</span>(<span class="mxinfo " id="T1:U29">3</span>)</span> - <span class="mxinfo " id="T1:U30"><span class="mxinfo " id="T1:U31"><span class="var type1" id="S4T2U44">omega_li</span>(<span class="mxinfo " id="T1:U33">1</span>)</span>*<span class="mxinfo " id="T1:U34"><span class="var type1" id="S4T2U47">omega_li</span>(<span class="mxinfo " id="T1:U36">2</span>)</span></span></span>, <span class="mxinfo " id="T1:U37"><span class="mxinfo " id="T1:U38">- <span class="mxinfo " id="T1:U39"><span class="var type1" id="S5T2U52">omegad_li</span>(<span class="mxinfo " id="T1:U41">2</span>)</span></span> - <span class="mxinfo " id="T1:U42"><span class="mxinfo " id="T1:U43"><span class="var type1" id="S4T2U56">omega_li</span>(<span class="mxinfo " id="T1:U45">1</span>)</span>*<span class="mxinfo " id="T1:U46"><span class="var type1" id="S4T2U59">omega_li</span>(<span class="mxinfo " id="T1:U48">3</span>)</span></span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,23" id="srcline23">23</a></span><span class="line"> <span class="mxinfo " id="T20:U49"><span class="mxinfo " id="T1:U50"><span class="mxinfo " id="T1:U51">- <span class="mxinfo " id="T1:U52"><span class="var type1" id="S5T2U65">omegad_li</span>(<span class="mxinfo " id="T1:U54">3</span>)</span></span> - <span class="mxinfo " id="T1:U55"><span class="mxinfo " id="T1:U56"><span class="var type1" id="S4T2U69">omega_li</span>(<span class="mxinfo " id="T1:U58">1</span>)</span>*<span class="mxinfo " id="T1:U59"><span class="var type1" id="S4T2U72">omega_li</span>(<span class="mxinfo " id="T1:U61">2</span>)</span></span></span>,          <span class="mxinfo " id="T1:U62"><span class="mxinfo " id="T1:U63"><span class="mxinfo " id="T1:U64"><span class="var type1" id="S4T2U77">omega_li</span>(<span class="mxinfo " id="T6:U66">1</span>)</span>^2</span> + <span class="mxinfo " id="T1:U67"><span class="mxinfo " id="T1:U68"><span class="var type1" id="S4T2U82">omega_li</span>(<span class="mxinfo " id="T6:U70">3</span>)</span>^2</span></span>,   <span class="mxinfo " id="T1:U71"><span class="mxinfo " id="T1:U72"><span class="var type1" id="S5T2U87">omegad_li</span>(<span class="mxinfo " id="T1:U74">1</span>)</span> - <span class="mxinfo " id="T1:U75"><span class="mxinfo " id="T1:U76"><span class="var type1" id="S4T2U91">omega_li</span>(<span class="mxinfo " id="T1:U78">2</span>)</span>*<span class="mxinfo " id="T1:U79"><span class="var type1" id="S4T2U94">omega_li</span>(<span class="mxinfo " id="T1:U81">3</span>)</span></span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,24" id="srcline24">24</a></span><span class="line">   <span class="mxinfo " id="T20:U82"><span class="mxinfo " id="T1:U83"><span class="mxinfo " id="T1:U84"><span class="var type1" id="S5T2U99">omegad_li</span>(<span class="mxinfo " id="T1:U86">2</span>)</span> - <span class="mxinfo " id="T1:U87"><span class="mxinfo " id="T1:U88"><span class="var type1" id="S4T2U103">omega_li</span>(<span class="mxinfo " id="T1:U90">1</span>)</span>*<span class="mxinfo " id="T1:U91"><span class="var type1" id="S4T2U106">omega_li</span>(<span class="mxinfo " id="T1:U93">3</span>)</span></span></span>, <span class="mxinfo " id="T1:U94"><span class="mxinfo " id="T1:U95">- <span class="mxinfo " id="T1:U96"><span class="var type1" id="S5T2U111">omegad_li</span>(<span class="mxinfo " id="T1:U98">1</span>)</span></span> - <span class="mxinfo " id="T1:U99"><span class="mxinfo " id="T1:U100"><span class="var type1" id="S4T2U115">omega_li</span>(<span class="mxinfo " id="T1:U102">2</span>)</span>*<span class="mxinfo " id="T1:U103"><span class="var type1" id="S4T2U118">omega_li</span>(<span class="mxinfo " id="T1:U105">3</span>)</span></span></span>,          <span class="mxinfo " id="T1:U106"><span class="mxinfo " id="T1:U107"><span class="mxinfo " id="T1:U108"><span class="var type1" id="S4T2U123">omega_li</span>(<span class="mxinfo " id="T6:U110">1</span>)</span>^2</span> + <span class="mxinfo " id="T1:U111"><span class="mxinfo " id="T1:U112"><span class="var type1" id="S4T2U128">omega_li</span>(<span class="mxinfo " id="T6:U114">2</span>)</span>^2</span></span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,25" id="srcline25">25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,26" id="srcline26">26</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on moon gravitational term</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,27" id="srcline27">27</a></span><span class="line"><span class="var type0" id="S14T0U133">A21_moon</span> = <span class="message error" id="M2F104C"><span class="mxinfo " id="T25:U115"><span class="fcn" id="F105N10:B25">moon_term</span></span>(<span class="var type1" id="S3T1U136">X</span>, <span class="var type1" id="S6T2U137">r_st</span>, <span class="mxinfo " id="T1:U118"><span class="var type1" id="S8T4U139">R3BParameters</span>.mu</span>)</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,29" id="srcline29">29</a></span><span class="line"><span class="comment">% SDC parametrizaton dependent on earth gravitational term         </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,30" id="srcline30">30</a></span><span class="line"><span class="var type0" id="S15T0U143">A21_earth</span> = <span class="message error" id="M3F104C"><span class="mxinfo " id="T24:U120"><span class="fcn" id="F106N9:B24">earth_term</span></span>(<span class="var type1" id="S3T1U146">X</span>, <span class="var type1" id="S7T2U147">r_ps</span>, <span class="var type1" id="S6T2U148">r_st</span>, (<span class="mxinfo " id="T1:U124"><span class="mxinfo " id="T1:U125">1</span> - <span class="mxinfo " id="T1:U126"><span class="var type1" id="S8T4U153">R3BParameters</span>.mu</span></span>))</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,31" id="srcline31">31</a></span><span class="line">      </span></span>
<span class="srcline"><span class="lineno"><a href="51,32" id="srcline32">32</a></span><span class="line"><span class="var type0" id="S16T0U157">A21</span> = <span class="var type1" id="S13T3U160">A21_omega</span> + <span class="var type0" id="S14T0U161"><span class="message error" id="M4F104C">A21_moon</span></span> + <span class="var type0" id="S15T0U162">A21_earth</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,33" id="srcline33">33</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,34" id="srcline34">34</a></span><span class="line"><span class="comment">% SDC parametrization Coriolis terms</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,35" id="srcline35">35</a></span><span class="line"><span class="mxinfo " id="T3:U129"><span class="var type1" id="S17T3U165">A22</span> = <span class="mxinfo " id="T3:U131">[            <span class="mxinfo " id="T20:U132"><span class="mxinfo " id="T1:U133">0</span>,  <span class="mxinfo " id="T1:U134"><span class="mxinfo " id="T1:U135">2</span>*<span class="mxinfo " id="T1:U136"><span class="var type1" id="S4T2U172">omega_li</span>(<span class="mxinfo " id="T1:U138">3</span>)</span></span>, <span class="mxinfo " id="T1:U139"><span class="mxinfo " id="T1:U140">-<span class="mxinfo " id="T1:U141">2</span></span>*<span class="mxinfo " id="T1:U142"><span class="var type1" id="S4T2U178">omega_li</span>(<span class="mxinfo " id="T1:U144">2</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,36" id="srcline36">36</a></span><span class="line"> <span class="mxinfo " id="T20:U145"><span class="mxinfo " id="T1:U146"><span class="mxinfo " id="T1:U147">-<span class="mxinfo " id="T1:U148">2</span></span>*<span class="mxinfo " id="T1:U149"><span class="var type1" id="S4T2U185">omega_li</span>(<span class="mxinfo " id="T1:U151">3</span>)</span></span>,            <span class="mxinfo " id="T1:U152">0</span>,  <span class="mxinfo " id="T1:U153"><span class="mxinfo " id="T1:U154">2</span>*<span class="mxinfo " id="T1:U155"><span class="var type1" id="S4T2U191">omega_li</span>(<span class="mxinfo " id="T1:U157">1</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,37" id="srcline37">37</a></span><span class="line">  <span class="mxinfo " id="T20:U158"><span class="mxinfo " id="T1:U159"><span class="mxinfo " id="T1:U160">2</span>*<span class="mxinfo " id="T1:U161"><span class="var type1" id="S4T2U197">omega_li</span>(<span class="mxinfo " id="T1:U163">2</span>)</span></span>, <span class="mxinfo " id="T1:U164"><span class="mxinfo " id="T1:U165">-<span class="mxinfo " id="T1:U166">2</span></span>*<span class="mxinfo " id="T1:U167"><span class="var type1" id="S4T2U203">omega_li</span>(<span class="mxinfo " id="T1:U169">1</span>)</span></span>,            <span class="mxinfo " id="T1:U170">0</span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,38" id="srcline38">38</a></span><span class="line"> </span></span>
<span class="srcline"><span class="lineno"><a href="51,39" id="srcline39">39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,40" id="srcline40">40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,41" id="srcline41">41</a></span><span class="line"><span class="comment">% State Dependent Coefficient Matrix</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,42" id="srcline42">42</a></span><span class="line"><span class="var type0" id="S2T0U208">A</span> = [<span class="mxinfo " id="T26:U171"><span class="mxinfo " id="T3:U172">zeros(<span class="mxinfo " id="T1:U173">3</span>,<span class="mxinfo " id="T1:U174">3</span>)</span>, <span class="mxinfo " id="T3:U175">eye(3)</span></span>; <span class="var type0" id="S16T0U219"><span class="message error" id="M5F104C">A21</span></span>, <span class="var type0" id="S17T0U220">A22</span>];</span></span>
<span class="srcline"><span class="lineno"><a href="51,43" id="srcline43">43</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,44" id="srcline44">44</a></span><span class="line"></span></span>
</pre>
<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,45" id="srcline45">45</a></span><span class="line">function A_m = moon_sdc_term(X, r_st, mu_m)</span></span>
<span class="srcline"><span class="lineno"><a href="51,46" id="srcline46">46</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,47" id="srcline47">47</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,48" id="srcline48">48</a></span><span class="line">x = X(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,49" id="srcline49">49</a></span><span class="line">y = X(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,50" id="srcline50">50</a></span><span class="line">z = X(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,51" id="srcline51">51</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,52" id="srcline52">52</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,53" id="srcline53">53</a></span><span class="line">r_mt = norm(r_st);</span></span>
<span class="srcline"><span class="lineno"><a href="51,54" id="srcline54">54</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,55" id="srcline55">55</a></span><span class="line"><span class="comment">% chaser position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,56" id="srcline56">56</a></span><span class="line">r_mc = norm([x; y; (z - r_mt)]);</span></span>
<span class="srcline"><span class="lineno"><a href="51,57" id="srcline57">57</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,58" id="srcline58">58</a></span><span class="line"><span class="comment">% algebric parameter for Moon gravitational term (usefull in SDC parametrization)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,59" id="srcline59">59</a></span><span class="line">gamma_m = -mu_m*((r_mc^2 + r_mt*r_mc + r_mt^2)/((r_mc + r_mt)*(r_mc^3)*(r_mt^2)));</span></span>
<span class="srcline"><span class="lineno"><a href="51,60" id="srcline60">60</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,61" id="srcline61">61</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,62" id="srcline62">62</a></span><span class="line">A_m = [-mu_m/r_mc^3,          0,           0;</span></span>
<span class="srcline"><span class="lineno"><a href="51,63" id="srcline63">63</a></span><span class="line">                0   , -mu_m/r_mc^3,           0;</span></span>
<span class="srcline"><span class="lineno"><a href="51,64" id="srcline64">64</a></span><span class="line">             gamma_m*x,    gamma_m*y, gamma_m*(z - r_mt) - mu_m/r_mc^3];</span></span>
<span class="srcline"><span class="lineno"><a href="51,65" id="srcline65">65</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,66" id="srcline66">66</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="51,67" id="srcline67">67</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,68" id="srcline68">68</a></span><span class="line">function A_e = earth_sdc_term(X, r_ps, r_st, mu_e)</span></span>
<span class="srcline"><span class="lineno"><a href="51,69" id="srcline69">69</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,70" id="srcline70">70</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,71" id="srcline71">71</a></span><span class="line">x = X(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,72" id="srcline72">72</a></span><span class="line">y = X(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,73" id="srcline73">73</a></span><span class="line">z = X(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,74" id="srcline74">74</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,75" id="srcline75">75</a></span><span class="line"><span class="comment">% distance between Earth-Moon in LVLH frame</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,76" id="srcline76">76</a></span><span class="line">r_em_x = r_ps(1);</span></span>
<span class="srcline"><span class="lineno"><a href="51,77" id="srcline77">77</a></span><span class="line">r_em_y = r_ps(2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,78" id="srcline78">78</a></span><span class="line">r_em_z = r_ps(3);</span></span>
<span class="srcline"><span class="lineno"><a href="51,79" id="srcline79">79</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,80" id="srcline80">80</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,81" id="srcline81">81</a></span><span class="line">r_mt = norm(r_st);</span></span>
<span class="srcline"><span class="lineno"><a href="51,82" id="srcline82">82</a></span><span class="line"><span class="comment">% norm of target position w.r.t. Earth, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,83" id="srcline83">83</a></span><span class="line">r_et = norm(r_st) + norm(r_ps);</span></span>
<span class="srcline"><span class="lineno"><a href="51,84" id="srcline84">84</a></span><span class="line"><span class="comment">% chaser position w.r.t. Earth, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,85" id="srcline85">85</a></span><span class="line">r_ec = norm([(r_em_x + x); (r_em_y + y); (r_em_z + z - r_mt)]);</span></span>
<span class="srcline"><span class="lineno"><a href="51,86" id="srcline86">86</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,87" id="srcline87">87</a></span><span class="line"><span class="comment">% algebric parameters for Earth gravitational term (usefull in SDC parametrization)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,88" id="srcline88">88</a></span><span class="line">gamma_e = mu_e * ((r_ec^2 + r_et*r_ec + r_et^2)/((r_ec + r_et)*(r_ec^3)*(r_et^3)));</span></span>
<span class="srcline"><span class="lineno"><a href="51,89" id="srcline89">89</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,90" id="srcline90">90</a></span><span class="line">A_e = [gamma_e*r_em_x*(2*r_em_x + x) - (mu_e)/r_ec^3, gamma_e*r_em_x*(2*r_em_y + y), gamma_e*r_em_x*(2*(r_em_z - r_mt) + z);</span></span>
<span class="srcline"><span class="lineno"><a href="51,91" id="srcline91">91</a></span><span class="line">          gamma_e*r_em_y*(2*r_em_x + x), gamma_e*r_em_y*(2*r_em_y + y)  - (mu_e)/r_ec^3, gamma_e*r_em_y*(2*(r_em_z - r_mt) + z);</span></span>
<span class="srcline"><span class="lineno"><a href="51,92" id="srcline92">92</a></span><span class="line">          gamma_e*(r_em_z - r_mt)*(2*r_em_x + x), gamma_e*(r_em_z - r_mt)*(2*r_em_y + y), gamma_e*(r_em_z - r_mt)*(2*(r_em_z - r_mt) + z) - (mu_e)/r_ec^3];</span></span>
<span class="srcline"><span class="lineno"><a href="51,93" id="srcline93">93</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,94" id="srcline94">94</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,95" id="srcline95">95</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="51,96" id="srcline96">96</a></span><span class="line"> </span></span>
</pre>
</div>
