<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S3T1">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">X</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T2">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">omega_li</a></td>
<td>Input</td><td class="watchsize" id="11">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T2">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">omegad_li</a></td>
<td>Input</td><td class="watchsize" id="11">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T2">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">r_st</a></td>
<td>Input</td><td class="watchsize" id="11">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T2">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">r_ps</a></td>
<td>Input</td><td class="watchsize" id="11">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1 struct" id="S8T4">
<td class="collapsible"><a class="collapsed" href="#" /></td><td>6</td>
<td id=""><a href="#">R3BParameters</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">struct</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1 S8T4 field" id="S8T4F1">
<td id="blank"></td><td>6.1</td>
<td id=""><a class="field" id="1" href="#">R3BParameters.a</a></td>
<td>Field</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1 S8T4 field" id="S8T4F2">
<td id="blank"></td><td>6.2</td>
<td id=""><a class="field" id="1" href="#">R3BParameters.e</a></td>
<td>Field</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1 S8T4 field" id="S8T4F3">
<td id="blank"></td><td>6.3</td>
<td id=""><a class="field" id="1" href="#">R3BParameters.p</a></td>
<td>Field</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1 S8T4 field" id="S8T4F4">
<td id="blank"></td><td>6.4</td>
<td id=""><a class="field" id="1" href="#">R3BParameters.n</a></td>
<td>Field</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1 S8T4 field" id="S8T4F5">
<td id="blank"></td><td>6.5</td>
<td id=""><a class="field" id="1" href="#">R3BParameters.T</a></td>
<td>Field</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1 S8T4 field" id="S8T4F6">
<td id="blank"></td><td>6.6</td>
<td id=""><a class="field" id="1" href="#">R3BParameters.mu</a></td>
<td>Field</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T24">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">earth_term</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S11T25">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">moon_term</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S13T3">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">A21_omega</a></td>
<td>Local</td><td class="watchsize" id="12">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S17T3">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">A22</a></td>
<td>Local</td><td class="watchsize" id="12">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
