<pre class="code">
<span class="srcline"><span class="lineno"><a href="42,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T2U3">omega_lm</span> = Eqs_LVLHAngVel(<span class="var type1" id="S3T2U6">r_st</span>, <span class="var type1" id="S4T2U7">rd_st_M</span>, <span class="var type1" id="S5T2U8">rdd_st_M</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="42,2" id="srcline2"> 2</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="42,3" id="srcline3"> 3</a></span><span class="line">    <span class="comment">% tutto espresso in LVLH</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,4" id="srcline4"> 4</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="42,5" id="srcline5"> 5</a></span><span class="line">    <span class="mxinfo " id="T2:U5"><span class="var type1" id="S6T2U11">h</span> = <span class="mxinfo " id="T2:U7">cross(<span class="var type1" id="S3T2U14">r_st</span>, <span class="var type1" id="S4T2U15">rd_st_M</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="42,6" id="srcline6"> 6</a></span><span class="line">    <span class="mxinfo " id="T2:U10"><span class="var type1" id="S8T2U18">hd</span> = <span class="mxinfo " id="T2:U12">cross(<span class="var type1" id="S3T2U21">r_st</span>, <span class="var type1" id="S5T2U22">rdd_st_M</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="42,7" id="srcline7"> 7</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="42,8" id="srcline8"> 8</a></span><span class="line">    <span class="mxinfo " id="T2:U15"><span class="var type1" id="S2T2U25">omega_lm</span> = <span class="mxinfo " id="T2:U17">[ <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,9" id="srcline9"> 9</a></span><span class="line">        <span class="mxinfo " id="T5:U18">0</span>; <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,10" id="srcline10">10</a></span><span class="line">        <span class="mxinfo " id="T5:U19"><span class="mxinfo " id="T5:U20">- <span class="mxinfo " id="T5:U21">norm(<span class="var type1" id="S6T2U34">h</span>)</span></span>/<span class="mxinfo " id="T5:U23"><span class="mxinfo " id="T5:U24">norm(<span class="var type1" id="S3T2U38">r_st</span>)</span>^2</span></span>; <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,11" id="srcline11">11</a></span><span class="line">        <span class="mxinfo " id="T5:U26"><span class="mxinfo " id="T5:U27"><span class="mxinfo " id="T5:U28">norm(<span class="var type1" id="S3T2U45">r_st</span>)</span>*<span class="mxinfo " id="T5:U30">dot(<span class="var type1" id="S4T2U48">rd_st_M</span>, <span class="var type1" id="S8T2U49">hd</span>)</span></span>/<span class="mxinfo " id="T5:U33"><span class="mxinfo " id="T5:U34">norm(<span class="var type1" id="S6T2U53">h</span>)</span>^2</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="42,12" id="srcline12">12</a></span><span class="line">    ]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="42,13" id="srcline13">13</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="42,14" id="srcline14">14</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,15" id="srcline15">15</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="42,16" id="srcline16">16</a></span><span class="line"><span class="comment">% Vecchia funzione</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,17" id="srcline17">17</a></span><span class="line"><span class="comment">% function omega_lm = RelativeMotion_AngVel(r_st, rd_st_M, rdd_st_M)</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,18" id="srcline18">18</a></span><span class="line"><span class="comment">%     </span></span></span>
<span class="srcline"><span class="lineno"><a href="42,19" id="srcline19">19</a></span><span class="line"><span class="comment">%     % tutto espresso in LVLH</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,20" id="srcline20">20</a></span><span class="line"><span class="comment">%     </span></span></span>
<span class="srcline"><span class="lineno"><a href="42,21" id="srcline21">21</a></span><span class="line"><span class="comment">%     omega_lm = [ <span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="42,22" id="srcline22">22</a></span><span class="line"><span class="comment">%         0; <span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="42,23" id="srcline23">23</a></span><span class="line"><span class="comment">%         - rd_st_M(1)/norm(r_st); <span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="42,24" id="srcline24">24</a></span><span class="line"><span class="comment">%         norm(r_st)*rdd_st_M(2)/norm(cross(r_st,rd_st_M)); <span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="42,25" id="srcline25">25</a></span><span class="line"><span class="comment">%     ];</span></span></span>
<span class="srcline"><span class="lineno"><a href="42,26" id="srcline26">26</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="42,27" id="srcline27">27</a></span><span class="line"><span class="comment">% end</span></span></span>
</pre>
