<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T2">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">omegad_lm_L</a></td>
<td>Output</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T2">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">r_st</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T2">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">rd_st_M</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T2">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">rdd_st_M</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T2">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">rddd_st_M</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T2">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">omega_lm</a></td>
<td>Local</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T2">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">h</a></td>
<td>Local</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S11T2">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">hd</a></td>
<td>Local</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T5">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">r_normd</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S15T5">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">h_normd</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S16T5">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">omegad_lm_y</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S17T5">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">omegad_lm_z</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
