<pre class="code">
<span class="srcline"><span class="lineno"><a href="38,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T2U3">rddd_st_M</span> = Eqs_SpacecraftJerk(<span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,2" id="srcline2"> 2</a></span><span class="line">    <span class="var type1" id="S3T2U6">r_st</span>, <span class="var type1" id="S4T2U7">rd_st_M</span>, <span class="var type1" id="S5T2U8">rdd_st_M</span>, <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,3" id="srcline3"> 3</a></span><span class="line">    <span class="var type1" id="S6T2U9">r_ps</span>, <span class="var type1" id="S7T2U10">rd_ps_E</span>, <span class="var type1" id="S8T2U11">omega_sp</span>, <span class="var type1" id="S9T2U12">omegad_sp_M</span>, <span class="var type1" id="S10T2U13">omegadd_sp_M</span>, <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,4" id="srcline4"> 4</a></span><span class="line">    <span class="var type1" id="S11T5U14">mu</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="38,5" id="srcline5"> 5</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="38,6" id="srcline6"> 6</a></span><span class="line">    <span class="mxinfo " id="T3:U11"><span class="var type1" id="S12T3U17">J_r_mt</span> = <span class="mxinfo " id="T3:U13"><span class="fcn" id="F58N7:B19">GravJacobian</span>(<span class="var type1" id="S3T2U20">r_st</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="38,7" id="srcline7"> 7</a></span><span class="line">    <span class="mxinfo " id="T3:U15"><span class="var type1" id="S14T3U23">J_r_et</span> = <span class="mxinfo " id="T3:U17"><span class="fcn" id="F58N7:B25">GravJacobian</span>(<span class="mxinfo " id="T2:U18"><span class="var type1" id="S3T2U27">r_st</span> + <span class="var type1" id="S6T2U28">r_ps</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="38,8" id="srcline8"> 8</a></span><span class="line">    <span class="mxinfo " id="T3:U21"><span class="var type1" id="S15T3U31">J_r_em</span> = <span class="mxinfo " id="T3:U23"><span class="fcn" id="F58N7:B33">GravJacobian</span>(<span class="var type1" id="S6T2U34">r_ps</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="38,9" id="srcline9"> 9</a></span><span class="line">     </span></span>
<span class="srcline"><span class="lineno"><a href="38,10" id="srcline10">10</a></span><span class="line">    <span class="mxinfo " id="T2:U25"><span class="var type1" id="S16T2U37">rd_mt_E</span> = <span class="mxinfo " id="T2:U27"><span class="var type1" id="S4T2U39">rd_st_M</span> + <span class="mxinfo " id="T2:U29">cross(<span class="var type1" id="S8T2U42">omega_sp</span>, <span class="var type1" id="S3T2U43">r_st</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="38,11" id="srcline11">11</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="38,12" id="srcline12">12</a></span><span class="line">    <span class="mxinfo " id="T2:U32"><span class="var type1" id="S18T2U46">rddd_mt_E</span> = <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,13" id="srcline13">13</a></span><span class="line">        <span class="mxinfo " id="T2:U34"><span class="mxinfo " id="T2:U35"><span class="mxinfo " id="T3:U36"><span class="mxinfo " id="T5:U37">- <span class="var type1" id="S11T5U51">mu</span></span> * <span class="var type1" id="S12T3U52">J_r_mt</span></span> * <span class="var type1" id="S16T2U53">rd_mt_E</span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,14" id="srcline14">14</a></span><span class="line">        - <span class="mxinfo " id="T2:U41">(<span class="mxinfo " id="T5:U42"><span class="mxinfo " id="T5:U43">1</span> - <span class="var type1" id="S11T5U58">mu</span></span>) * (<span class="mxinfo " id="T2:U45"><span class="mxinfo " id="T2:U46"><span class="var type1" id="S14T3U62">J_r_et</span> * (<span class="mxinfo " id="T2:U48"><span class="var type1" id="S16T2U65">rd_mt_E</span> + <span class="var type1" id="S7T2U66">rd_ps_E</span></span>)</span> - <span class="mxinfo " id="T2:U51"><span class="var type1" id="S15T3U68">J_r_em</span> * <span class="var type1" id="S7T2U69">rd_ps_E</span></span></span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="38,15" id="srcline15">15</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="38,16" id="srcline16">16</a></span><span class="line">    <span class="mxinfo " id="T2:U54"><span class="var type1" id="S2T2U72">rddd_st_M</span> = <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,17" id="srcline17">17</a></span><span class="line">        <span class="mxinfo " id="T2:U56"><span class="mxinfo " id="T2:U57"><span class="mxinfo " id="T2:U58"><span class="mxinfo " id="T2:U59"><span class="mxinfo " id="T2:U60"><span class="mxinfo " id="T2:U61"><span class="mxinfo " id="T2:U62"><span class="var type1" id="S18T2U80">rddd_mt_E</span> <span class="keyword">...</span><span class="comment"> </span></span></span>
<span class="srcline"><span class="lineno"><a href="38,18" id="srcline18">18</a></span><span class="line">        - <span class="mxinfo " id="T2:U64"><span class="mxinfo " id="T5:U65">3</span> * <span class="mxinfo " id="T2:U66">cross(<span class="var type1" id="S9T2U85">omegad_sp_M</span>, <span class="var type1" id="S4T2U86">rd_st_M</span>)</span></span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,19" id="srcline19">19</a></span><span class="line">        - <span class="mxinfo " id="T2:U69"><span class="mxinfo " id="T5:U70">3</span> * <span class="mxinfo " id="T2:U71">cross(<span class="var type1" id="S8T2U91">omega_sp</span>, <span class="var type1" id="S5T2U92">rdd_st_M</span>)</span></span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,20" id="srcline20">20</a></span><span class="line">        - <span class="mxinfo " id="T2:U74">cross(<span class="var type1" id="S10T2U95">omegadd_sp_M</span>, <span class="var type1" id="S3T2U96">r_st</span>)</span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,21" id="srcline21">21</a></span><span class="line">        - <span class="mxinfo " id="T2:U77"><span class="mxinfo " id="T5:U78">3</span> * <span class="mxinfo " id="T2:U79">cross(<span class="var type1" id="S8T2U101">omega_sp</span>, <span class="mxinfo " id="T2:U81">cross(<span class="var type1" id="S8T2U104">omega_sp</span>, <span class="var type1" id="S4T2U105">rd_st_M</span>)</span>)</span></span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,22" id="srcline22">22</a></span><span class="line">        - <span class="mxinfo " id="T2:U84"><span class="mxinfo " id="T5:U85">2</span> * <span class="mxinfo " id="T2:U86">cross(<span class="var type1" id="S9T2U110">omegad_sp_M</span>, <span class="mxinfo " id="T2:U88">cross(<span class="var type1" id="S8T2U113">omega_sp</span>, <span class="var type1" id="S3T2U114">r_st</span>)</span>)</span></span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,23" id="srcline23">23</a></span><span class="line">        - <span class="mxinfo " id="T2:U91">cross(<span class="var type1" id="S8T2U117">omega_sp</span>, <span class="mxinfo " id="T2:U93">cross(<span class="var type1" id="S9T2U120">omegad_sp_M</span>, <span class="var type1" id="S3T2U121">r_st</span>)</span>)</span></span> <span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="38,24" id="srcline24">24</a></span><span class="line">        - <span class="mxinfo " id="T2:U96">cross(<span class="var type1" id="S8T2U124">omega_sp</span>, <span class="mxinfo " id="T2:U98">cross(<span class="var type1" id="S8T2U127">omega_sp</span>, <span class="mxinfo " id="T2:U100">cross(<span class="var type1" id="S8T2U130">omega_sp</span>, <span class="var type1" id="S3T2U131">r_st</span>)</span>)</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="38,25" id="srcline25">25</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
