<pre class="code">
<span class="srcline"><span class="lineno"><a href="39,1" id="srcline1">1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T3U3">J</span> = GravJacobian(<span class="var type1" id="S3T2U6">x</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="39,2" id="srcline2">2</a></span><span class="line">    <span class="mxinfo " id="T3:U3"><span class="var type1" id="S2T3U9">J</span> = <span class="mxinfo " id="T3:U5">(<span class="mxinfo " id="T3:U6"><span class="mxinfo " id="T3:U7">eye(3)</span> - <span class="mxinfo " id="T3:U8"><span class="mxinfo " id="T3:U9"><span class="mxinfo " id="T5:U10">3</span>*(<span class="mxinfo " id="T3:U11"><span class="var type1" id="S3T2U21">x</span>*<span class="mxinfo " id="T21:U13"><span class="var type1" id="S3T2U23">x</span>'</span></span>)</span>/<span class="mxinfo " id="T5:U15"><span class="mxinfo " id="T5:U16">norm(<span class="var type1" id="S3T2U27">x</span>)</span>^2</span></span></span>)/<span class="mxinfo " id="T5:U18"><span class="mxinfo " id="T5:U19">norm(<span class="var type1" id="S3T2U32">x</span>)</span>^3</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="39,3" id="srcline3">3</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
