<pre class="code">
<span class="srcline"><span class="lineno"><a href="51,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> [ <span class="var type0" id="S2T0U3">A</span> ] = jacobian_matrix_A(<span class="var type1" id="S3T1U6">X</span>, <span class="var type1" id="S4T2U7">omega_li</span>, <span class="var type1" id="S5T2U8">omegad_li_L</span>, <span class="var type1" id="S6T2U9">r_st</span>, <span class="var type1" id="S7T2U10">r_ps</span>, <span class="var type1" id="S8T5U11">mu</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="51,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function computes jacobian of State Transition matrix of</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% relative motion in R3BP (Restricted Three Body Problem)</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% r_ps          : distance between Earth-Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% r_st          : target position w.r.t. Moon, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% mu_n          : gravitationa paraneter (normalized);</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% X             : relative positions and velocities, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,10" id="srcline10">10</a></span><span class="line"><span class="comment">% omega_li      : angular velocity of LVLH frame w.r.t. inertial frame, in LVLH frame; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,11" id="srcline11">11</a></span><span class="line"><span class="comment">% omegad_li     : angular acceleration of LVLH frame w.r.t. inertial frame, in LVLH frame;</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,12" id="srcline12">12</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,13" id="srcline13">13</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,14" id="srcline14">14</a></span><span class="line"><span class="comment">% A             : SDC parametrization matrix; </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,15" id="srcline15">15</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,16" id="srcline16">16</a></span><span class="line"><span class="comment">% relative position</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,17" id="srcline17">17</a></span><span class="line"><span class="mxinfo " id="T2:U7"><span class="var type1" id="S9T2U14">rho</span> = <span class="mxinfo " id="T2:U9"><span class="var type1" id="S3T1U16">X</span>(<span class="mxinfo " id="T21:U11"><span class="mxinfo " id="T5:U12">1</span>:<span class="mxinfo " id="T5:U13">3</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,18" id="srcline18">18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,19" id="srcline19">19</a></span><span class="line"><span class="comment">% Jacobian </span></span></span>
<span class="srcline"><span class="lineno"><a href="51,20" id="srcline20">20</a></span><span class="line"><span class="mxinfo " id="T3:U14"><span class="var type1" id="S10T3U22">A11</span> = <span class="mxinfo " id="T3:U16">zeros(<span class="mxinfo " id="T5:U17">3</span>,<span class="mxinfo " id="T5:U18">3</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,21" id="srcline21">21</a></span><span class="line"><span class="mxinfo " id="T3:U19"><span class="var type1" id="S12T3U29">A12</span> = <span class="mxinfo " id="T3:U21">eye(3)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,22" id="srcline22">22</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,23" id="srcline23">23</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,24" id="srcline24">24</a></span><span class="line"><span class="var type0" id="S14T0U35">A21</span> = [ <span class="mxinfo " id="T5:U22"><span class="mxinfo " id="T5:U23"><span class="mxinfo " id="T5:U24">(<span class="mxinfo " id="T5:U25"><span class="mxinfo " id="T5:U26"><span class="mxinfo " id="T5:U27">1</span>/<span class="mxinfo " id="T5:U28">(<span class="mxinfo " id="T5:U29"><span class="mxinfo " id="T5:U30"><span class="mxinfo " id="T5:U31"><span class="mxinfo " id="T5:U32">abs(<span class="mxinfo " id="T5:U33"><span class="mxinfo " id="T5:U34"><span class="mxinfo " id="T5:U35"><span class="var type1" id="S7T2U56">r_ps</span>(<span class="mxinfo " id="T7:U37">1</span>)</span> + <span class="mxinfo " id="T5:U38"><span class="var type1" id="S6T2U59">r_st</span>(<span class="mxinfo " id="T5:U40">1</span>)</span></span> + <span class="mxinfo " id="T5:U41"><span class="var type1" id="S9T2U62">rho</span>(<span class="mxinfo " id="T5:U43">1</span>)</span></span>)</span>^2</span> + <span class="mxinfo " id="T5:U44"><span class="mxinfo " id="T5:U45">abs(<span class="mxinfo " id="T5:U46"><span class="mxinfo " id="T5:U47"><span class="mxinfo " id="T5:U48"><span class="var type1" id="S7T2U71">r_ps</span>(<span class="mxinfo " id="T7:U50">2</span>)</span> + <span class="mxinfo " id="T5:U51"><span class="var type1" id="S6T2U74">r_st</span>(<span class="mxinfo " id="T5:U53">2</span>)</span></span> + <span class="mxinfo " id="T5:U54"><span class="var type1" id="S9T2U77">rho</span>(<span class="mxinfo " id="T5:U56">2</span>)</span></span>)</span>^2</span></span> + <span class="mxinfo " id="T5:U57"><span class="mxinfo " id="T5:U58">abs(<span class="mxinfo " id="T5:U59"><span class="mxinfo " id="T5:U60"><span class="mxinfo " id="T5:U61"><span class="var type1" id="S7T2U86">r_ps</span>(<span class="mxinfo " id="T7:U63">3</span>)</span> + <span class="mxinfo " id="T5:U64"><span class="var type1" id="S6T2U89">r_st</span>(<span class="mxinfo " id="T5:U66">3</span>)</span></span> + <span class="mxinfo " id="T5:U67"><span class="var type1" id="S9T2U92">rho</span>(<span class="mxinfo " id="T5:U69">3</span>)</span></span>)</span>^2</span></span>)^(3/2)</span></span> - <span class="mxinfo " id="T5:U70">(<span class="mxinfo " id="T5:U71"><span class="mxinfo " id="T5:U72"><span class="mxinfo " id="T5:U73"><span class="mxinfo " id="T5:U74">3</span>*<span class="mxinfo " id="T5:U75">abs(<span class="mxinfo " id="T5:U76"><span class="mxinfo " id="T5:U77"><span class="mxinfo " id="T5:U78"><span class="var type1" id="S7T2U110">r_ps</span>(<span class="mxinfo " id="T7:U80">1</span>)</span> + <span class="mxinfo " id="T5:U81"><span class="var type1" id="S6T2U113">r_st</span>(<span class="mxinfo " id="T5:U83">1</span>)</span></span> + <span class="mxinfo " id="T5:U84"><span class="var type1" id="S9T2U116">rho</span>(<span class="mxinfo " id="T5:U86">1</span>)</span></span>)</span></span>*<span class="mxinfo " id="T5:U87">sign(<span class="mxinfo " id="T5:U88"><span class="mxinfo " id="T5:U89"><span class="mxinfo " id="T5:U90"><span class="var type1" id="S7T2U123">r_ps</span>(<span class="mxinfo " id="T7:U92">1</span>)</span> + <span class="mxinfo " id="T5:U93"><span class="var type1" id="S6T2U126">r_st</span>(<span class="mxinfo " id="T5:U95">1</span>)</span></span> + <span class="mxinfo " id="T5:U96"><span class="var type1" id="S9T2U129">rho</span>(<span class="mxinfo " id="T5:U98">1</span>)</span></span>)</span></span>*(<span class="mxinfo " id="T5:U99"><span class="mxinfo " id="T5:U100"><span class="mxinfo " id="T5:U101"><span class="var type1" id="S7T2U135">r_ps</span>(<span class="mxinfo " id="T5:U103">1</span>)</span> + <span class="mxinfo " id="T5:U104"><span class="var type1" id="S6T2U138">r_st</span>(<span class="mxinfo " id="T5:U106">1</span>)</span></span> + <span class="mxinfo " id="T5:U107"><span class="var type1" id="S9T2U141">rho</span>(<span class="mxinfo " id="T5:U109">1</span>)</span></span>)</span>)/<span class="mxinfo " id="T5:U110">(<span class="mxinfo " id="T5:U111"><span class="mxinfo " id="T5:U112"><span class="mxinfo " id="T5:U113"><span class="mxinfo " id="T5:U114">abs(<span class="mxinfo " id="T5:U115"><span class="mxinfo " id="T5:U116"><span class="mxinfo " id="T5:U117"><span class="var type1" id="S7T2U153">r_ps</span>(<span class="mxinfo " id="T7:U119">1</span>)</span> + <span class="mxinfo " id="T5:U120"><span class="var type1" id="S6T2U156">r_st</span>(<span class="mxinfo " id="T5:U122">1</span>)</span></span> + <span class="mxinfo " id="T5:U123"><span class="var type1" id="S9T2U159">rho</span>(<span class="mxinfo " id="T5:U125">1</span>)</span></span>)</span>^2</span> + <span class="mxinfo " id="T5:U126"><span class="mxinfo " id="T5:U127">abs(<span class="mxinfo " id="T5:U128"><span class="mxinfo " id="T5:U129"><span class="mxinfo " id="T5:U130"><span class="var type1" id="S7T2U168">r_ps</span>(<span class="mxinfo " id="T7:U132">2</span>)</span> + <span class="mxinfo " id="T5:U133"><span class="var type1" id="S6T2U171">r_st</span>(<span class="mxinfo " id="T5:U135">2</span>)</span></span> + <span class="mxinfo " id="T5:U136"><span class="var type1" id="S9T2U174">rho</span>(<span class="mxinfo " id="T5:U138">2</span>)</span></span>)</span>^2</span></span> + <span class="mxinfo " id="T5:U139"><span class="mxinfo " id="T5:U140">abs(<span class="mxinfo " id="T5:U141"><span class="mxinfo " id="T5:U142"><span class="mxinfo " id="T5:U143"><span class="var type1" id="S7T2U183">r_ps</span>(<span class="mxinfo " id="T7:U145">3</span>)</span> + <span class="mxinfo " id="T5:U146"><span class="var type1" id="S6T2U186">r_st</span>(<span class="mxinfo " id="T5:U148">3</span>)</span></span> + <span class="mxinfo " id="T5:U149"><span class="var type1" id="S9T2U189">rho</span>(<span class="mxinfo " id="T5:U151">3</span>)</span></span>)</span>^2</span></span>)^(5/2)</span></span></span>)*(<span class="mxinfo " id="T5:U152"><span class="var type1" id="S8T5U198">mu</span> - <span class="mxinfo " id="T5:U154">1</span></span>)</span> + <span class="mxinfo " id="T5:U155"><span class="mxinfo " id="T5:U156"><span class="var type1" id="S4T2U202">omega_li</span>(<span class="mxinfo " id="T7:U158">2</span>)</span>^2</span></span> + <span class="mxinfo " id="T5:U159"><span class="mxinfo " id="T5:U160"><span class="var type1" id="S4T2U207">omega_li</span>(<span class="mxinfo " id="T7:U162">3</span>)</span>^2</span></span> - (<span class="var type1" id="S8T5U213">mu</span>*(<span class="mxinfo " id="T5:U164"><span class="mxinfo " id="T5:U165">(<span class="mxinfo " id="T5:U166"><span class="mxinfo " id="T5:U167"><span class="var type1" id="S6T2U224">r_st</span>(<span class="mxinfo " id="T7:U169">1</span>)</span> + <span class="mxinfo " id="T5:U170"><span class="var type1" id="S9T2U227">rho</span>(<span class="mxinfo " id="T5:U172">1</span>)</span></span>)^2</span>/<span class="mxinfo " id="T5:U173"><span class="mxinfo " id="T5:U174">sign(<span class="mxinfo " id="T5:U175"><span class="mxinfo " id="T5:U176"><span class="var type1" id="S6T2U235">r_st</span>(<span class="mxinfo " id="T7:U178">1</span>)</span> + <span class="mxinfo " id="T5:U179"><span class="var type1" id="S9T2U238">rho</span>(<span class="mxinfo " id="T5:U181">1</span>)</span></span>)</span>^2</span></span> - <span class="mxinfo " id="T5:U182">3</span>*<span class="message error" id="M2F104C">rho_1</span>*(<span class="var type0" id="S6T0U249">r_st</span>(1) + <span class="var type0" id="S9T0U252">rho</span>(1)) - 3*<span class="var type0" id="S6T0U258">r_st</span>(1)*(<span class="var type0" id="S6T0U263">r_st</span>(1) + <span class="var type0" id="S9T0U266">rho</span>(1)) + (<span class="var type0" id="S6T0U273">r_st</span>(2) + <span class="var type0" id="S9T0U276">rho</span>(2))^2/sign(<span class="var type0" id="S6T0U284">r_st</span>(2) + <span class="var type0" id="S9T0U287">rho</span>(2))^2 + (<span class="var type0" id="S6T0U295">r_st</span>(3) + <span class="var type0" id="S9T0U298">rho</span>(3))^2/sign(<span class="var type0" id="S6T0U306">r_st</span>(3) + <span class="var type0" id="S9T0U309">rho</span>(3))^2))/(abs(<span class="var type0" id="S6T0U321">r_st</span>(1) + <span class="var type0" id="S9T0U324">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U332">r_st</span>(2) + <span class="var type0" id="S9T0U335">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U343">r_st</span>(3) + <span class="var type0" id="S9T0U346">rho</span>(3))^2)^(5/2),                                                                                                                                                                                                                                     <span class="var type0" id="S5T0U357">omegad_li_L</span>(3) - <span class="var type0" id="S4T0U361">omega_li</span>(1)*<span class="var type0" id="S4T0U364">omega_li</span>(2) + (3*<span class="var type0" id="S8T0U373">mu</span>*abs(<span class="var type0" id="S6T0U378">r_st</span>(2) + <span class="var type0" id="S9T0U381">rho</span>(2))*sign(<span class="var type0" id="S6T0U387">r_st</span>(2) + <span class="var type0" id="S9T0U390">rho</span>(2))*(<span class="var type0" id="S6T0U395">r_st</span>(1) + <span class="var type0" id="S9T0U398">rho</span>(1)))/(abs(<span class="var type0" id="S6T0U409">r_st</span>(1) + <span class="var type0" id="S9T0U412">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U420">r_st</span>(2) + <span class="var type0" id="S9T0U423">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U431">r_st</span>(3) + <span class="var type0" id="S9T0U434">rho</span>(3))^2)^(5/2) - (3*abs(<span class="var type0" id="S7T0U453">r_ps</span>(2) + <span class="var type0" id="S6T0U456">r_st</span>(2) + <span class="var type0" id="S9T0U459">rho</span>(2))*sign(<span class="var type0" id="S7T0U466">r_ps</span>(2) + <span class="var type0" id="S6T0U469">r_st</span>(2) + <span class="var type0" id="S9T0U472">rho</span>(2))*(<span class="var type0" id="S8T0U476">mu</span> - 1)*(<span class="var type0" id="S7T0U482">r_ps</span>(1) + <span class="var type0" id="S6T0U485">r_st</span>(1) + <span class="var type0" id="S9T0U488">rho</span>(1)))/(abs(<span class="var type0" id="S7T0U500">r_ps</span>(1) + <span class="var type0" id="S6T0U503">r_st</span>(1) + <span class="var type0" id="S9T0U506">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U515">r_ps</span>(2) + <span class="var type0" id="S6T0U518">r_st</span>(2) + rho_2)^2 + abs(<span class="var type0" id="S7T0U529">r_ps</span>(3) + <span class="var type0" id="S6T0U532">r_st</span>(3) + <span class="var type0" id="S9T0U535">rho</span>(3))^2)^(5/2),                                                                                                                                                                                                                                     (3*<span class="var type0" id="S8T0U552">mu</span>*abs(<span class="var type0" id="S6T0U557">r_st</span>(3) + <span class="var type0" id="S9T0U560">rho</span>(3))*sign(<span class="var type0" id="S6T0U566">r_st</span>(3) + <span class="var type0" id="S9T0U569">rho</span>(3))*(<span class="var type0" id="S6T0U574">r_st</span>(1) + <span class="var type0" id="S9T0U577">rho</span>(1)))/(abs(<span class="var type0" id="S6T0U588">r_st</span>(1) + <span class="var type0" id="S9T0U591">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U599">r_st</span>(2) + <span class="var type0" id="S9T0U602">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U610">r_st</span>(3) + <span class="var type0" id="S9T0U613">rho</span>(3))^2)^(5/2) - <span class="var type0" id="S4T0U622">omega_li</span>(1)*<span class="var type0" id="S4T0U625">omega_li</span>(3) - <span class="var type0" id="S5T0U628">omegad_li_L</span>(2) - (3*abs(<span class="var type0" id="S7T0U642">r_ps</span>(3) + <span class="var type0" id="S6T0U645">r_st</span>(3) + <span class="var type0" id="S9T0U648">rho</span>(3))*sign(<span class="var type0" id="S7T0U655">r_ps</span>(3) + <span class="var type0" id="S6T0U658">r_st</span>(3) + <span class="var type0" id="S9T0U661">rho</span>(3))*(<span class="var type0" id="S8T0U665">mu</span> - 1)*(<span class="var type0" id="S7T0U671">r_ps</span>(1) + <span class="var type0" id="S6T0U674">r_st</span>(1) + <span class="var type0" id="S9T0U677">rho</span>(1)))/(abs(<span class="var type0" id="S7T0U689">r_ps</span>(1) + <span class="var type0" id="S6T0U692">r_st</span>(1) + <span class="var type0" id="S9T0U695">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U704">r_ps</span>(2) + <span class="var type0" id="S6T0U707">r_st</span>(2) + <span class="var type0" id="S9T0U710">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U719">r_ps</span>(3) + <span class="var type0" id="S6T0U722">r_st</span>(3) + <span class="var type0" id="S9T0U725">rho</span>(3))^2)^(5/2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,25" id="srcline25">25</a></span><span class="line">                                                                                                                                                                                                                                     (3*<span class="var type0" id="S8T0U743">mu</span>*abs(<span class="var type0" id="S6T0U748">r_st</span>(1) + <span class="var type0" id="S9T0U751">rho</span>(1))*sign(<span class="var type0" id="S6T0U757">r_st</span>(1) + <span class="var type0" id="S9T0U760">rho</span>(1))*(<span class="var type0" id="S6T0U765">r_st</span>(2) + <span class="var type0" id="S9T0U768">rho</span>(2)))/(abs(<span class="var type0" id="S6T0U779">r_st</span>(1) + <span class="var type0" id="S9T0U782">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U790">r_st</span>(2) + <span class="var type0" id="S9T0U793">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U801">r_st</span>(3) + <span class="var type0" id="S9T0U804">rho</span>(3))^2)^(5/2) - <span class="var type0" id="S4T0U813">omega_li</span>(1)*<span class="var type0" id="S4T0U816">omega_li</span>(2) - <span class="var type0" id="S5T0U819">omegad_li_L</span>(3) - (3*abs(<span class="var type0" id="S7T0U833">r_ps</span>(1) + <span class="var type0" id="S6T0U836">r_st</span>(1) + <span class="var type0" id="S9T0U839">rho</span>(1))*sign(<span class="var type0" id="S7T0U846">r_ps</span>(1) + <span class="var type0" id="S6T0U849">r_st</span>(1) + <span class="var type0" id="S9T0U852">rho</span>(1))*(<span class="var type0" id="S8T0U856">mu</span> - 1)*(<span class="var type0" id="S7T0U862">r_ps</span>(2) + <span class="var type0" id="S6T0U865">r_st</span>(2) + <span class="var type0" id="S9T0U868">rho</span>(2)))/(abs(<span class="var type0" id="S7T0U880">r_ps</span>(1) + <span class="var type0" id="S6T0U883">r_st</span>(1) + <span class="var type0" id="S9T0U886">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U895">r_ps</span>(2) + <span class="var type0" id="S6T0U898">r_st</span>(2) + <span class="var type0" id="S9T0U901">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U910">r_ps</span>(3) + <span class="var type0" id="S6T0U913">r_st</span>(3) + <span class="var type0" id="S9T0U916">rho</span>(3))^2)^(5/2), (1/(abs(<span class="var type0" id="S7T0U941">r_ps</span>(1) + <span class="var type0" id="S6T0U944">r_st</span>(1) + <span class="var type0" id="S9T0U947">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U956">r_ps</span>(2) + <span class="var type0" id="S6T0U959">r_st</span>(2) + <span class="var type0" id="S9T0U962">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U971">r_ps</span>(3) + <span class="var type0" id="S6T0U974">r_st</span>(3) + <span class="var type0" id="S9T0U977">rho</span>(3))^2)^(3/2) - (3*abs(<span class="var type0" id="S7T0U995">r_ps</span>(2) + <span class="var type0" id="S6T0U998">r_st</span>(2) + <span class="var type0" id="S9T0U1001">rho</span>(2))*sign(<span class="var type0" id="S7T0U1008">r_ps</span>(2) + <span class="var type0" id="S6T0U1011">r_st</span>(2) + <span class="var type0" id="S9T0U1014">rho</span>(2))*(<span class="var type0" id="S7T0U1020">r_ps</span>(2) + <span class="var type0" id="S6T0U1023">r_st</span>(2) + <span class="var type0" id="S9T0U1026">rho</span>(2)))/(abs(<span class="var type0" id="S7T0U1038">r_ps</span>(1) + <span class="var type0" id="S6T0U1041">r_st</span>(1) + <span class="var type0" id="S9T0U1044">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U1053">r_ps</span>(2) + <span class="var type0" id="S6T0U1056">r_st</span>(2) + <span class="var type0" id="S9T0U1059">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U1068">r_ps</span>(3) + <span class="var type0" id="S6T0U1071">r_st</span>(3) + <span class="var type0" id="S9T0U1074">rho</span>(3))^2)^(5/2))*(<span class="var type0" id="S8T0U1083">mu</span> - 1) + <span class="var type0" id="S4T0U1087">omega_li</span>(1)^2 + <span class="var type0" id="S4T0U1092">omega_li</span>(3)^2 - (<span class="var type0" id="S8T0U1098">mu</span>*((<span class="var type0" id="S6T0U1109">r_st</span>(1) + <span class="var type0" id="S9T0U1112">rho</span>(1))^2/sign(<span class="var type0" id="S6T0U1120">r_st</span>(1) + <span class="var type0" id="S9T0U1123">rho</span>(1))^2 - 3*<span class="var type0" id="S9T0U1130">rho</span>(2)*(<span class="var type0" id="S6T0U1135">r_st</span>(2) + <span class="var type0" id="S9T0U1138">rho</span>(2)) - 3*<span class="var type0" id="S6T0U1144">r_st</span>(2)*(<span class="var type0" id="S6T0U1149">r_st</span>(2) + <span class="var type0" id="S9T0U1152">rho</span>(2)) + (<span class="var type0" id="S6T0U1159">r_st</span>(2) + <span class="var type0" id="S9T0U1162">rho</span>(2))^2/sign(<span class="var type0" id="S6T0U1170">r_st</span>(2) + <span class="var type0" id="S9T0U1173">rho</span>(2))^2 + (<span class="var type0" id="S6T0U1181">r_st</span>(3) + <span class="var type0" id="S9T0U1184">rho</span>(3))^2/sign(<span class="var type0" id="S6T0U1192">r_st</span>(3) + <span class="var type0" id="S9T0U1195">rho</span>(3))^2))/(abs(<span class="var type0" id="S6T0U1207">r_st</span>(1) + <span class="var type0" id="S9T0U1210">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U1218">r_st</span>(2) + <span class="var type0" id="S9T0U1221">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U1229">r_st</span>(3) + <span class="var type0" id="S9T0U1232">rho</span>(3))^2)^(5/2),                                                                                                                                                                                                                                     <span class="var type0" id="S5T0U1243">omegad_li_L</span>(1) - <span class="var type0" id="S4T0U1247">omega_li</span>(2)*<span class="var type0" id="S4T0U1250">omega_li</span>(3) + (3*<span class="var type0" id="S8T0U1259">mu</span>*abs(<span class="var type0" id="S6T0U1264">r_st</span>(3) + <span class="var type0" id="S9T0U1267">rho</span>(3))*sign(<span class="var type0" id="S6T0U1273">r_st</span>(3) + rho_3)*(<span class="var type0" id="S6T0U1280">r_st</span>(2) + <span class="var type0" id="S9T0U1283">rho</span>(2)))/(abs(<span class="var type0" id="S6T0U1294">r_st</span>(1) + <span class="var type0" id="S9T0U1297">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U1305">r_st</span>(2) + <span class="var type0" id="S9T0U1308">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U1316">r_st</span>(3) + <span class="var type0" id="S9T0U1319">rho</span>(3))^2)^(5/2) - (3*abs(<span class="var type0" id="S7T0U1338">r_ps</span>(3) + <span class="var type0" id="S6T0U1341">r_st</span>(3) + <span class="var type0" id="S9T0U1344">rho</span>(3))*sign(<span class="var type0" id="S7T0U1351">r_ps</span>(3) + <span class="var type0" id="S6T0U1354">r_st</span>(3) + <span class="var type0" id="S9T0U1357">rho</span>(3))*(<span class="var type0" id="S8T0U1361">mu</span> - 1)*(<span class="var type0" id="S7T0U1367">r_ps</span>(2) + <span class="var type0" id="S6T0U1370">r_st</span>(2) + <span class="var type0" id="S9T0U1373">rho</span>(2)))/(abs(<span class="var type0" id="S7T0U1385">r_ps</span>(1) + <span class="var type0" id="S6T0U1388">r_st</span>(1) + <span class="var type0" id="S9T0U1391">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U1400">r_ps</span>(2) + <span class="var type0" id="S6T0U1403">r_st</span>(2) + <span class="var type0" id="S9T0U1406">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U1415">r_ps</span>(3) + <span class="var type0" id="S6T0U1418">r_st</span>(3) + <span class="var type0" id="S9T0U1421">rho</span>(3))^2)^(5/2);</span></span>
<span class="srcline"><span class="lineno"><a href="51,26" id="srcline26">26</a></span><span class="line">                                                                                                                                                                                                                                     <span class="var type0" id="S5T0U1433">omegad_li_L</span>(2) - <span class="var type0" id="S4T0U1437">omega_li</span>(1)*<span class="var type0" id="S4T0U1440">omega_li</span>(3) + (3*<span class="var type0" id="S8T0U1449">mu</span>*abs(<span class="var type0" id="S6T0U1454">r_st</span>(1) + <span class="var type0" id="S9T0U1457">rho</span>(1))*sign(<span class="var type0" id="S6T0U1463">r_st</span>(1) + <span class="var type0" id="S9T0U1466">rho</span>(1))*(<span class="var type0" id="S6T0U1471">r_st</span>(3) + <span class="var type0" id="S9T0U1474">rho</span>(3)))/(abs(<span class="var type0" id="S6T0U1485">r_st</span>(1) + <span class="var type0" id="S9T0U1488">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U1496">r_st</span>(2) + <span class="var type0" id="S9T0U1499">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U1507">r_st</span>(3) + <span class="var type0" id="S9T0U1510">rho</span>(3))^2)^(5/2) - (3*abs(<span class="var type0" id="S7T0U1529">r_ps</span>(1) + <span class="var type0" id="S6T0U1532">r_st</span>(1) + <span class="var type0" id="S9T0U1535">rho</span>(1))*sign(<span class="var type0" id="S7T0U1542">r_ps</span>(1) + <span class="var type0" id="S6T0U1545">r_st</span>(1) + <span class="var type0" id="S9T0U1548">rho</span>(1))*(<span class="var type0" id="S8T0U1552">mu</span> - 1)*(<span class="var type0" id="S7T0U1558">r_ps</span>(3) + <span class="var type0" id="S6T0U1561">r_st</span>(3) + <span class="var type0" id="S9T0U1564">rho</span>(3)))/(abs(<span class="var type0" id="S7T0U1576">r_ps</span>(1) + <span class="var type0" id="S6T0U1579">r_st</span>(1) + <span class="var type0" id="S9T0U1582">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U1591">r_ps</span>(2) + <span class="var type0" id="S6T0U1594">r_st</span>(2) + <span class="var type0" id="S9T0U1597">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U1606">r_ps</span>(3) + <span class="var type0" id="S6T0U1609">r_st</span>(3) + <span class="var type0" id="S9T0U1612">rho</span>(3))^2)^(5/2),                                                                                                                                                                                                                                     (3*<span class="var type0" id="S8T0U1629">mu</span>*abs(<span class="var type0" id="S6T0U1634">r_st</span>(2) + <span class="var type0" id="S9T0U1637">rho</span>(2))*sign(<span class="var type0" id="S6T0U1643">r_st</span>(2) + <span class="var type0" id="S9T0U1646">rho</span>(2))*(<span class="var type0" id="S6T0U1651">r_st</span>(3) + <span class="var type0" id="S9T0U1654">rho</span>(3)))/(abs(<span class="var type0" id="S6T0U1665">r_st</span>(1) + <span class="var type0" id="S9T0U1668">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U1676">r_st</span>(2) + <span class="var type0" id="S9T0U1679">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U1687">r_st</span>(3) + <span class="var type0" id="S9T0U1690">rho</span>(3))^2)^(5/2) - <span class="var type0" id="S4T0U1699">omega_li</span>(2)*<span class="var type0" id="S4T0U1702">omega_li</span>(3) - <span class="var type0" id="S5T0U1705">omegad_li_L</span>(1) - (3*abs(<span class="var type0" id="S7T0U1719">r_ps</span>(2) + <span class="var type0" id="S6T0U1722">r_st</span>(2) + <span class="var type0" id="S9T0U1725">rho</span>(2))*sign(<span class="var type0" id="S7T0U1732">r_ps</span>(2) + <span class="var type0" id="S6T0U1735">r_st</span>(2) + <span class="var type0" id="S9T0U1738">rho</span>(2))*(<span class="var type0" id="S8T0U1742">mu</span> - 1)*(<span class="var type0" id="S7T0U1748">r_ps</span>(3) + <span class="var type0" id="S6T0U1751">r_st</span>(3) + <span class="var type0" id="S9T0U1754">rho</span>(3)))/(abs(<span class="var type0" id="S7T0U1766">r_ps</span>(1) + <span class="var type0" id="S6T0U1769">r_st</span>(1) + <span class="var type0" id="S9T0U1772">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U1781">r_ps</span>(2) + <span class="var type0" id="S6T0U1784">r_st</span>(2) + <span class="var type0" id="S9T0U1787">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U1796">r_ps</span>(3) + <span class="var type0" id="S6T0U1799">r_st</span>(3) + <span class="var type0" id="S9T0U1802">rho</span>(3))^2)^(5/2), (1/(abs(<span class="var type0" id="S7T0U1827">r_ps</span>(1) + <span class="var type0" id="S6T0U1830">r_st</span>(1) + <span class="var type0" id="S9T0U1833">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U1842">r_ps</span>(2) + <span class="var type0" id="S6T0U1845">r_st</span>(2) + <span class="var type0" id="S9T0U1848">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U1857">r_ps</span>(3) + <span class="var type0" id="S6T0U1860">r_st</span>(3) + <span class="var type0" id="S9T0U1863">rho</span>(3))^2)^(3/2) - (3*abs(<span class="var type0" id="S7T0U1881">r_ps</span>(3) + <span class="var type0" id="S6T0U1884">r_st</span>(3) + <span class="var type0" id="S9T0U1887">rho</span>(3))*sign(<span class="var type0" id="S7T0U1894">r_ps</span>(3) + <span class="var type0" id="S6T0U1897">r_st</span>(3) + <span class="var type0" id="S9T0U1900">rho</span>(3))*(<span class="var type0" id="S7T0U1906">r_ps</span>(3) + <span class="var type0" id="S6T0U1909">r_st</span>(3) + <span class="var type0" id="S9T0U1912">rho</span>(3)))/(abs(<span class="var type0" id="S7T0U1924">r_ps</span>(1) + <span class="var type0" id="S6T0U1927">r_st</span>(1) + <span class="var type0" id="S9T0U1930">rho</span>(1))^2 + abs(<span class="var type0" id="S7T0U1939">r_ps</span>(2) + <span class="var type0" id="S6T0U1942">r_st</span>(2) + <span class="var type0" id="S9T0U1945">rho</span>(2))^2 + abs(<span class="var type0" id="S7T0U1954">r_ps</span>(3) + <span class="var type0" id="S6T0U1957">r_st</span>(3) + <span class="var type0" id="S9T0U1960">rho</span>(3))^2)^(5/2))*(<span class="var type0" id="S8T0U1969">mu</span> - 1) + <span class="var type0" id="S4T0U1973">omega_li</span>(1)^2 + <span class="var type0" id="S4T0U1978">omega_li</span>(2)^2 - (<span class="var type0" id="S8T0U1984">mu</span>*((<span class="var type0" id="S6T0U1995">r_st</span>(1) + <span class="var type0" id="S9T0U1998">rho</span>(1))^2/sign(<span class="var type0" id="S6T0U2006">r_st</span>(1) + <span class="var type0" id="S9T0U2009">rho</span>(1))^2 - 3*<span class="var type0" id="S9T0U2016">rho</span>(3)*(<span class="var type0" id="S6T0U2021">r_st</span>(3) + <span class="var type0" id="S9T0U2024">rho</span>(3)) - 3*<span class="var type0" id="S6T0U2030">r_st</span>(3)*(<span class="var type0" id="S6T0U2035">r_st</span>(3) + <span class="var type0" id="S9T0U2038">rho</span>(3)) + (<span class="var type0" id="S6T0U2045">r_st</span>(2) + <span class="var type0" id="S9T0U2048">rho</span>(2))^2/sign(<span class="var type0" id="S6T0U2056">r_st</span>(2) + <span class="var type0" id="S9T0U2059">rho</span>(2))^2 + (<span class="var type0" id="S6T0U2067">r_st</span>(3) + <span class="var type0" id="S9T0U2070">rho</span>(3))^2/sign(<span class="var type0" id="S6T0U2078">r_st</span>(3) + <span class="var type0" id="S9T0U2081">rho</span>(3))^2))/(abs(<span class="var type0" id="S6T0U2093">r_st</span>(1) + <span class="var type0" id="S9T0U2096">rho</span>(1))^2 + abs(<span class="var type0" id="S6T0U2104">r_st</span>(2) + <span class="var type0" id="S9T0U2107">rho</span>(2))^2 + abs(<span class="var type0" id="S6T0U2115">r_st</span>(3) + <span class="var type0" id="S9T0U2118">rho</span>(3))^2)^(5/2)];</span></span>
<span class="srcline"><span class="lineno"><a href="51,27" id="srcline27">27</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,29" id="srcline29">29</a></span><span class="line">                                                                                                                                                                                                                                 </span></span>
<span class="srcline"><span class="lineno"><a href="51,30" id="srcline30">30</a></span><span class="line"><span class="mxinfo " id="T3:U183"><span class="var type1" id="S20T3U2127">A22</span> = <span class="mxinfo " id="T3:U185">[             <span class="mxinfo " id="T21:U186"><span class="mxinfo " id="T5:U187">0</span>,  <span class="mxinfo " id="T5:U188"><span class="mxinfo " id="T5:U189">2</span>*<span class="mxinfo " id="T5:U190"><span class="var type1" id="S4T2U2134">omega_li</span>(<span class="mxinfo " id="T5:U192">3</span>)</span></span>, <span class="mxinfo " id="T5:U193"><span class="mxinfo " id="T5:U194">-<span class="mxinfo " id="T5:U195">2</span></span>*<span class="mxinfo " id="T5:U196"><span class="var type1" id="S4T2U2140">omega_li</span>(<span class="mxinfo " id="T5:U198">2</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,31" id="srcline31">31</a></span><span class="line"> <span class="mxinfo " id="T21:U199"><span class="mxinfo " id="T5:U200"><span class="mxinfo " id="T5:U201">-<span class="mxinfo " id="T5:U202">2</span></span>*<span class="mxinfo " id="T5:U203"><span class="var type1" id="S4T2U2147">omega_li</span>(<span class="mxinfo " id="T5:U205">3</span>)</span></span>,             <span class="mxinfo " id="T5:U206">0</span>,  <span class="mxinfo " id="T5:U207"><span class="mxinfo " id="T5:U208">2</span>*<span class="mxinfo " id="T5:U209"><span class="var type1" id="S4T2U2153">omega_li</span>(<span class="mxinfo " id="T5:U211">1</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,32" id="srcline32">32</a></span><span class="line">  <span class="mxinfo " id="T21:U212"><span class="mxinfo " id="T5:U213"><span class="mxinfo " id="T5:U214">2</span>*<span class="mxinfo " id="T5:U215"><span class="var type1" id="S4T2U2159">omega_li</span>(<span class="mxinfo " id="T5:U217">2</span>)</span></span>, <span class="mxinfo " id="T5:U218"><span class="mxinfo " id="T5:U219">-<span class="mxinfo " id="T5:U220">2</span></span>*<span class="mxinfo " id="T5:U221"><span class="var type1" id="S4T2U2165">omega_li</span>(<span class="mxinfo " id="T5:U223">1</span>)</span></span>,             <span class="mxinfo " id="T5:U224">0</span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="51,33" id="srcline33">33</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,34" id="srcline34">34</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="51,35" id="srcline35">35</a></span><span class="line"><span class="var type0" id="S2T0U2170">A</span> = [<span class="mxinfo " id="T25:U225"><span class="var type1" id="S10T3U2173">A11</span> <span class="var type1" id="S12T3U2174">A12</span></span>; <span class="var type0" id="S14T0U2176"><span class="message error" id="M3F104C">A21</span></span> <span class="var type0" id="S20T0U2177">A22</span>];</span></span>
<span class="srcline"><span class="lineno"><a href="51,36" id="srcline36">36</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="51,37" id="srcline37">37</a></span><span class="line"></span></span>
</pre>
