<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S3T1">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">X</a></td>
<td>Input</td><td class="watchsize" id="15">6 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T2">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">omega_li</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T2">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">omegad_li_L</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T2">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">r_st</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T2">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">r_ps</a></td>
<td>Input</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T5">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">mu</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T2">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">rho</a></td>
<td>Local</td><td class="watchsize" id="12">3 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S10T3">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">A11</a></td>
<td>Local</td><td class="watchsize" id="13">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T3">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">A12</a></td>
<td>Local</td><td class="watchsize" id="13">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S20T3">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">A22</a></td>
<td>Local</td><td class="watchsize" id="13">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
