<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1">  1</a></span><span class="line">function [Xd_est, Hsdc, err]  = SDRE_Filter_Algorithm(measurements, A, X, Qf, Rf)</span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2">  2</a></span><span class="line"><span class="comment">% This function computes the SDRE Filter algorithm based on Kalman filter</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3">  3</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4">  4</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5">  5</a></span><span class="line"><span class="comment">% measurements  : radar outputs (azimut, elevation, range);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6">  6</a></span><span class="line"><span class="comment">% u             : control law;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7">  7</a></span><span class="line"><span class="comment">% A             : SDC parametrization of syste;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8">  8</a></span><span class="line"><span class="comment">% X_k_1         : state at before step;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9">  9</a></span><span class="line"><span class="comment">% B0            : input matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,10" id="srcline10"> 10</a></span><span class="line"><span class="comment">% Ts            : Discretization time;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,11" id="srcline11"> 11</a></span><span class="line"><span class="comment">% Qf            : Process Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,12" id="srcline12"> 12</a></span><span class="line"><span class="comment">% Rf            : Noise Input Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,13" id="srcline13"> 13</a></span><span class="line"><span class="comment">% Pf            : Error Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,14" id="srcline14"> 14</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,15" id="srcline15"> 15</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,16" id="srcline16"> 16</a></span><span class="line"><span class="comment">% X_est         : state estimated;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,17" id="srcline17"> 17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,18" id="srcline18"> 18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,19" id="srcline19"> 19</a></span><span class="line"><span class="comment">% handle function for SDC output matrix parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,20" id="srcline20"> 20</a></span><span class="line">Hsdc = @SDC_Output_Matrix_parametrization;</span></span>
<span class="srcline"><span class="lineno"><a href="1,21" id="srcline21"> 21</a></span><span class="line">riccati_solution = @solve_riccati;</span></span>
<span class="srcline"><span class="lineno"><a href="1,22" id="srcline22"> 22</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,23" id="srcline23"> 23</a></span><span class="line">Pf = riccati_solution(A', Hsdc(X)', Qf, Rf);</span></span>
<span class="srcline"><span class="lineno"><a href="1,24" id="srcline24"> 24</a></span><span class="line">Kf = Pf * Hsdc(X)' * Rf^(-1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,25" id="srcline25"> 25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,26" id="srcline26"> 26</a></span><span class="line">err = measurements - Hsdc(X) * X;</span></span>
<span class="srcline"><span class="lineno"><a href="1,27" id="srcline27"> 27</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,28" id="srcline28"> 28</a></span><span class="line">Xd_est = A * X + Kf * (measurements - Hsdc(X) * X);</span></span>
<span class="srcline"><span class="lineno"><a href="1,29" id="srcline29"> 29</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,30" id="srcline30"> 30</a></span><span class="line">end</span></span>
</pre>
</div>
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,31" id="srcline31"> 31</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,32" id="srcline32"> 32</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S16T8U80">H</span> = SDC_Output_Matrix_parametrization(<span class="var type1" id="S17T1U83">X</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,33" id="srcline33"> 33</a></span><span class="line"><span class="comment">% This function computes the State Dependet Coefficient of output matrix</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,34" id="srcline34"> 34</a></span><span class="line"><span class="comment">% for radar measurements</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,35" id="srcline35"> 35</a></span><span class="line"><span class="comment">% INPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,36" id="srcline36"> 36</a></span><span class="line"><span class="comment">% X     : state;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,37" id="srcline37"> 37</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,38" id="srcline38"> 38</a></span><span class="line"><span class="comment">% H     : output matrix in SDC form;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,39" id="srcline39"> 39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,40" id="srcline40"> 40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,41" id="srcline41"> 41</a></span><span class="line"><span class="comment">% Sensor measurement</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,42" id="srcline42"> 42</a></span><span class="line"><span class="keyword">if</span>(<span class="mxinfo " id="T9:U3"><span class="mxinfo " id="T10:U4"><span class="var type1" id="S17T1U89">X</span>(<span class="mxinfo " id="T11:U6">3</span>)</span> &gt;= <span class="mxinfo " id="T10:U7">0</span></span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,43" id="srcline43"> 43</a></span><span class="line">    <span class="mxinfo " id="T10:U8"><span class="var type1" id="S18T10U94">azimuth</span> = <span class="mxinfo " id="T10:U10">atan2(<span class="mxinfo " id="T10:U11"><span class="var type1" id="S17T1U98">X</span>(<span class="mxinfo " id="T11:U13">3</span>)</span>, <span class="mxinfo " id="T10:U14"><span class="var type1" id="S17T1U101">X</span>(<span class="mxinfo " id="T11:U16">1</span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,44" id="srcline44"> 44</a></span><span class="line"><span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,45" id="srcline45"> 45</a></span><span class="line">    <span class="mxinfo " id="T10:U17"><span class="var type1" id="S18T10U106">azimuth</span> = <span class="mxinfo " id="T10:U19"><span class="mxinfo " id="T10:U20">atan2(<span class="mxinfo " id="T10:U21"><span class="var type1" id="S17T1U111">X</span>(<span class="mxinfo " id="T11:U23">3</span>)</span>, <span class="mxinfo " id="T10:U24"><span class="var type1" id="S17T1U114">X</span>(<span class="mxinfo " id="T11:U26">1</span>)</span>)</span> + <span class="mxinfo " id="T10:U27"><span class="mxinfo " id="T10:U28">2</span>*<span class="mxinfo " id="T10:U29">pi</span></span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,46" id="srcline46"> 46</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,47" id="srcline47"> 47</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,48" id="srcline48"> 48</a></span><span class="line"><span class="mxinfo " id="T10:U30"><span class="var type1" id="S21T10U122">elevation</span>   = <span class="mxinfo " id="T10:U32">atan2(<span class="mxinfo " id="T10:U33"><span class="var type1" id="S17T1U126">X</span>(<span class="mxinfo " id="T11:U35">2</span>)</span>, <span class="mxinfo " id="T10:U36">sqrt(<span class="mxinfo " id="T10:U37"><span class="mxinfo " id="T10:U38"><span class="mxinfo " id="T10:U39"><span class="var type1" id="S17T1U133">X</span>(<span class="mxinfo " id="T11:U41">1</span>)</span>.^2</span> + <span class="mxinfo " id="T10:U42"><span class="mxinfo " id="T10:U43"><span class="var type1" id="S17T1U138">X</span>(<span class="mxinfo " id="T11:U45">3</span>)</span>.^2</span></span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,49" id="srcline49"> 49</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,50" id="srcline50"> 50</a></span><span class="line"><span class="mxinfo " id="T10:U46"><span class="var type1" id="S23T10U143">range</span>       = <span class="mxinfo " id="T10:U48">sqrt(<span class="mxinfo " id="T10:U49"><span class="mxinfo " id="T10:U50"><span class="mxinfo " id="T10:U51"><span class="mxinfo " id="T10:U52"><span class="var type1" id="S17T1U150">X</span>(<span class="mxinfo " id="T11:U54">1</span>)</span>.^2</span> + <span class="mxinfo " id="T10:U55"><span class="mxinfo " id="T10:U56"><span class="var type1" id="S17T1U155">X</span>(<span class="mxinfo " id="T11:U58">2</span>)</span>.^2</span></span> + <span class="mxinfo " id="T10:U59"><span class="mxinfo " id="T10:U60"><span class="var type1" id="S17T1U160">X</span>(<span class="mxinfo " id="T11:U62">3</span>)</span>.^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,51" id="srcline51"> 51</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,52" id="srcline52"> 52</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,53" id="srcline53"> 53</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,54" id="srcline54"> 54</a></span><span class="line"><span class="comment">% NonLinear terms for SDC parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,55" id="srcline55"> 55</a></span><span class="line"><span class="mxinfo " id="T10:U63"><span class="var type1" id="S24T10U165">H14</span> = <span class="mxinfo " id="T10:U65">(<span class="mxinfo " id="T10:U66"><span class="var type1" id="S18T10U169">azimuth</span> - <span class="mxinfo " id="T10:U68"><span class="var type1" id="S17T1U171">X</span>(<span class="mxinfo " id="T10:U70">1</span>)</span></span>)./<span class="mxinfo " id="T10:U71"><span class="var type1" id="S17T1U174">X</span>(<span class="mxinfo " id="T11:U73">4</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,56" id="srcline56"> 56</a></span><span class="line"><span class="mxinfo " id="T10:U74"><span class="var type1" id="S25T10U178">H23</span> = <span class="mxinfo " id="T10:U76">(<span class="mxinfo " id="T10:U77"><span class="var type1" id="S21T10U182">elevation</span> - <span class="mxinfo " id="T10:U79"><span class="var type1" id="S17T1U184">X</span>(<span class="mxinfo " id="T10:U81">5</span>)</span></span>)./<span class="mxinfo " id="T10:U82"><span class="var type1" id="S17T1U187">X</span>(<span class="mxinfo " id="T11:U84">3</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,57" id="srcline57"> 57</a></span><span class="line"><span class="mxinfo " id="T10:U85"><span class="var type1" id="S26T10U191">H31</span> = <span class="mxinfo " id="T10:U87">(<span class="mxinfo " id="T10:U88"><span class="mxinfo " id="T10:U89"><span class="var type1" id="S23T10U196">range</span> - <span class="mxinfo " id="T10:U91"><span class="var type1" id="S17T1U198">X</span>(<span class="mxinfo " id="T10:U93">6</span>)</span></span> - <span class="mxinfo " id="T10:U94"><span class="var type1" id="S17T1U201">X</span>(<span class="mxinfo " id="T10:U96">2</span>)</span></span>)./<span class="mxinfo " id="T10:U97"><span class="var type1" id="S17T1U204">X</span>(<span class="mxinfo " id="T11:U99">1</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,58" id="srcline58"> 58</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,59" id="srcline59"> 59</a></span><span class="line"><span class="comment">% Output matrix parametrized</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,60" id="srcline60"> 60</a></span><span class="line"><span class="mxinfo " id="T8:U100"><span class="var type1" id="S27T8U208">H2</span> = <span class="mxinfo " id="T8:U102">[<span class="mxinfo " id="T12:U103"><span class="mxinfo " id="T10:U104">1</span>      <span class="mxinfo " id="T10:U105">0</span>    <span class="mxinfo " id="T10:U106">0</span>    <span class="var type1" id="S24T10U214">H14</span>     <span class="mxinfo " id="T10:U108">0</span>   <span class="mxinfo " id="T10:U109">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,61" id="srcline61"> 61</a></span><span class="line">     <span class="mxinfo " id="T12:U110"><span class="mxinfo " id="T10:U111">0</span>      <span class="mxinfo " id="T10:U112">0</span>   <span class="var type1" id="S25T10U220">H23</span>    <span class="mxinfo " id="T10:U114">0</span>      <span class="mxinfo " id="T10:U115">1</span>   <span class="mxinfo " id="T10:U116">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,62" id="srcline62"> 62</a></span><span class="line">    <span class="mxinfo " id="T12:U117"><span class="var type1" id="S26T10U225">H31</span>     <span class="mxinfo " id="T10:U119">1</span>    <span class="mxinfo " id="T10:U120">0</span>     <span class="mxinfo " id="T10:U121">0</span>      <span class="mxinfo " id="T10:U122">0</span>   <span class="mxinfo " id="T10:U123">1</span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,63" id="srcline63"> 63</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,64" id="srcline64"> 64</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,65" id="srcline65"> 65</a></span><span class="line"><span class="comment">% NonLinear terms for SDC parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,66" id="srcline66"> 66</a></span><span class="line"><span class="mxinfo " id="T10:U124"><span class="var type1" id="S28T10U233">H11</span> = <span class="mxinfo " id="T10:U126">(<span class="mxinfo " id="T10:U127"><span class="var type1" id="S18T10U237">azimuth</span> * <span class="mxinfo " id="T10:U129"><span class="var type1" id="S17T1U239">X</span>(<span class="mxinfo " id="T10:U131">1</span>)</span></span>)./(<span class="mxinfo " id="T10:U132"><span class="mxinfo " id="T10:U133"><span class="mxinfo " id="T10:U134"><span class="var type1" id="S17T1U245">X</span>(<span class="mxinfo " id="T11:U136">1</span>)</span>^2</span> + <span class="mxinfo " id="T10:U137"><span class="mxinfo " id="T10:U138"><span class="var type1" id="S17T1U250">X</span>(<span class="mxinfo " id="T11:U140">3</span>)</span>^2</span></span>)</span></span>; <span class="comment">%(range^2); %(X(1)^2 + X(3)^2); % (range^2); % </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,67" id="srcline67"> 67</a></span><span class="line"><span class="mxinfo " id="T10:U141"><span class="var type1" id="S29T10U255">H12</span> = <span class="mxinfo " id="T10:U143"><span class="mxinfo " id="T10:U144"><span class="mxinfo " id="T10:U145">0</span>*(<span class="mxinfo " id="T10:U146"><span class="var type1" id="S18T10U261">azimuth</span> * <span class="mxinfo " id="T10:U148"><span class="var type1" id="S17T1U263">X</span>(<span class="mxinfo " id="T10:U150">2</span>)</span></span>)</span>./(<span class="mxinfo " id="T10:U151"><span class="mxinfo " id="T10:U152"><span class="mxinfo " id="T10:U153"><span class="var type1" id="S17T1U269">X</span>(<span class="mxinfo " id="T11:U155">1</span>)</span>^2</span> + <span class="mxinfo " id="T10:U156"><span class="mxinfo " id="T10:U157"><span class="var type1" id="S17T1U274">X</span>(<span class="mxinfo " id="T11:U159">3</span>)</span>^2</span></span>)</span></span>; <span class="comment">%(range^2); %(X(1)^2 + X(3)^2); % (range^2); %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,68" id="srcline68"> 68</a></span><span class="line"><span class="mxinfo " id="T10:U160"><span class="var type1" id="S30T10U279">H13</span> = <span class="mxinfo " id="T10:U162">(<span class="mxinfo " id="T10:U163"><span class="var type1" id="S18T10U283">azimuth</span> * <span class="mxinfo " id="T10:U165"><span class="var type1" id="S17T1U285">X</span>(<span class="mxinfo " id="T10:U167">3</span>)</span></span>)./(<span class="mxinfo " id="T10:U168"><span class="mxinfo " id="T10:U169"><span class="mxinfo " id="T10:U170"><span class="var type1" id="S17T1U291">X</span>(<span class="mxinfo " id="T11:U172">1</span>)</span>^2</span> + <span class="mxinfo " id="T10:U173"><span class="mxinfo " id="T10:U174"><span class="var type1" id="S17T1U296">X</span>(<span class="mxinfo " id="T11:U176">3</span>)</span>^2</span></span>)</span></span>; <span class="comment">%(range^2); %(X(1)^2 + X(3)^2); % (range^2); %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,69" id="srcline69"> 69</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,70" id="srcline70"> 70</a></span><span class="line"><span class="mxinfo " id="T10:U177"><span class="var type1" id="S31T10U301">H21</span> = <span class="mxinfo " id="T10:U179">(<span class="mxinfo " id="T10:U180"><span class="var type1" id="S21T10U305">elevation</span> * <span class="mxinfo " id="T10:U182"><span class="var type1" id="S17T1U307">X</span>(<span class="mxinfo " id="T10:U184">1</span>)</span></span>)./(<span class="mxinfo " id="T10:U185"><span class="var type1" id="S23T10U311">range</span>^2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,71" id="srcline71"> 71</a></span><span class="line"><span class="mxinfo " id="T10:U187"><span class="var type1" id="S32T10U315">H22</span> = <span class="mxinfo " id="T10:U189">(<span class="mxinfo " id="T10:U190"><span class="var type1" id="S21T10U319">elevation</span> * <span class="mxinfo " id="T10:U192"><span class="var type1" id="S17T1U321">X</span>(<span class="mxinfo " id="T10:U194">2</span>)</span></span>)./(<span class="mxinfo " id="T10:U195"><span class="var type1" id="S23T10U325">range</span>^2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,72" id="srcline72"> 72</a></span><span class="line"><span class="mxinfo " id="T10:U197"><span class="var type1" id="S25T10U329">H23</span> = <span class="mxinfo " id="T10:U199">(<span class="mxinfo " id="T10:U200"><span class="var type1" id="S21T10U333">elevation</span> * <span class="mxinfo " id="T10:U202"><span class="var type1" id="S17T1U335">X</span>(<span class="mxinfo " id="T10:U204">3</span>)</span></span>)./(<span class="mxinfo " id="T10:U205"><span class="var type1" id="S23T10U339">range</span>^2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,73" id="srcline73"> 73</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,74" id="srcline74"> 74</a></span><span class="line"><span class="comment">% H21 = (elevation * X(1))./(X(1)^2 + X(3)^2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,75" id="srcline75"> 75</a></span><span class="line"><span class="comment">% H22 = 0*(elevation)./X(2); %(X(1)^2 + X(3)^2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,76" id="srcline76"> 76</a></span><span class="line"><span class="comment">% H23 = (elevation * X(3))./(X(1)^2 + X(3)^2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,77" id="srcline77"> 77</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,78" id="srcline78"> 78</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,79" id="srcline79"> 79</a></span><span class="line"><span class="mxinfo " id="T10:U207"><span class="var type1" id="S26T10U343">H31</span> = <span class="mxinfo " id="T10:U209"><span class="mxinfo " id="T10:U210"><span class="var type1" id="S17T1U346">X</span>(<span class="mxinfo " id="T11:U212">1</span>)</span>./<span class="var type1" id="S23T10U348">range</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,80" id="srcline80"> 80</a></span><span class="line"><span class="mxinfo " id="T10:U214"><span class="var type1" id="S33T10U351">H32</span> = <span class="mxinfo " id="T10:U216"><span class="mxinfo " id="T10:U217"><span class="var type1" id="S17T1U354">X</span>(<span class="mxinfo " id="T11:U219">2</span>)</span>./<span class="var type1" id="S23T10U356">range</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,81" id="srcline81"> 81</a></span><span class="line"><span class="mxinfo " id="T10:U221"><span class="var type1" id="S34T10U359">H33</span> = <span class="mxinfo " id="T10:U223"><span class="mxinfo " id="T10:U224"><span class="var type1" id="S17T1U362">X</span>(<span class="mxinfo " id="T11:U226">3</span>)</span>./<span class="var type1" id="S23T10U364">range</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,82" id="srcline82"> 82</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,83" id="srcline83"> 83</a></span><span class="line"><span class="comment">% Output matrix parametrized</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,84" id="srcline84"> 84</a></span><span class="line"><span class="mxinfo " id="T8:U228"><span class="var type1" id="S35T8U367">H1</span> = <span class="mxinfo " id="T8:U230">[<span class="mxinfo " id="T12:U231"><span class="var type1" id="S28T10U370">H11</span> <span class="var type1" id="S29T10U371">H12</span> <span class="var type1" id="S30T10U372">H13</span> <span class="mxinfo " id="T10:U235">0</span> <span class="mxinfo " id="T10:U236">0</span> <span class="mxinfo " id="T10:U237">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,85" id="srcline85"> 85</a></span><span class="line">     <span class="mxinfo " id="T12:U238"><span class="var type1" id="S31T10U377">H21</span> <span class="var type1" id="S32T10U378">H22</span> <span class="var type1" id="S25T10U379">H23</span> <span class="mxinfo " id="T10:U242">0</span> <span class="mxinfo " id="T10:U243">0</span> <span class="mxinfo " id="T10:U244">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,86" id="srcline86"> 86</a></span><span class="line">     <span class="mxinfo " id="T12:U245"><span class="var type1" id="S26T10U384">H31</span> <span class="var type1" id="S33T10U385">H32</span> <span class="var type1" id="S34T10U386">H33</span> <span class="mxinfo " id="T10:U249">0</span> <span class="mxinfo " id="T10:U250">0</span> <span class="mxinfo " id="T10:U251">0</span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,87" id="srcline87"> 87</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,88" id="srcline88"> 88</a></span><span class="line"><span class="mxinfo " id="T10:U252"><span class="var type1" id="S36T10U392">alpha</span> = <span class="mxinfo " id="T10:U254">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,89" id="srcline89"> 89</a></span><span class="line"><span class="comment">%H = (1 - alpha) * H1 + alpha * H2;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,90" id="srcline90"> 90</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,91" id="srcline91"> 91</a></span><span class="line"><span class="mxinfo " id="T8:U255"><span class="var type1" id="S16T8U396">H</span> = <span class="mxinfo " id="T8:U257">[eye(3) zeros(<span class="mxinfo " id="T10:U258">3</span>,<span class="mxinfo " id="T10:U259">3</span>)]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,92" id="srcline92"> 92</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,93" id="srcline93"> 93</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,94" id="srcline94"> 94</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,95" id="srcline95"> 95</a></span><span class="line"><span class="comment">%------------------------------------------------------------------------%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,96" id="srcline96"> 96</a></span><span class="line"><span class="comment">%                           RICCATI FUNCTIONS                            %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,97" id="srcline97"> 97</a></span><span class="line"><span class="comment">%------------------------------------------------------------------------%</span></span></span>
</pre>
<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,98" id="srcline98"> 98</a></span><span class="line">function [P] = solve_riccati(Am, B0, Qm, Rm)</span></span>
<span class="srcline"><span class="lineno"><a href="1,99" id="srcline99"> 99</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,100" id="srcline100">100</a></span><span class="line"><span class="comment">% resolve Riccati Algebric Equation (dimension of state is 6)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,101" id="srcline101">101</a></span><span class="line">H = [Am, -B0*pinv(Rm)*B0'; -Qm, -Am'];</span></span>
<span class="srcline"><span class="lineno"><a href="1,102" id="srcline102">102</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,103" id="srcline103">103</a></span><span class="line">n = length(H);</span></span>
<span class="srcline"><span class="lineno"><a href="1,104" id="srcline104">104</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,105" id="srcline105">105</a></span><span class="line"><span class="comment">% Use QZ factorization </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,106" id="srcline106">106</a></span><span class="line">[T, D] = eig(H,eye(n),'qz','vector');</span></span>
<span class="srcline"><span class="lineno"><a href="1,107" id="srcline107">107</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,108" id="srcline108">108</a></span><span class="line">[Ds, I] = sort(real(D));</span></span>
<span class="srcline"><span class="lineno"><a href="1,109" id="srcline109">109</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,110" id="srcline110">110</a></span><span class="line">U = T(:,I(1:n/2));</span></span>
<span class="srcline"><span class="lineno"><a href="1,111" id="srcline111">111</a></span><span class="line">Px = U(n/2 +1 : n,:)*((U(1:n/2,:))\eye(n/2));</span></span>
<span class="srcline"><span class="lineno"><a href="1,112" id="srcline112">112</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,113" id="srcline113">113</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,114" id="srcline114">114</a></span><span class="line"><span class="comment">% symmetric solution</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,115" id="srcline115">115</a></span><span class="line">P = real((Px + Px'))/2;</span></span>
<span class="srcline"><span class="lineno"><a href="1,116" id="srcline116">116</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,117" id="srcline117">117</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="1,118" id="srcline118">118</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,119" id="srcline119">119</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,120" id="srcline120">120</a></span><span class="line"> </span></span>
</pre>
</div>
