<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1">  1</a></span><span class="line">function [Xd_est, Hsdc, err]  = SDRE_Filter_Algorithm(measurements, A, X, Qf, Rf)</span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2">  2</a></span><span class="line"><span class="comment">% This function computes the SDRE Filter algorithm based on Kalman filter</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3">  3</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4">  4</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5">  5</a></span><span class="line"><span class="comment">% measurements  : radar outputs (azimut, elevation, range);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6">  6</a></span><span class="line"><span class="comment">% u             : control law;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7">  7</a></span><span class="line"><span class="comment">% A             : SDC parametrization of syste;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8">  8</a></span><span class="line"><span class="comment">% X_k_1         : state at before step;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9">  9</a></span><span class="line"><span class="comment">% B0            : input matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,10" id="srcline10"> 10</a></span><span class="line"><span class="comment">% Ts            : Discretization time;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,11" id="srcline11"> 11</a></span><span class="line"><span class="comment">% Qf            : Process Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,12" id="srcline12"> 12</a></span><span class="line"><span class="comment">% Rf            : Noise Input Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,13" id="srcline13"> 13</a></span><span class="line"><span class="comment">% Pf            : Error Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,14" id="srcline14"> 14</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,15" id="srcline15"> 15</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,16" id="srcline16"> 16</a></span><span class="line"><span class="comment">% X_est         : state estimated;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,17" id="srcline17"> 17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,18" id="srcline18"> 18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,19" id="srcline19"> 19</a></span><span class="line"><span class="comment">% handle function for SDC output matrix parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,20" id="srcline20"> 20</a></span><span class="line">Hsdc = @SDC_Output_Matrix_parametrization;</span></span>
<span class="srcline"><span class="lineno"><a href="1,21" id="srcline21"> 21</a></span><span class="line">riccati_solution = @solve_riccati;</span></span>
<span class="srcline"><span class="lineno"><a href="1,22" id="srcline22"> 22</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,23" id="srcline23"> 23</a></span><span class="line">Pf = riccati_solution(A', Hsdc(X)', Qf, Rf);</span></span>
<span class="srcline"><span class="lineno"><a href="1,24" id="srcline24"> 24</a></span><span class="line">Kf = Pf * Hsdc(X)' * Rf^(-1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,25" id="srcline25"> 25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,26" id="srcline26"> 26</a></span><span class="line">err = measurements - Hsdc(X) * X;</span></span>
<span class="srcline"><span class="lineno"><a href="1,27" id="srcline27"> 27</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,28" id="srcline28"> 28</a></span><span class="line">Xd_est = A * X + Kf * (measurements - Hsdc(X) * X);</span></span>
<span class="srcline"><span class="lineno"><a href="1,29" id="srcline29"> 29</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,30" id="srcline30"> 30</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="1,31" id="srcline31"> 31</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,32" id="srcline32"> 32</a></span><span class="line">function H = SDC_Output_Matrix_parametrization(X)</span></span>
<span class="srcline"><span class="lineno"><a href="1,33" id="srcline33"> 33</a></span><span class="line"><span class="comment">% This function computes the State Dependet Coefficient of output matrix</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,34" id="srcline34"> 34</a></span><span class="line"><span class="comment">% for radar measurements</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,35" id="srcline35"> 35</a></span><span class="line"><span class="comment">% INPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,36" id="srcline36"> 36</a></span><span class="line"><span class="comment">% X     : state;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,37" id="srcline37"> 37</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,38" id="srcline38"> 38</a></span><span class="line"><span class="comment">% H     : output matrix in SDC form;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,39" id="srcline39"> 39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,40" id="srcline40"> 40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,41" id="srcline41"> 41</a></span><span class="line"><span class="comment">% Sensor measurement</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,42" id="srcline42"> 42</a></span><span class="line">if(X(3) &gt;= 0)</span></span>
<span class="srcline"><span class="lineno"><a href="1,43" id="srcline43"> 43</a></span><span class="line">    azimuth = atan2(X(3), X(1));</span></span>
<span class="srcline"><span class="lineno"><a href="1,44" id="srcline44"> 44</a></span><span class="line">else</span></span>
<span class="srcline"><span class="lineno"><a href="1,45" id="srcline45"> 45</a></span><span class="line">    azimuth = atan2(X(3), X(1)) + 2*pi;</span></span>
<span class="srcline"><span class="lineno"><a href="1,46" id="srcline46"> 46</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="1,47" id="srcline47"> 47</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,48" id="srcline48"> 48</a></span><span class="line">elevation   = atan2(X(2), sqrt(X(1).^2 + X(3).^2));</span></span>
<span class="srcline"><span class="lineno"><a href="1,49" id="srcline49"> 49</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,50" id="srcline50"> 50</a></span><span class="line">range       = sqrt(X(1).^2 + X(2).^2 + X(3).^2);</span></span>
<span class="srcline"><span class="lineno"><a href="1,51" id="srcline51"> 51</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,52" id="srcline52"> 52</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,53" id="srcline53"> 53</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,54" id="srcline54"> 54</a></span><span class="line"><span class="comment">% NonLinear terms for SDC parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,55" id="srcline55"> 55</a></span><span class="line">H14 = (azimuth - X(1))./X(4);</span></span>
<span class="srcline"><span class="lineno"><a href="1,56" id="srcline56"> 56</a></span><span class="line">H23 = (elevation - X(5))./X(3);</span></span>
<span class="srcline"><span class="lineno"><a href="1,57" id="srcline57"> 57</a></span><span class="line">H31 = (range - X(6) - X(2))./X(1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,58" id="srcline58"> 58</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,59" id="srcline59"> 59</a></span><span class="line"><span class="comment">% Output matrix parametrized</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,60" id="srcline60"> 60</a></span><span class="line">H2 = [1      0    0    H14     0   0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,61" id="srcline61"> 61</a></span><span class="line">     0      0   H23    0      1   0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,62" id="srcline62"> 62</a></span><span class="line">    H31     1    0     0      0   1];</span></span>
<span class="srcline"><span class="lineno"><a href="1,63" id="srcline63"> 63</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,64" id="srcline64"> 64</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,65" id="srcline65"> 65</a></span><span class="line"><span class="comment">% NonLinear terms for SDC parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,66" id="srcline66"> 66</a></span><span class="line">H11 = (azimuth * X(1))./(X(1)^2 + X(3)^2); <span class="comment">%(range^2); %(X(1)^2 + X(3)^2); % (range^2); % </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,67" id="srcline67"> 67</a></span><span class="line">H12 = 0*(azimuth * X(2))./(X(1)^2 + X(3)^2); <span class="comment">%(range^2); %(X(1)^2 + X(3)^2); % (range^2); %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,68" id="srcline68"> 68</a></span><span class="line">H13 = (azimuth * X(3))./(X(1)^2 + X(3)^2); <span class="comment">%(range^2); %(X(1)^2 + X(3)^2); % (range^2); %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,69" id="srcline69"> 69</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,70" id="srcline70"> 70</a></span><span class="line">H21 = (elevation * X(1))./(range^2);</span></span>
<span class="srcline"><span class="lineno"><a href="1,71" id="srcline71"> 71</a></span><span class="line">H22 = (elevation * X(2))./(range^2);</span></span>
<span class="srcline"><span class="lineno"><a href="1,72" id="srcline72"> 72</a></span><span class="line">H23 = (elevation * X(3))./(range^2);</span></span>
<span class="srcline"><span class="lineno"><a href="1,73" id="srcline73"> 73</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,74" id="srcline74"> 74</a></span><span class="line"><span class="comment">% H21 = (elevation * X(1))./(X(1)^2 + X(3)^2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,75" id="srcline75"> 75</a></span><span class="line"><span class="comment">% H22 = 0*(elevation)./X(2); %(X(1)^2 + X(3)^2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,76" id="srcline76"> 76</a></span><span class="line"><span class="comment">% H23 = (elevation * X(3))./(X(1)^2 + X(3)^2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,77" id="srcline77"> 77</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,78" id="srcline78"> 78</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,79" id="srcline79"> 79</a></span><span class="line">H31 = X(1)./range;</span></span>
<span class="srcline"><span class="lineno"><a href="1,80" id="srcline80"> 80</a></span><span class="line">H32 = X(2)./range;</span></span>
<span class="srcline"><span class="lineno"><a href="1,81" id="srcline81"> 81</a></span><span class="line">H33 = X(3)./range;</span></span>
<span class="srcline"><span class="lineno"><a href="1,82" id="srcline82"> 82</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,83" id="srcline83"> 83</a></span><span class="line"><span class="comment">% Output matrix parametrized</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,84" id="srcline84"> 84</a></span><span class="line">H1 = [H11 H12 H13 0 0 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,85" id="srcline85"> 85</a></span><span class="line">     H21 H22 H23 0 0 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,86" id="srcline86"> 86</a></span><span class="line">     H31 H32 H33 0 0 0];</span></span>
<span class="srcline"><span class="lineno"><a href="1,87" id="srcline87"> 87</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,88" id="srcline88"> 88</a></span><span class="line">alpha = 0;</span></span>
<span class="srcline"><span class="lineno"><a href="1,89" id="srcline89"> 89</a></span><span class="line"><span class="comment">%H = (1 - alpha) * H1 + alpha * H2;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,90" id="srcline90"> 90</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,91" id="srcline91"> 91</a></span><span class="line">H = [eye(3) zeros(3,3)];</span></span>
<span class="srcline"><span class="lineno"><a href="1,92" id="srcline92"> 92</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,93" id="srcline93"> 93</a></span><span class="line">end</span></span>
</pre>
</div>
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,94" id="srcline94"> 94</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,95" id="srcline95"> 95</a></span><span class="line"><span class="comment">%------------------------------------------------------------------------%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,96" id="srcline96"> 96</a></span><span class="line"><span class="comment">%                           RICCATI FUNCTIONS                            %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,97" id="srcline97"> 97</a></span><span class="line"><span class="comment">%------------------------------------------------------------------------%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,98" id="srcline98"> 98</a></span><span class="line"><span class="keyword">function</span> [<span class="var type1" id="S40T4U408">P</span>] = solve_riccati(<span class="var type1" id="S41T4U411">Am</span>, <span class="var type1" id="S42T7U412">B0</span>, <span class="var type1" id="S43T4U413">Qm</span>, <span class="var type1" id="S44T5U414">Rm</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,99" id="srcline99"> 99</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,100" id="srcline100">100</a></span><span class="line"><span class="comment">% resolve Riccati Algebric Equation (dimension of state is 6)</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,101" id="srcline101">101</a></span><span class="line"><span class="mxinfo " id="T28:U6"><span class="var type1" id="S45T28U417">H</span> = <span class="mxinfo " id="T28:U8">[<span class="mxinfo " id="T29:U9"><span class="var type1" id="S41T4U420">Am</span>, <span class="mxinfo " id="T4:U11"><span class="mxinfo " id="T7:U12"><span class="mxinfo " id="T7:U13">-<span class="var type1" id="S42T7U424">B0</span></span>*<span class="mxinfo " id="T5:U15">pinv(<span class="var type1" id="S44T5U427">Rm</span>)</span></span>*<span class="mxinfo " id="T8:U17"><span class="var type1" id="S42T7U429">B0</span>'</span></span></span>; <span class="mxinfo " id="T29:U19"><span class="mxinfo " id="T4:U20">-<span class="var type1" id="S43T4U432">Qm</span></span>, <span class="mxinfo " id="T4:U22">-<span class="mxinfo " id="T4:U23"><span class="var type1" id="S41T4U435">Am</span>'</span></span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,102" id="srcline102">102</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,103" id="srcline103">103</a></span><span class="line"><span class="mxinfo " id="T10:U25"><span class="var type1" id="S47T10U438">n</span> = <span class="mxinfo " id="T10:U27">length(<span class="var type1" id="S45T28U441">H</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,104" id="srcline104">104</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,105" id="srcline105">105</a></span><span class="line"><span class="comment">% Use QZ factorization </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,106" id="srcline106">106</a></span><span class="line">[<span class="var type1" id="S49T30U445">T</span>, <span class="var type1" id="S50T31U446">D</span>] = eig(<span class="var type1" id="S45T28U449">H</span>,eye(<span class="var type1" id="S47T10U452">n</span>),<span class="string">'qz'</span>,<span class="string">'vector'</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,107" id="srcline107">107</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,108" id="srcline108">108</a></span><span class="line">[<span class="var type1" id="S53T32U458">Ds</span>, <span class="var type1" id="S54T32U459">I</span>] = sort(<span class="mxinfo " id="T32:U35">real(<span class="var type1" id="S50T31U464">D</span>)</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,109" id="srcline109">109</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,110" id="srcline110">110</a></span><span class="line"><span class="mxinfo " id="T33:U37"><span class="var type1" id="S57T33U467">U</span> = <span class="mxinfo " id="T33:U39"><span class="var type1" id="S49T30U469">T</span>(<span class="mxinfo " id="T34:U41">:</span>,<span class="mxinfo " id="T1:U42"><span class="var type1" id="S54T32U472">I</span>(1:<span class="var type1" id="S47T10U476">n</span>/2)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,111" id="srcline111">111</a></span><span class="line"><span class="mxinfo " id="T35:U45"><span class="var type1" id="S58T35U480">Px</span> = <span class="mxinfo " id="T35:U47"><span class="mxinfo " id="T35:U48"><span class="var type1" id="S57T33U483">U</span>(<span class="mxinfo " id="T36:U50"><span class="var type1" id="S47T10U487">n</span>/2 +1 : <span class="var type1" id="S47T10U490">n</span></span>,<span class="mxinfo " id="T36:U53">:</span>)</span>*(<span class="mxinfo " id="T4:U54">(<span class="mxinfo " id="T35:U55"><span class="var type1" id="S57T33U496">U</span>(<span class="mxinfo " id="T36:U57">1:<span class="var type1" id="S47T10U500">n</span>/2</span>,<span class="mxinfo " id="T36:U59">:</span>)</span>)\<span class="mxinfo " id="T4:U60">eye(<span class="var type1" id="S47T10U506">n</span>/2)</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,112" id="srcline112">112</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,113" id="srcline113">113</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,114" id="srcline114">114</a></span><span class="line"><span class="comment">% symmetric solution</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,115" id="srcline115">115</a></span><span class="line"><span class="mxinfo " id="T4:U62"><span class="var type1" id="S40T4U510">P</span> = <span class="mxinfo " id="T4:U64"><span class="mxinfo " id="T4:U65">real((<span class="mxinfo " id="T35:U66"><span class="var type1" id="S58T35U516">Px</span> + <span class="mxinfo " id="T35:U68"><span class="var type1" id="S58T35U518">Px</span>'</span></span>))</span>/2</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,116" id="srcline116">116</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,117" id="srcline117">117</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,118" id="srcline118">118</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,119" id="srcline119">119</a></span><span class="line"></span></span>
</pre>
