<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S40T3">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">Am</a></td>
<td>Input</td><td class="watchsize" id="20">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S41T8">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">B0</a></td>
<td>Input</td><td class="watchsize" id="19">6 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S42T5">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">Qm</a></td>
<td>Input</td><td class="watchsize" id="16">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S43T5">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">Rm</a></td>
<td>Input</td><td class="watchsize" id="16">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
