<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S40T4">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">P</a></td>
<td>Output</td><td class="watchsize" id="27">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S41T4">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">Am</a></td>
<td>Input</td><td class="watchsize" id="27">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S42T7">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">B0</a></td>
<td>Input</td><td class="watchsize" id="26">6 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S43T4">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">Qm</a></td>
<td>Input</td><td class="watchsize" id="27">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S44T5">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">Rm</a></td>
<td>Input</td><td class="watchsize" id="21">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S45T28">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">H</a></td>
<td>Local</td><td class="watchsize" id="32">12 x 12</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S47T10">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">n</a></td>
<td>Local</td><td class="watchsize" id="3">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S49T30">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">T</a></td>
<td>Local</td><td class="watchsize" id="32">12 x 12</td>
<td class="watchclass">double</td>
<td class="watchcomplex">Yes</td>
</tr>
<tr class="var type1" id="S50T31">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">D</a></td>
<td>Local</td><td class="watchsize" id="30">12 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">Yes</td>
</tr>
<tr class="var type1" id="S54T32">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">I</a></td>
<td>Local</td><td class="watchsize" id="30">12 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S57T33">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">U</a></td>
<td>Local</td><td class="watchsize" id="31">12 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">Yes</td>
</tr>
<tr class="var type1" id="S58T35">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">Px</a></td>
<td>Local</td><td class="watchsize" id="27">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">Yes</td>
</tr>
</tbody>
</table>
