<pre class="code">
<span class="srcline"><span class="lineno"><a href="56,1" id="srcline1"> 1</a></span><span class="line"><span class="comment">%ANGDIFF Difference of two angles</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% D = ANGDIFF(TH1, TH2) returns the difference between angles TH1 and TH2 on</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">% the circle.  The result is in the interval [-pi pi).  If TH1 is a column </span></span></span>
<span class="srcline"><span class="lineno"><a href="56,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">% vector, and TH2 a scalar then return a column vector where TH2 is modulo </span></span></span>
<span class="srcline"><span class="lineno"><a href="56,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% subtracted from the corresponding elements of TH1.</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% D = ANGDIFF(TH) returns the equivalent angle to TH in the interval [-pi pi).</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,10" id="srcline10">10</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="56,11" id="srcline11">11</a></span><span class="line"><span class="comment">% Copyright (C) 1993-2014, by Peter I. Corke</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,12" id="srcline12">12</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,13" id="srcline13">13</a></span><span class="line"><span class="comment">% This file is part of The Robotics Toolbox for MATLAB (RTB).</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,14" id="srcline14">14</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="56,15" id="srcline15">15</a></span><span class="line"><span class="comment">% RTB is free software: you can redistribute it and/or modify</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,16" id="srcline16">16</a></span><span class="line"><span class="comment">% it under the terms of the GNU Lesser General Public License as published by</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,17" id="srcline17">17</a></span><span class="line"><span class="comment">% the Free Software Foundation, either version 3 of the License, or</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,18" id="srcline18">18</a></span><span class="line"><span class="comment">% (at your option) any later version.</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,19" id="srcline19">19</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="56,20" id="srcline20">20</a></span><span class="line"><span class="comment">% RTB is distributed in the hope that it will be useful,</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,21" id="srcline21">21</a></span><span class="line"><span class="comment">% but WITHOUT ANY WARRANTY; without even the implied warranty of</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,22" id="srcline22">22</a></span><span class="line"><span class="comment">% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,23" id="srcline23">23</a></span><span class="line"><span class="comment">% GNU Lesser General Public License for more details.</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,24" id="srcline24">24</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="56,25" id="srcline25">25</a></span><span class="line"><span class="comment">% You should have received a copy of the GNU Leser General Public License</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,26" id="srcline26">26</a></span><span class="line"><span class="comment">% along with RTB.  If not, see &lt;http://www.gnu.org/licenses/&gt;.</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,27" id="srcline27">27</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,28" id="srcline28">28</a></span><span class="line"><span class="comment">% http://www.petercorke.com</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,29" id="srcline29">29</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="56,30" id="srcline30">30</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T1U3">d</span> = angdiff(<span class="var type1" id="S3T1U6">th1</span>, <span class="var type1" id="S4T1U7">th2</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="56,31" id="srcline31">31</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="56,32" id="srcline32">32</a></span><span class="line">    <span class="keyword">if</span> nargin &lt; 2</span></span>
<span class="srcline"><span class="lineno"><a href="56,33" id="srcline33">33</a></span><span class="line"><span class="comment">% THIS IS A BAD IDEA, WHERE IS IT USED?</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,34" id="srcline34">34</a></span><span class="line"><span class="comment">%         if length(th1) &gt; 1</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,35" id="srcline35">35</a></span><span class="line"><span class="comment">%             d = th1(1) - th1(2);</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,36" id="srcline36">36</a></span><span class="line"><span class="comment">%         else</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,37" id="srcline37">37</a></span><span class="line"><span class="comment">%             d = th1;</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,38" id="srcline38">38</a></span><span class="line"><span class="comment">%         end</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,39" id="srcline39">39</a></span><span class="line">        <span class="var type0" id="S2T0U16">d</span> = <span class="var type0" id="S3T0U17">th1</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="56,40" id="srcline40">40</a></span><span class="line">    <span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,41" id="srcline41">41</a></span><span class="line">        <span class="mxinfo " id="T1:U4"><span class="var type1" id="S2T1U21">d</span> = <span class="mxinfo " id="T1:U6"><span class="var type1" id="S3T1U23">th1</span> - <span class="var type1" id="S4T1U24">th2</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="56,42" id="srcline42">42</a></span><span class="line">    <span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,43" id="srcline43">43</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="56,44" id="srcline44">44</a></span><span class="line">    </span></span>
<span class="srcline"><span class="lineno"><a href="56,45" id="srcline45">45</a></span><span class="line">    <span class="mxinfo " id="T1:U9"><span class="var type1" id="S2T1U27">d</span> = <span class="mxinfo " id="T1:U11"><span class="mxinfo " id="T1:U12">mod(<span class="mxinfo " id="T1:U13"><span class="var type1" id="S2T1U32">d</span>+<span class="mxinfo " id="T1:U15">pi</span></span>, <span class="mxinfo " id="T1:U16">2*pi</span>)</span> - <span class="mxinfo " id="T1:U17">pi</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="56,46" id="srcline46">46</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="56,47" id="srcline47">47</a></span><span class="line"><span class="comment">% Simplistic version of the code, easy to see what it does, but slow<span class="keyword">...</span></span></span></span>
<span class="srcline"><span class="lineno"><a href="56,48" id="srcline48">48</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,49" id="srcline49">49</a></span><span class="line"><span class="comment">% for very negative angles keep adding 2pi</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,50" id="srcline50">50</a></span><span class="line"><span class="comment">%     while true</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,51" id="srcline51">51</a></span><span class="line"><span class="comment">%         k = find(d &lt; -pi);</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,52" id="srcline52">52</a></span><span class="line"><span class="comment">%         if isempty(k)</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,53" id="srcline53">53</a></span><span class="line"><span class="comment">%             break;</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,54" id="srcline54">54</a></span><span class="line"><span class="comment">%         end</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,55" id="srcline55">55</a></span><span class="line"><span class="comment">%         d(k) = d(k) + 2*pi;</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,56" id="srcline56">56</a></span><span class="line"><span class="comment">%     end</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,57" id="srcline57">57</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="56,58" id="srcline58">58</a></span><span class="line"><span class="comment">%     % for very positive angles keep subtracting 2pi</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,59" id="srcline59">59</a></span><span class="line"><span class="comment">%     while true</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,60" id="srcline60">60</a></span><span class="line"><span class="comment">%         k = find(d &gt; pi);</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,61" id="srcline61">61</a></span><span class="line"><span class="comment">%         if isempty(k)</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,62" id="srcline62">62</a></span><span class="line"><span class="comment">%             break;</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,63" id="srcline63">63</a></span><span class="line"><span class="comment">%         end</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,64" id="srcline64">64</a></span><span class="line"><span class="comment">%         d(k) = d(k) - 2*pi;</span></span></span>
<span class="srcline"><span class="lineno"><a href="56,65" id="srcline65">65</a></span><span class="line"><span class="comment">%     end</span></span></span>
</pre>
