<pre class="code">
<span class="srcline"><span class="lineno"><a href="10,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S2T8U3">Y</span> = cartesian2spherical(<span class="var type1" id="S3T8U6">X</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="10,2" id="srcline2"> 2</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,3" id="srcline3"> 3</a></span><span class="line"><span class="mxinfo " id="T1:U3"><span class="var type1" id="S4T1U9">x</span>   = <span class="mxinfo " id="T1:U5"><span class="var type1" id="S3T8U11">X</span>(<span class="mxinfo " id="T14:U7">1</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,4" id="srcline4"> 4</a></span><span class="line"><span class="mxinfo " id="T1:U8"><span class="var type1" id="S5T1U15">y</span>   = <span class="mxinfo " id="T1:U10"><span class="var type1" id="S3T8U17">X</span>(<span class="mxinfo " id="T14:U12">2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,5" id="srcline5"> 5</a></span><span class="line"><span class="mxinfo " id="T1:U13"><span class="var type1" id="S6T1U21">z</span>   = <span class="mxinfo " id="T1:U15"><span class="var type1" id="S3T8U23">X</span>(<span class="mxinfo " id="T14:U17">3</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,6" id="srcline6"> 6</a></span><span class="line"><span class="mxinfo " id="T1:U18"><span class="var type1" id="S7T1U27">vx</span>  = <span class="mxinfo " id="T1:U20"><span class="var type1" id="S3T8U29">X</span>(<span class="mxinfo " id="T1:U22">4</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,7" id="srcline7"> 7</a></span><span class="line"><span class="mxinfo " id="T1:U23"><span class="var type1" id="S8T1U33">vy</span>  = <span class="mxinfo " id="T1:U25"><span class="var type1" id="S3T8U35">X</span>(<span class="mxinfo " id="T14:U27">5</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,8" id="srcline8"> 8</a></span><span class="line"><span class="mxinfo " id="T1:U28"><span class="var type1" id="S9T1U39">vz</span>  = <span class="mxinfo " id="T1:U30"><span class="var type1" id="S3T8U41">X</span>(<span class="mxinfo " id="T14:U32">6</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,9" id="srcline9"> 9</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,10" id="srcline10">10</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,11" id="srcline11">11</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,12" id="srcline12">12</a></span><span class="line"><span class="mxinfo " id="T1:U33"><span class="var type1" id="S10T1U45">rho</span>         = <span class="mxinfo " id="T1:U35">sqrt(<span class="mxinfo " id="T1:U36"><span class="mxinfo " id="T1:U37"><span class="mxinfo " id="T1:U38"><span class="var type1" id="S4T1U51">x</span>^2</span> + <span class="mxinfo " id="T1:U40"><span class="var type1" id="S5T1U54">y</span>^2</span></span> + <span class="mxinfo " id="T1:U42"><span class="var type1" id="S6T1U57">z</span>^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,13" id="srcline13">13</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,14" id="srcline14">14</a></span><span class="line"><span class="comment">% define atan for 2*pi</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,15" id="srcline15">15</a></span><span class="line"><span class="mxinfo " id="T1:U44"><span class="var type1" id="S12T1U61">th</span> = <span class="mxinfo " id="T1:U46">atan2(<span class="var type1" id="S5T1U64">y</span>,<span class="var type1" id="S4T1U65">x</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,16" id="srcline16">16</a></span><span class="line"><span class="comment">%th = atan(y/x);</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,17" id="srcline17">17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,18" id="srcline18">18</a></span><span class="line"><span class="comment">% if(th &lt; 0)</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,19" id="srcline19">19</a></span><span class="line"><span class="comment">%     theta = th + 2*pi;</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,20" id="srcline20">20</a></span><span class="line"><span class="comment">% else</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,21" id="srcline21">21</a></span><span class="line">      <span class="mxinfo " id="T1:U49"><span class="var type1" id="S14T1U68">theta</span> = <span class="var type1" id="S12T1U69">th</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,22" id="srcline22">22</a></span><span class="line"><span class="comment">% end</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,23" id="srcline23">23</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,24" id="srcline24">24</a></span><span class="line"><span class="comment">%ph         = atan(z/sqrt(x^2 + y^2));</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,25" id="srcline25">25</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,26" id="srcline26">26</a></span><span class="line"><span class="mxinfo " id="T1:U52"><span class="var type1" id="S15T1U72">ph</span>         = <span class="mxinfo " id="T1:U54">atan2(<span class="var type1" id="S6T1U75">z</span>, <span class="mxinfo " id="T1:U56">sqrt(<span class="mxinfo " id="T1:U57"><span class="mxinfo " id="T1:U58"><span class="var type1" id="S4T1U80">x</span>^2</span> + <span class="mxinfo " id="T1:U60"><span class="var type1" id="S5T1U83">y</span>^2</span></span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,27" id="srcline27">27</a></span><span class="line"> </span></span>
<span class="srcline"><span class="lineno"><a href="10,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,29" id="srcline29">29</a></span><span class="line"><span class="comment">% if(ph &lt; 0)</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,30" id="srcline30">30</a></span><span class="line"><span class="comment">%     phi = ph + 2*pi;</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,31" id="srcline31">31</a></span><span class="line"><span class="comment">% else</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,32" id="srcline32">32</a></span><span class="line">    <span class="mxinfo " id="T1:U62"><span class="var type1" id="S16T1U87">phi</span> = <span class="var type1" id="S15T1U88">ph</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,33" id="srcline33">33</a></span><span class="line"><span class="comment">% end</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,34" id="srcline34">34</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,35" id="srcline35">35</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,36" id="srcline36">36</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,37" id="srcline37">37</a></span><span class="line"><span class="mxinfo " id="T1:U65"><span class="var type1" id="S17T1U91">rho_dot</span>     = <span class="mxinfo " id="T1:U67">(<span class="mxinfo " id="T1:U68"><span class="mxinfo " id="T1:U69"><span class="mxinfo " id="T1:U70"><span class="var type1" id="S4T1U97">x</span>*<span class="var type1" id="S7T1U98">vx</span></span> + <span class="mxinfo " id="T1:U73"><span class="var type1" id="S5T1U100">y</span>*<span class="var type1" id="S8T1U101">vy</span></span></span> + <span class="mxinfo " id="T1:U76"><span class="var type1" id="S6T1U103">z</span>*<span class="var type1" id="S9T1U104">vz</span></span></span>)/<span class="var type1" id="S10T1U105">rho</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,38" id="srcline38">38</a></span><span class="line"><span class="mxinfo " id="T1:U80"><span class="var type1" id="S18T1U108">theta_dot</span>   = <span class="mxinfo " id="T1:U82">(<span class="mxinfo " id="T1:U83"><span class="mxinfo " id="T1:U84"><span class="var type1" id="S8T1U113">vy</span>*<span class="var type1" id="S4T1U114">x</span></span> - <span class="mxinfo " id="T1:U87"><span class="var type1" id="S7T1U116">vx</span>*<span class="var type1" id="S5T1U117">y</span></span></span>)/(<span class="mxinfo " id="T1:U90"><span class="mxinfo " id="T1:U91"><span class="var type1" id="S4T1U121">x</span>^2</span> + <span class="mxinfo " id="T1:U93"><span class="var type1" id="S5T1U124">y</span>^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,39" id="srcline39">39</a></span><span class="line"><span class="mxinfo " id="T1:U95"><span class="var type1" id="S19T1U128">phi_dot</span>     = <span class="mxinfo " id="T1:U97">(<span class="mxinfo " id="T1:U98"><span class="mxinfo " id="T1:U99"><span class="var type1" id="S9T1U133">vz</span>*(<span class="mxinfo " id="T1:U101"><span class="mxinfo " id="T1:U102"><span class="var type1" id="S4T1U137">x</span>^2</span> + <span class="mxinfo " id="T1:U104"><span class="var type1" id="S5T1U140">y</span>^2</span></span>)</span> - <span class="mxinfo " id="T1:U106"><span class="var type1" id="S6T1U143">z</span>*(<span class="mxinfo " id="T1:U108"><span class="mxinfo " id="T1:U109"><span class="var type1" id="S4T1U147">x</span>*<span class="var type1" id="S7T1U148">vx</span></span> + <span class="mxinfo " id="T1:U112"><span class="var type1" id="S5T1U150">y</span>*<span class="var type1" id="S8T1U151">vy</span></span></span>)</span></span>)/(<span class="mxinfo " id="T1:U115"><span class="mxinfo " id="T1:U116">sqrt(<span class="mxinfo " id="T1:U117"><span class="mxinfo " id="T1:U118"><span class="var type1" id="S4T1U158">x</span>^2</span> + <span class="mxinfo " id="T1:U120"><span class="var type1" id="S5T1U161">y</span>^2</span></span>)</span>*<span class="mxinfo " id="T1:U122"><span class="var type1" id="S10T1U164">rho</span>^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,40" id="srcline40">40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,41" id="srcline41">41</a></span><span class="line"><span class="comment">% if(X == zeros(6,1))</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,42" id="srcline42">42</a></span><span class="line"><span class="comment">%     Y = zeros(6,1);</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,43" id="srcline43">43</a></span><span class="line"><span class="comment">% else</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,44" id="srcline44">44</a></span><span class="line">     <span class="mxinfo " id="T8:U124"><span class="var type1" id="S2T8U168">Y</span> = <span class="mxinfo " id="T8:U126">[<span class="var type1" id="S10T1U171">rho</span>; <span class="var type1" id="S14T1U173">theta</span>; <span class="var type1" id="S16T1U175">phi</span>; <span class="var type1" id="S17T1U177">rho_dot</span>; <span class="var type1" id="S18T1U179">theta_dot</span>; <span class="var type1" id="S19T1U181">phi_dot</span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="10,45" id="srcline45">45</a></span><span class="line"><span class="comment">%end</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,46" id="srcline46">46</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,47" id="srcline47">47</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,48" id="srcline48">48</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,49" id="srcline49">49</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="10,50" id="srcline50">50</a></span><span class="line"><span class="comment">% % define atan for 2*pi</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,51" id="srcline51">51</a></span><span class="line"><span class="comment">% if (x&gt;0 &amp;&amp; y&gt;= 0)</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,52" id="srcline52">52</a></span><span class="line"><span class="comment">%     theta       = atan(y/x) + pi;</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,53" id="srcline53">53</a></span><span class="line"><span class="comment">% elseif ( x&lt;0 &amp;&amp; y&lt;0)</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,54" id="srcline54">54</a></span><span class="line"><span class="comment">%     theta       = atan(y/x) - pi;</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,55" id="srcline55">55</a></span><span class="line"><span class="comment">% else</span></span></span>
<span class="srcline"><span class="lineno"><a href="10,56" id="srcline56">56</a></span><span class="line"><span class="comment">%     theta       = atan(y/x);</span></span></span>
</pre>
