<pre class="code">
<span class="srcline"><span class="lineno"><a href="9,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> [<span class="var type1" id="S2T8U3">X_est</span> , <span class="var type1" id="S3T8U4">Y_est</span>] = DSDRE_F(<span class="var type1" id="S4T12U7">measurements</span>, <span class="var type1" id="S5T12U8">u</span>, <span class="var type1" id="S6T3U9">F</span>, <span class="var type1" id="S7T8U10">X_k_1</span>, <span class="var type1" id="S8T8U11">Y_k_1</span>, <span class="var type1" id="S9T2U12">B0</span>, <span class="var type1" id="S10T1U13">Ts</span>, <span class="var type1" id="S11T3U14">Qf</span>, <span class="var type1" id="S12T4U15">Rf</span>, <span class="var type1" id="S13T3U16">Pf</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="9,2" id="srcline2"> 2</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,3" id="srcline3"> 3</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,4" id="srcline4"> 4</a></span><span class="line"><span class="mxinfo " id="T13:U13"><span class="var type1" id="S14T13U19">Hsens</span> = <span class="mxinfo " id="T13:U15">[eye(3), zeros(<span class="mxinfo " id="T1:U16">3</span>,<span class="mxinfo " id="T1:U17">3</span>)]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,5" id="srcline5"> 5</a></span><span class="line"><span class="keyword">persistent</span> <span class="var type1" id="S17T3U30">P</span> <span class="var type1" id="S18T8U31">X_pred</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,6" id="srcline6"> 6</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,7" id="srcline7"> 7</a></span><span class="line"><span class="keyword">if</span> <span class="mxinfo " id="T6:U20">isempty(<span class="var type0" id="S17T0U36">P</span>)</span>    </span></span>
<span class="srcline"><span class="lineno"><a href="9,8" id="srcline8"> 8</a></span><span class="line">    <span class="mxinfo " id="T3:U21"><span class="var type1" id="S17T3U39">P</span> =  <span class="var type1" id="S13T3U40">Pf</span></span>; </span></span>
<span class="srcline"><span class="lineno"><a href="9,9" id="srcline9"> 9</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,10" id="srcline10">10</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,11" id="srcline11">11</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,12" id="srcline12">12</a></span><span class="line"><span class="mxinfo " id="T8:U24"><span class="var type1" id="S18T8U43">X_pred</span> = <span class="mxinfo " id="T8:U26"><span class="mxinfo " id="T8:U27">(<span class="mxinfo " id="T3:U28"><span class="mxinfo " id="T3:U29">eye(6)</span> + <span class="mxinfo " id="T3:U30"><span class="var type1" id="S10T1U52">Ts</span>*<span class="var type1" id="S6T3U53">F</span></span></span>)*<span class="var type1" id="S7T8U54">X_k_1</span></span> + <span class="mxinfo " id="T8:U34"><span class="mxinfo " id="T2:U35"><span class="var type1" id="S10T1U57">Ts</span>*<span class="var type1" id="S9T2U58">B0</span></span>*<span class="var type1" id="S5T12U59">u</span></span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,13" id="srcline13">13</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,14" id="srcline14">14</a></span><span class="line"><span class="comment">% prediction state from cartesian to spherical coordinates</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,15" id="srcline15">15</a></span><span class="line"><span class="mxinfo " id="T8:U39"><span class="var type1" id="S20T8U62">Y_pred</span> = <span class="mxinfo " id="T8:U41"><span class="fcn" id="F31N5:B64">cartesian2spherical</span>(<span class="var type1" id="S18T8U65">X_pred</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,16" id="srcline16">16</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,17" id="srcline17">17</a></span><span class="line"><span class="mxinfo " id="T3:U43"><span class="var type1" id="S22T3U68">PHI_k</span> = <span class="mxinfo " id="T3:U45"><span class="mxinfo " id="T3:U46"><span class="mxinfo " id="T3:U47"><span class="fcn" id="F67N8:B72">jacobian_cart2spher</span>(<span class="var type1" id="S18T8U73">X_pred</span>)</span>*(<span class="mxinfo " id="T3:U49"><span class="mxinfo " id="T3:U50">eye(6)</span> + <span class="mxinfo " id="T3:U51"><span class="var type1" id="S10T1U80">Ts</span>*<span class="var type1" id="S6T3U81">F</span></span></span>)</span>*<span class="mxinfo " id="T3:U54"><span class="fcn" id="F78N9:B83">jacobian_spher2cart</span>(<span class="var type1" id="S8T8U84">Y_k_1</span>)</span></span></span>; <span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,18" id="srcline18">18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,19" id="srcline19">19</a></span><span class="line"><span class="mxinfo " id="T3:U56"><span class="var type1" id="S17T3U87">P</span> = <span class="mxinfo " id="T3:U58"><span class="mxinfo " id="T3:U59"><span class="mxinfo " id="T3:U60"><span class="var type1" id="S22T3U91">PHI_k</span>*<span class="var type1" id="S17T3U92">P</span></span>*<span class="mxinfo " id="T3:U63"><span class="var type1" id="S22T3U94">PHI_k</span>'</span></span> + <span class="var type1" id="S11T3U95">Qf</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,20" id="srcline20">20</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,21" id="srcline21">21</a></span><span class="line"><span class="comment">% correction in spherical coordiantes</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,22" id="srcline22">22</a></span><span class="line"><span class="mxinfo " id="T2:U66"><span class="var type1" id="S25T2U98">K</span> = <span class="mxinfo " id="T2:U68"><span class="mxinfo " id="T2:U69"><span class="var type1" id="S17T3U101">P</span>*<span class="mxinfo " id="T2:U71"><span class="var type1" id="S14T13U103">Hsens</span>'</span></span>*<span class="mxinfo " id="T4:U73">(<span class="mxinfo " id="T4:U74"><span class="mxinfo " id="T4:U75"><span class="mxinfo " id="T13:U76"><span class="var type1" id="S14T13U109">Hsens</span>*<span class="var type1" id="S17T3U110">P</span></span>*<span class="mxinfo " id="T2:U79"><span class="var type1" id="S14T13U112">Hsens</span>'</span></span> + <span class="var type1" id="S12T4U113">Rf</span></span>)^(-1)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,23" id="srcline23">23</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,24" id="srcline24">24</a></span><span class="line"><span class="comment">% improve the performance with angdiff();</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,25" id="srcline25">25</a></span><span class="line"><span class="mxinfo " id="T12:U82"><span class="var type1" id="S26T12U119">err_measurements</span> = <span class="mxinfo " id="T12:U84">[<span class="mxinfo " id="T1:U85"><span class="mxinfo " id="T1:U86"><span class="var type1" id="S4T12U124">measurements</span>(<span class="mxinfo " id="T14:U88">1</span>)</span> - <span class="mxinfo " id="T1:U89"><span class="var type1" id="S20T8U127">Y_pred</span>(<span class="mxinfo " id="T1:U91">1</span>)</span></span>; <span class="mxinfo " id="T1:U92">angdiff(<span class="mxinfo " id="T1:U93"><span class="var type1" id="S4T12U133">measurements</span>(<span class="mxinfo " id="T14:U95">2</span>)</span>,<span class="mxinfo " id="T1:U96"><span class="var type1" id="S20T8U136">Y_pred</span>(<span class="mxinfo " id="T14:U98">2</span>)</span>)</span>;<span class="mxinfo " id="T1:U99">angdiff(<span class="mxinfo " id="T1:U100"><span class="var type1" id="S4T12U142">measurements</span>(<span class="mxinfo " id="T14:U102">3</span>)</span>,<span class="mxinfo " id="T1:U103"><span class="var type1" id="S20T8U145">Y_pred</span>(<span class="mxinfo " id="T14:U105">3</span>)</span>)</span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,26" id="srcline26">26</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,27" id="srcline27">27</a></span><span class="line"><span class="comment">% state estimated in spherical coordinates</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,28" id="srcline28">28</a></span><span class="line"><span class="comment">%Y_est = Y_pred + K*(measurements - Hsens*Y_pred);</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,29" id="srcline29">29</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,30" id="srcline30">30</a></span><span class="line"><span class="mxinfo " id="T8:U106"><span class="var type1" id="S3T8U149">Y_est</span> = <span class="mxinfo " id="T8:U108"><span class="var type1" id="S20T8U151">Y_pred</span> + <span class="mxinfo " id="T8:U110"><span class="var type1" id="S25T2U153">K</span>*(<span class="var type1" id="S26T12U155">err_measurements</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,31" id="srcline31">31</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,32" id="srcline32">32</a></span><span class="line"><span class="comment">% state estimated from spherical to cartesian frame</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,33" id="srcline33">33</a></span><span class="line"><span class="mxinfo " id="T8:U113"><span class="var type1" id="S2T8U158">X_est</span> = <span class="mxinfo " id="T8:U115"><span class="fcn" id="F160N10:B160">spherical2cartesian</span>(<span class="var type1" id="S3T8U161">Y_est</span>)</span></span>;                                 </span></span>
<span class="srcline"><span class="lineno"><a href="9,34" id="srcline34">34</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,35" id="srcline35">35</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,36" id="srcline36">36</a></span><span class="line"><span class="comment">% update P in spherical frame</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,37" id="srcline37">37</a></span><span class="line"><span class="var type0" id="S17T0U164">P</span> = (eye(6) - <span class="var type0" id="S25T0U172">K</span>*<span class="var type0" id="S14T0U173">Hsens</span>)*<span class="var type0" id="S17T0U174">P</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,38" id="srcline38">38</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,39" id="srcline39">39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,40" id="srcline40">40</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,41" id="srcline41">41</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,42" id="srcline42">42</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,43" id="srcline43">43</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,44" id="srcline44">44</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,45" id="srcline45">45</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,46" id="srcline46">46</a></span><span class="line"></span></span>
</pre>
