<pre class="code">
<span class="srcline"><span class="lineno"><a href="33,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> [<span class="var type1" id="S2T3U3">dx_dy</span>] = jacobian_spher2cart(<span class="var type1" id="S3T8U6">Y</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="33,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% jacobian from cartesian to spherical coordiantes</span></span></span>
<span class="srcline"><span class="lineno"><a href="33,3" id="srcline3"> 3</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,4" id="srcline4"> 4</a></span><span class="line"><span class="mxinfo " id="T1:U3"><span class="var type1" id="S4T1U9">rho</span>         = <span class="mxinfo " id="T1:U5"><span class="var type1" id="S3T8U11">Y</span>(<span class="mxinfo " id="T14:U7">1</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,5" id="srcline5"> 5</a></span><span class="line"><span class="mxinfo " id="T1:U8"><span class="var type1" id="S5T1U15">theta</span>       = <span class="mxinfo " id="T1:U10"><span class="var type1" id="S3T8U17">Y</span>(<span class="mxinfo " id="T14:U12">2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,6" id="srcline6"> 6</a></span><span class="line"><span class="mxinfo " id="T1:U13"><span class="var type1" id="S6T1U21">phi</span>         = <span class="mxinfo " id="T1:U15"><span class="var type1" id="S3T8U23">Y</span>(<span class="mxinfo " id="T14:U17">3</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,7" id="srcline7"> 7</a></span><span class="line"><span class="mxinfo " id="T1:U18"><span class="var type1" id="S7T1U27">rho_dot</span>     = <span class="mxinfo " id="T1:U20"><span class="var type1" id="S3T8U29">Y</span>(<span class="mxinfo " id="T14:U22">4</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,8" id="srcline8"> 8</a></span><span class="line"><span class="mxinfo " id="T1:U23"><span class="var type1" id="S8T1U33">theta_dot</span>   = <span class="mxinfo " id="T1:U25"><span class="var type1" id="S3T8U35">Y</span>(<span class="mxinfo " id="T14:U27">5</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,9" id="srcline9"> 9</a></span><span class="line"><span class="mxinfo " id="T1:U28"><span class="var type1" id="S9T1U39">phi_dot</span>     = <span class="mxinfo " id="T1:U30"><span class="var type1" id="S3T8U41">Y</span>(<span class="mxinfo " id="T14:U32">6</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,10" id="srcline10">10</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,11" id="srcline11">11</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,12" id="srcline12">12</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,13" id="srcline13">13</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,14" id="srcline14">14</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,15" id="srcline15">15</a></span><span class="line"><span class="mxinfo " id="T3:U33"><span class="var type1" id="S10T3U45">dx_dy_p</span> = <span class="mxinfo " id="T3:U35">[<span class="mxinfo " id="T26:U36"><span class="mxinfo " id="T1:U37"><span class="mxinfo " id="T1:U38">cos(<span class="var type1" id="S6T1U51">phi</span>)</span>*<span class="mxinfo " id="T1:U40">cos(<span class="var type1" id="S5T1U54">theta</span>)</span></span>, <span class="mxinfo " id="T1:U42"><span class="mxinfo " id="T1:U43"><span class="mxinfo " id="T1:U44">-<span class="var type1" id="S4T1U58">rho</span></span>*<span class="mxinfo " id="T1:U46">cos(<span class="var type1" id="S6T1U61">phi</span>)</span></span>*<span class="mxinfo " id="T1:U48">sin(<span class="var type1" id="S5T1U64">theta</span>)</span></span>, <span class="mxinfo " id="T1:U50"><span class="mxinfo " id="T1:U51"><span class="mxinfo " id="T1:U52">-<span class="var type1" id="S4T1U68">rho</span></span>*<span class="mxinfo " id="T1:U54">cos(<span class="var type1" id="S5T1U71">theta</span>)</span></span>*<span class="mxinfo " id="T1:U56">sin(<span class="var type1" id="S6T1U74">phi</span>)</span></span>, <span class="mxinfo " id="T1:U58">0</span>, <span class="mxinfo " id="T1:U59">0</span>, <span class="mxinfo " id="T1:U60">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,16" id="srcline16">16</a></span><span class="line">        <span class="mxinfo " id="T26:U61"><span class="mxinfo " id="T1:U62"><span class="mxinfo " id="T1:U63">cos(<span class="var type1" id="S6T1U82">phi</span>)</span>*<span class="mxinfo " id="T1:U65">sin(<span class="var type1" id="S5T1U85">theta</span>)</span></span>, <span class="mxinfo " id="T1:U67"><span class="mxinfo " id="T1:U68"><span class="var type1" id="S4T1U88">rho</span>*<span class="mxinfo " id="T1:U70">cos(<span class="var type1" id="S6T1U91">phi</span>)</span></span>*<span class="mxinfo " id="T1:U72">cos(<span class="var type1" id="S5T1U94">theta</span>)</span></span>, <span class="mxinfo " id="T1:U74"><span class="mxinfo " id="T1:U75"><span class="mxinfo " id="T1:U76">-<span class="var type1" id="S4T1U98">rho</span></span>*<span class="mxinfo " id="T1:U78">sin(<span class="var type1" id="S6T1U101">phi</span>)</span></span>*<span class="mxinfo " id="T1:U80">sin(<span class="var type1" id="S5T1U104">theta</span>)</span></span>, <span class="mxinfo " id="T1:U82">0</span>, <span class="mxinfo " id="T1:U83">0</span>, <span class="mxinfo " id="T1:U84">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,17" id="srcline17">17</a></span><span class="line">        <span class="mxinfo " id="T26:U85"><span class="mxinfo " id="T1:U86">sin(<span class="var type1" id="S6T1U111">phi</span>)</span>, <span class="mxinfo " id="T1:U88">0</span>, <span class="mxinfo " id="T1:U89"><span class="var type1" id="S4T1U114">rho</span>*<span class="mxinfo " id="T1:U91">cos(<span class="var type1" id="S6T1U117">phi</span>)</span></span>, <span class="mxinfo " id="T1:U93">0</span>, <span class="mxinfo " id="T1:U94">0</span>, <span class="mxinfo " id="T1:U95">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,18" id="srcline18">18</a></span><span class="line">        <span class="mxinfo " id="T26:U96"><span class="mxinfo " id="T1:U97"><span class="mxinfo " id="T1:U98"><span class="mxinfo " id="T1:U99"><span class="mxinfo " id="T1:U100">- <span class="var type1" id="S9T1U126">phi_dot</span></span>*<span class="mxinfo " id="T1:U102">cos(<span class="var type1" id="S5T1U129">theta</span>)</span></span>*<span class="mxinfo " id="T1:U104">sin(<span class="var type1" id="S6T1U132">phi</span>)</span></span> - <span class="mxinfo " id="T1:U106"><span class="mxinfo " id="T1:U107"><span class="var type1" id="S8T1U135">theta_dot</span>*<span class="mxinfo " id="T1:U109">cos(<span class="var type1" id="S6T1U138">phi</span>)</span></span>*<span class="mxinfo " id="T1:U111">sin(<span class="var type1" id="S5T1U141">theta</span>)</span></span></span>, <span class="mxinfo " id="T1:U113"><span class="mxinfo " id="T1:U114"><span class="mxinfo " id="T1:U115"><span class="mxinfo " id="T1:U116"><span class="mxinfo " id="T1:U117"><span class="var type1" id="S9T1U147">phi_dot</span>*<span class="var type1" id="S4T1U148">rho</span></span>*<span class="mxinfo " id="T1:U120">sin(<span class="var type1" id="S6T1U151">phi</span>)</span></span>*<span class="mxinfo " id="T1:U122">sin(<span class="var type1" id="S5T1U154">theta</span>)</span></span> - <span class="mxinfo " id="T1:U124"><span class="mxinfo " id="T1:U125"><span class="var type1" id="S7T1U157">rho_dot</span>*<span class="mxinfo " id="T1:U127">cos(<span class="var type1" id="S6T1U160">phi</span>)</span></span>*<span class="mxinfo " id="T1:U129">sin(<span class="var type1" id="S5T1U163">theta</span>)</span></span></span> - <span class="mxinfo " id="T1:U131"><span class="mxinfo " id="T1:U132"><span class="mxinfo " id="T1:U133"><span class="var type1" id="S4T1U167">rho</span>*<span class="var type1" id="S8T1U168">theta_dot</span></span>*<span class="mxinfo " id="T1:U136">cos(<span class="var type1" id="S6T1U171">phi</span>)</span></span>*<span class="mxinfo " id="T1:U138">cos(<span class="var type1" id="S5T1U174">theta</span>)</span></span></span>,<span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="33,19" id="srcline19">19</a></span><span class="line">        <span class="mxinfo " id="T1:U140"><span class="mxinfo " id="T1:U141"><span class="mxinfo " id="T1:U142"><span class="mxinfo " id="T1:U143"><span class="mxinfo " id="T1:U144"><span class="var type1" id="S4T1U180">rho</span>*<span class="var type1" id="S8T1U181">theta_dot</span></span>*<span class="mxinfo " id="T1:U147">sin(<span class="var type1" id="S6T1U184">phi</span>)</span></span>*<span class="mxinfo " id="T1:U149">sin(<span class="var type1" id="S5T1U187">theta</span>)</span></span> - <span class="mxinfo " id="T1:U151"><span class="mxinfo " id="T1:U152"><span class="var type1" id="S7T1U190">rho_dot</span>*<span class="mxinfo " id="T1:U154">cos(<span class="var type1" id="S5T1U193">theta</span>)</span></span>*<span class="mxinfo " id="T1:U156">sin(<span class="var type1" id="S6T1U196">phi</span>)</span></span></span> - <span class="mxinfo " id="T1:U158"><span class="mxinfo " id="T1:U159"><span class="mxinfo " id="T1:U160"><span class="var type1" id="S9T1U200">phi_dot</span>*<span class="var type1" id="S4T1U201">rho</span></span>*<span class="mxinfo " id="T1:U163">cos(<span class="var type1" id="S6T1U204">phi</span>)</span></span>*<span class="mxinfo " id="T1:U165">cos(<span class="var type1" id="S5T1U207">theta</span>)</span></span></span>, <span class="mxinfo " id="T1:U167"><span class="mxinfo " id="T1:U168">cos(<span class="var type1" id="S6T1U211">phi</span>)</span>*<span class="mxinfo " id="T1:U170">cos(<span class="var type1" id="S5T1U214">theta</span>)</span></span>, <span class="mxinfo " id="T1:U172"><span class="mxinfo " id="T1:U173"><span class="mxinfo " id="T1:U174">-<span class="var type1" id="S4T1U218">rho</span></span>*<span class="mxinfo " id="T1:U176">cos(<span class="var type1" id="S6T1U221">phi</span>)</span></span>*<span class="mxinfo " id="T1:U178">sin(<span class="var type1" id="S5T1U224">theta</span>)</span></span>, <span class="mxinfo " id="T1:U180"><span class="mxinfo " id="T1:U181"><span class="mxinfo " id="T1:U182">-<span class="var type1" id="S4T1U228">rho</span></span>*<span class="mxinfo " id="T1:U184">cos(<span class="var type1" id="S5T1U231">theta</span>)</span></span>*<span class="mxinfo " id="T1:U186">sin(<span class="var type1" id="S6T1U234">phi</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,20" id="srcline20">20</a></span><span class="line">        <span class="mxinfo " id="T26:U188"><span class="mxinfo " id="T1:U189"><span class="mxinfo " id="T1:U190"><span class="mxinfo " id="T1:U191"><span class="var type1" id="S8T1U239">theta_dot</span>*<span class="mxinfo " id="T1:U193">cos(<span class="var type1" id="S6T1U242">phi</span>)</span></span>*<span class="mxinfo " id="T1:U195">cos(<span class="var type1" id="S5T1U245">theta</span>)</span></span> - <span class="mxinfo " id="T1:U197"><span class="mxinfo " id="T1:U198"><span class="var type1" id="S9T1U248">phi_dot</span>*<span class="mxinfo " id="T1:U200">sin(<span class="var type1" id="S6T1U251">phi</span>)</span></span>*<span class="mxinfo " id="T1:U202">sin(<span class="var type1" id="S5T1U254">theta</span>)</span></span></span>, <span class="mxinfo " id="T1:U204"><span class="mxinfo " id="T1:U205"><span class="mxinfo " id="T1:U206"><span class="mxinfo " id="T1:U207"><span class="var type1" id="S7T1U259">rho_dot</span>*<span class="mxinfo " id="T1:U209">cos(<span class="var type1" id="S6T1U262">phi</span>)</span></span>*<span class="mxinfo " id="T1:U211">cos(<span class="var type1" id="S5T1U265">theta</span>)</span></span> - <span class="mxinfo " id="T1:U213"><span class="mxinfo " id="T1:U214"><span class="mxinfo " id="T1:U215"><span class="var type1" id="S4T1U269">rho</span>*<span class="var type1" id="S8T1U270">theta_dot</span></span>*<span class="mxinfo " id="T1:U218">cos(<span class="var type1" id="S6T1U273">phi</span>)</span></span>*<span class="mxinfo " id="T1:U220">sin(<span class="var type1" id="S5T1U276">theta</span>)</span></span></span> - <span class="mxinfo " id="T1:U222"><span class="mxinfo " id="T1:U223"><span class="mxinfo " id="T1:U224"><span class="var type1" id="S9T1U280">phi_dot</span>*<span class="var type1" id="S4T1U281">rho</span></span>*<span class="mxinfo " id="T1:U227">cos(<span class="var type1" id="S5T1U284">theta</span>)</span></span>*<span class="mxinfo " id="T1:U229">sin(<span class="var type1" id="S6T1U287">phi</span>)</span></span></span>,<span class="keyword">...</span></span></span>
<span class="srcline"><span class="lineno"><a href="33,21" id="srcline21">21</a></span><span class="line">        <span class="mxinfo " id="T1:U231"><span class="mxinfo " id="T1:U232"><span class="mxinfo " id="T1:U233"><span class="mxinfo " id="T1:U234"><span class="mxinfo " id="T1:U235">- <span class="var type1" id="S7T1U293">rho_dot</span></span>*<span class="mxinfo " id="T1:U237">sin(<span class="var type1" id="S6T1U296">phi</span>)</span></span>*<span class="mxinfo " id="T1:U239">sin(<span class="var type1" id="S5T1U299">theta</span>)</span></span> - <span class="mxinfo " id="T1:U241"><span class="mxinfo " id="T1:U242"><span class="mxinfo " id="T1:U243"><span class="var type1" id="S4T1U303">rho</span>*<span class="var type1" id="S8T1U304">theta_dot</span></span>*<span class="mxinfo " id="T1:U246">cos(<span class="var type1" id="S5T1U307">theta</span>)</span></span>*<span class="mxinfo " id="T1:U248">sin(<span class="var type1" id="S6T1U310">phi</span>)</span></span></span> - <span class="mxinfo " id="T1:U250"><span class="mxinfo " id="T1:U251"><span class="mxinfo " id="T1:U252"><span class="var type1" id="S9T1U314">phi_dot</span>*<span class="var type1" id="S4T1U315">rho</span></span>*<span class="mxinfo " id="T1:U255">cos(<span class="var type1" id="S6T1U318">phi</span>)</span></span>*<span class="mxinfo " id="T1:U257">sin(<span class="var type1" id="S5T1U321">theta</span>)</span></span></span>, <span class="mxinfo " id="T1:U259"><span class="mxinfo " id="T1:U260">cos(<span class="var type1" id="S6T1U325">phi</span>)</span>*<span class="mxinfo " id="T1:U262">sin(<span class="var type1" id="S5T1U328">theta</span>)</span></span>, <span class="mxinfo " id="T1:U264"><span class="mxinfo " id="T1:U265"><span class="var type1" id="S4T1U331">rho</span>*<span class="mxinfo " id="T1:U267">cos(<span class="var type1" id="S6T1U334">phi</span>)</span></span>*<span class="mxinfo " id="T1:U269">cos(<span class="var type1" id="S5T1U337">theta</span>)</span></span>, <span class="mxinfo " id="T1:U271"><span class="mxinfo " id="T1:U272"><span class="mxinfo " id="T1:U273">-<span class="var type1" id="S4T1U341">rho</span></span>*<span class="mxinfo " id="T1:U275">sin(<span class="var type1" id="S6T1U344">phi</span>)</span></span>*<span class="mxinfo " id="T1:U277">sin(<span class="var type1" id="S5T1U347">theta</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,22" id="srcline22">22</a></span><span class="line">        <span class="mxinfo " id="T26:U279"><span class="mxinfo " id="T1:U280"><span class="var type1" id="S9T1U350">phi_dot</span>*<span class="mxinfo " id="T1:U282">cos(<span class="var type1" id="S6T1U353">phi</span>)</span></span>, <span class="mxinfo " id="T1:U284">0</span>, <span class="mxinfo " id="T1:U285"><span class="mxinfo " id="T1:U286"><span class="var type1" id="S7T1U357">rho_dot</span>*<span class="mxinfo " id="T1:U288">cos(<span class="var type1" id="S6T1U360">phi</span>)</span></span> - <span class="mxinfo " id="T1:U290"><span class="mxinfo " id="T1:U291"><span class="var type1" id="S9T1U363">phi_dot</span>*<span class="var type1" id="S4T1U364">rho</span></span>*<span class="mxinfo " id="T1:U294">sin(<span class="var type1" id="S6T1U367">phi</span>)</span></span></span>, <span class="mxinfo " id="T1:U296">sin(<span class="var type1" id="S6T1U370">phi</span>)</span>, <span class="mxinfo " id="T1:U298">0</span>, <span class="mxinfo " id="T1:U299"><span class="var type1" id="S4T1U373">rho</span>*<span class="mxinfo " id="T1:U301">cos(<span class="var type1" id="S6T1U376">phi</span>)</span></span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,23" id="srcline23">23</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,24" id="srcline24">24</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,25" id="srcline25">25</a></span><span class="line"><span class="comment">% for i = 1:6</span></span></span>
<span class="srcline"><span class="lineno"><a href="33,26" id="srcline26">26</a></span><span class="line"><span class="comment">%     dx_dy_p(i,:) = dx_dy_p(i,:)/norm(dx_dy_p(i,:));</span></span></span>
<span class="srcline"><span class="lineno"><a href="33,27" id="srcline27">27</a></span><span class="line"><span class="comment">% end</span></span></span>
<span class="srcline"><span class="lineno"><a href="33,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,29" id="srcline29">29</a></span><span class="line"><span class="mxinfo " id="T3:U303"><span class="var type1" id="S2T3U379">dx_dy</span> = <span class="var type1" id="S10T3U380">dx_dy_p</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="33,30" id="srcline30">30</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="33,31" id="srcline31">31</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
