<pre class="code">
<span class="srcline"><span class="lineno"><a href="30,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> [<span class="var type1" id="S2T5U3">azimuth</span>, <span class="var type1" id="S3T5U4">elevation</span>, <span class="var type1" id="S4T5U5">range</span>] = Radar_Sensor_Equation(<span class="var type1" id="S5T3U8">X</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="30,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function simulate the radar measuremet without noise: it take in </span></span></span>
<span class="srcline"><span class="lineno"><a href="30,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% Input the position in cartesian coordinates and gives in Output the </span></span></span>
<span class="srcline"><span class="lineno"><a href="30,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">% relative azimut [rad], elevation [rad], and range [km].</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% Bearing in mind the LVLH frame, where the plane of motion is xz-plane;</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="30,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% Remeber that the simulation run in normalized values so the units for</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% range isn't km.</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,10" id="srcline10">10</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="30,11" id="srcline11">11</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="30,12" id="srcline12">12</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="30,13" id="srcline13">13</a></span><span class="line"><span class="comment">% cartesian positions</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,14" id="srcline14">14</a></span><span class="line"><span class="mxinfo " id="T5:U5"><span class="var type1" id="S6T5U11">x</span> = <span class="mxinfo " id="T5:U7"><span class="var type1" id="S5T3U13">X</span>(<span class="mxinfo " id="T14:U9">1</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,15" id="srcline15">15</a></span><span class="line"><span class="mxinfo " id="T5:U10"><span class="var type1" id="S7T5U17">y</span> = <span class="mxinfo " id="T5:U12"><span class="var type1" id="S5T3U19">X</span>(<span class="mxinfo " id="T14:U14">2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,16" id="srcline16">16</a></span><span class="line"><span class="mxinfo " id="T5:U15"><span class="var type1" id="S8T5U23">z</span> = <span class="mxinfo " id="T5:U17"><span class="var type1" id="S5T3U25">X</span>(<span class="mxinfo " id="T14:U19">3</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,17" id="srcline17">17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="30,18" id="srcline18">18</a></span><span class="line"><span class="comment">% output radar</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,19" id="srcline19">19</a></span><span class="line"><span class="keyword">if</span>(<span class="mxinfo " id="T8:U20"><span class="var type1" id="S8T5U31">z</span> &gt;=<span class="mxinfo " id="T5:U22">0</span></span> )</span></span>
<span class="srcline"><span class="lineno"><a href="30,20" id="srcline20">20</a></span><span class="line">    <span class="mxinfo " id="T5:U23"><span class="var type1" id="S2T5U35">azimuth</span> = <span class="mxinfo " id="T5:U25">atan2(<span class="var type1" id="S8T5U38">z</span>, <span class="var type1" id="S6T5U39">x</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,21" id="srcline21">21</a></span><span class="line"><span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,22" id="srcline22">22</a></span><span class="line">    <span class="mxinfo " id="T5:U28"><span class="var type1" id="S2T5U43">azimuth</span> = <span class="mxinfo " id="T5:U30"><span class="mxinfo " id="T5:U31">atan2(<span class="var type1" id="S8T5U47">z</span>, <span class="var type1" id="S6T5U48">x</span>)</span> + <span class="mxinfo " id="T5:U34">pi</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,23" id="srcline23">23</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="30,24" id="srcline24">24</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="30,25" id="srcline25">25</a></span><span class="line"><span class="mxinfo " id="T5:U35"><span class="var type1" id="S3T5U53">elevation</span>   = <span class="mxinfo " id="T5:U37">atan2(<span class="var type1" id="S7T5U56">y</span>,<span class="mxinfo " id="T5:U39">sqrt(<span class="mxinfo " id="T5:U40"><span class="mxinfo " id="T5:U41"><span class="var type1" id="S6T5U61">x</span>.^2</span> + <span class="mxinfo " id="T5:U43"><span class="var type1" id="S8T5U64">z</span>.^2</span></span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,26" id="srcline26">26</a></span><span class="line"><span class="mxinfo " id="T5:U45"><span class="var type1" id="S4T5U68">range</span>       = <span class="mxinfo " id="T5:U47">sqrt(<span class="mxinfo " id="T5:U48"><span class="mxinfo " id="T5:U49"><span class="mxinfo " id="T5:U50"><span class="var type1" id="S6T5U74">x</span>.^2</span> + <span class="mxinfo " id="T5:U52"><span class="var type1" id="S7T5U77">y</span>.^2</span></span> + <span class="mxinfo " id="T5:U54"><span class="var type1" id="S8T5U80">z</span>.^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="30,27" id="srcline27">27</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="30,28" id="srcline28">28</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
