<pre class="code">
<span class="srcline"><span class="lineno"><a href="9,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> [<span class="var type1" id="S2T5U3">azimuth</span>, <span class="var type1" id="S3T5U4">elevation</span>, <span class="var type1" id="S4T5U5">range</span>] = Radar_Sensor_Equation(<span class="var type1" id="S5T3U8">X</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="9,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function simulate the radar measuremet without noise: it take in </span></span></span>
<span class="srcline"><span class="lineno"><a href="9,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% Input the position in cartesian coordinates and gives in Output the </span></span></span>
<span class="srcline"><span class="lineno"><a href="9,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">% relative azimut [rad], elevation [rad], and range [km].</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% Bearing in mind the LVLH frame, where the plane of motion is xz-plane;</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% </span></span></span>
<span class="srcline"><span class="lineno"><a href="9,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% Remeber that the simulation run in normalized values so the units for</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% range isn't km.</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,10" id="srcline10">10</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,11" id="srcline11">11</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,12" id="srcline12">12</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,13" id="srcline13">13</a></span><span class="line"><span class="comment">% cartesian positions</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,14" id="srcline14">14</a></span><span class="line"><span class="mxinfo " id="T5:U5"><span class="var type1" id="S6T5U11">x</span> = <span class="mxinfo " id="T5:U7"><span class="var type1" id="S5T3U13">X</span>(<span class="mxinfo " id="T13:U9">1</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,15" id="srcline15">15</a></span><span class="line"><span class="mxinfo " id="T5:U10"><span class="var type1" id="S7T5U17">y</span> = <span class="mxinfo " id="T5:U12"><span class="var type1" id="S5T3U19">X</span>(<span class="mxinfo " id="T13:U14">2</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,16" id="srcline16">16</a></span><span class="line"><span class="mxinfo " id="T5:U15"><span class="var type1" id="S8T5U23">z</span> = <span class="mxinfo " id="T5:U17"><span class="var type1" id="S5T3U25">X</span>(<span class="mxinfo " id="T13:U19">3</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,17" id="srcline17">17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,18" id="srcline18">18</a></span><span class="line"><span class="comment">% output radar</span></span></span>
<span class="srcline"><span class="lineno"><a href="9,19" id="srcline19">19</a></span><span class="line"><span class="mxinfo " id="T5:U20"><span class="var type1" id="S2T5U29">azimuth</span>     = <span class="mxinfo " id="T5:U22">atan2(<span class="var type1" id="S8T5U32">z</span>,<span class="var type1" id="S6T5U33">x</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,20" id="srcline20">20</a></span><span class="line"><span class="mxinfo " id="T5:U25"><span class="var type1" id="S3T5U36">elevation</span>   = <span class="mxinfo " id="T5:U27">atan2(<span class="var type1" id="S7T5U39">y</span>, <span class="mxinfo " id="T5:U29">sqrt(<span class="mxinfo " id="T5:U30"><span class="mxinfo " id="T5:U31"><span class="var type1" id="S6T5U44">x</span>.^2</span> + <span class="mxinfo " id="T5:U33"><span class="var type1" id="S8T5U47">z</span>.^2</span></span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,21" id="srcline21">21</a></span><span class="line"><span class="mxinfo " id="T5:U35"><span class="var type1" id="S4T5U51">range</span>       = <span class="mxinfo " id="T5:U37">sqrt(<span class="mxinfo " id="T5:U38"><span class="mxinfo " id="T5:U39"><span class="mxinfo " id="T5:U40"><span class="var type1" id="S6T5U57">x</span>.^2</span> + <span class="mxinfo " id="T5:U42"><span class="var type1" id="S7T5U60">y</span>.^2</span></span> + <span class="mxinfo " id="T5:U44"><span class="var type1" id="S8T5U63">z</span>.^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="9,22" id="srcline22">22</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="9,23" id="srcline23">23</a></span><span class="line"><span class="keyword">end</span></span></span>
</pre>
