<div class="dead">
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1"> 1</a></span><span class="line">function [X_est, H]  = SDRE_Filter_Algorithm(measurements, u, A, X_k_1, B0, Ts, Qf, Rf, Pf)</span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2"> 2</a></span><span class="line"><span class="comment">% This function computes the SDRE Filter algorithm based on Kalman filter</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4"> 4</a></span><span class="line"><span class="comment">% INPUTS</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5"> 5</a></span><span class="line"><span class="comment">% measurements  : radar outputs (azimut, elevation, range);</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6"> 6</a></span><span class="line"><span class="comment">% u             : control law;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7"> 7</a></span><span class="line"><span class="comment">% A             : SDC parametrization of syste;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8"> 8</a></span><span class="line"><span class="comment">% X_k_1         : state at before step;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9"> 9</a></span><span class="line"><span class="comment">% B0            : input matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,10" id="srcline10">10</a></span><span class="line"><span class="comment">% Ts            : Discretization time;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,11" id="srcline11">11</a></span><span class="line"><span class="comment">% Qf            : Process Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,12" id="srcline12">12</a></span><span class="line"><span class="comment">% Rf            : Noise Input Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,13" id="srcline13">13</a></span><span class="line"><span class="comment">% Pf            : Error Covariance matrix;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,14" id="srcline14">14</a></span><span class="line"><span class="comment">%</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,15" id="srcline15">15</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,16" id="srcline16">16</a></span><span class="line"><span class="comment">% X_est         : state estimated;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,17" id="srcline17">17</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,18" id="srcline18">18</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,19" id="srcline19">19</a></span><span class="line"><span class="comment">% handle function for SDC output matrix parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,20" id="srcline20">20</a></span><span class="line">Hsdc = @SDC_Output_Matrix_parametrization;</span></span>
<span class="srcline"><span class="lineno"><a href="1,21" id="srcline21">21</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,22" id="srcline22">22</a></span><span class="line"><span class="comment">% initialization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,23" id="srcline23">23</a></span><span class="line">persistent P X_pred</span></span>
<span class="srcline"><span class="lineno"><a href="1,24" id="srcline24">24</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,25" id="srcline25">25</a></span><span class="line">if isempty(P)    </span></span>
<span class="srcline"><span class="lineno"><a href="1,26" id="srcline26">26</a></span><span class="line">    P =  Pf; </span></span>
<span class="srcline"><span class="lineno"><a href="1,27" id="srcline27">27</a></span><span class="line">end</span></span>
<span class="srcline"><span class="lineno"><a href="1,28" id="srcline28">28</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,29" id="srcline29">29</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,30" id="srcline30">30</a></span><span class="line"><span class="comment">% ----------------------------------------------------------------------- %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,31" id="srcline31">31</a></span><span class="line"><span class="comment">% ----------------------------- PREDICT --------------------------------- %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,32" id="srcline32">32</a></span><span class="line"><span class="comment">% ----------------------------------------------------------------------- %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,33" id="srcline33">33</a></span><span class="line">PHI = exp(Ts * A);</span></span>
<span class="srcline"><span class="lineno"><a href="1,34" id="srcline34">34</a></span><span class="line"><span class="comment">% Project the State ahead </span></span></span>
<span class="srcline"><span class="lineno"><a href="1,35" id="srcline35">35</a></span><span class="line">X_pred = PHI * X_k_1 + (Ts * B0) * u;</span></span>
<span class="srcline"><span class="lineno"><a href="1,36" id="srcline36">36</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,37" id="srcline37">37</a></span><span class="line"><span class="comment">% Project the Error Covariance ahead</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,38" id="srcline38">38</a></span><span class="line">P = PHI * P * PHI' + Qf;</span></span>
<span class="srcline"><span class="lineno"><a href="1,39" id="srcline39">39</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,40" id="srcline40">40</a></span><span class="line">H = Hsdc(X_pred);</span></span>
<span class="srcline"><span class="lineno"><a href="1,41" id="srcline41">41</a></span><span class="line"><span class="comment">% ----------------------------------------------------------------------- %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,42" id="srcline42">42</a></span><span class="line"><span class="comment">% ----------------------------- CORRECT --------------------------------- %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,43" id="srcline43">43</a></span><span class="line"><span class="comment">% ----------------------------------------------------------------------- %</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,44" id="srcline44">44</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,45" id="srcline45">45</a></span><span class="line"><span class="comment">% Compute the Filter's Gain</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,46" id="srcline46">46</a></span><span class="line">Kf = P * Hsdc(X_pred)' * (Hsdc(X_pred) * P * Hsdc(X_pred)' + Rf)^(-1);</span></span>
<span class="srcline"><span class="lineno"><a href="1,47" id="srcline47">47</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,48" id="srcline48">48</a></span><span class="line"><span class="comment">% Update the estimete with measurement</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,49" id="srcline49">49</a></span><span class="line">X_est = X_pred + Kf * (measurements - Hsdc(X_pred) * X_pred);</span></span>
<span class="srcline"><span class="lineno"><a href="1,50" id="srcline50">50</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,51" id="srcline51">51</a></span><span class="line"><span class="comment">% Update the Error Covariance</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,52" id="srcline52">52</a></span><span class="line">P = (eye(6) - Kf * Hsdc(X_pred)) * P;</span></span>
<span class="srcline"><span class="lineno"><a href="1,53" id="srcline53">53</a></span><span class="line">end</span></span>
</pre>
</div>
<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,54" id="srcline54">54</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,55" id="srcline55">55</a></span><span class="line"><span class="keyword">function</span> <span class="var type1" id="S23T13U130">H</span> = SDC_Output_Matrix_parametrization(<span class="var type1" id="S24T3U133">X</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,56" id="srcline56">56</a></span><span class="line"><span class="comment">% This function computes the State Dependet Coefficient of output matrix</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,57" id="srcline57">57</a></span><span class="line"><span class="comment">% for radar measurements</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,58" id="srcline58">58</a></span><span class="line"><span class="comment">% INPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,59" id="srcline59">59</a></span><span class="line"><span class="comment">% X     : state;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,60" id="srcline60">60</a></span><span class="line"><span class="comment">% OUTPUT</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,61" id="srcline61">61</a></span><span class="line"><span class="comment">% H     : output matrix in SDC form;</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,62" id="srcline62">62</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,63" id="srcline63">63</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,64" id="srcline64">64</a></span><span class="line"><span class="comment">% Sensor measurement</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,65" id="srcline65">65</a></span><span class="line"><span class="keyword">if</span>(<span class="message error" id="M5F24C">z</span> &gt;=0 )</span></span>
<span class="srcline"><span class="lineno"><a href="1,66" id="srcline66">66</a></span><span class="line">    <span class="mxinfo " id="T5:U3"><span class="var type1" id="S26T5U143">azimuth</span> = <span class="mxinfo " id="T5:U5">atan2(<span class="mxinfo " id="T5:U6"><span class="var type1" id="S24T3U147">X</span>(<span class="mxinfo " id="T14:U8">3</span>)</span>, <span class="mxinfo " id="T5:U9"><span class="var type1" id="S24T3U150">X</span>(<span class="mxinfo " id="T14:U11">1</span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,67" id="srcline67">67</a></span><span class="line"><span class="keyword">else</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,68" id="srcline68">68</a></span><span class="line">    <span class="mxinfo " id="T5:U12"><span class="var type1" id="S26T5U155">azimuth</span> = <span class="mxinfo " id="T5:U14"><span class="mxinfo " id="T5:U15">atan2(<span class="mxinfo " id="T5:U16"><span class="var type1" id="S24T3U160">X</span>(<span class="mxinfo " id="T14:U18">3</span>)</span>, <span class="mxinfo " id="T5:U19"><span class="var type1" id="S24T3U163">X</span>(<span class="mxinfo " id="T14:U21">1</span>)</span>)</span> + <span class="mxinfo " id="T5:U22">pi</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,69" id="srcline69">69</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,70" id="srcline70">70</a></span><span class="line"><span class="mxinfo " id="T5:U23"><span class="var type1" id="S29T5U169">elevation</span>   = <span class="mxinfo " id="T5:U25">atan2(<span class="mxinfo " id="T5:U26"><span class="var type1" id="S24T3U173">X</span>(<span class="mxinfo " id="T14:U28">2</span>)</span>, <span class="mxinfo " id="T5:U29">sqrt(<span class="mxinfo " id="T5:U30"><span class="mxinfo " id="T5:U31"><span class="mxinfo " id="T5:U32"><span class="var type1" id="S24T3U180">X</span>(<span class="mxinfo " id="T14:U34">1</span>)</span>.^2</span> + <span class="mxinfo " id="T5:U35"><span class="mxinfo " id="T5:U36"><span class="var type1" id="S24T3U185">X</span>(<span class="mxinfo " id="T14:U38">3</span>)</span>.^2</span></span>)</span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,71" id="srcline71">71</a></span><span class="line"><span class="mxinfo " id="T5:U39"><span class="var type1" id="S31T5U190">range</span>       = <span class="mxinfo " id="T5:U41">sqrt(<span class="mxinfo " id="T5:U42"><span class="mxinfo " id="T5:U43"><span class="mxinfo " id="T5:U44"><span class="mxinfo " id="T5:U45"><span class="var type1" id="S24T3U197">X</span>(<span class="mxinfo " id="T14:U47">1</span>)</span>.^2</span> + <span class="mxinfo " id="T5:U48"><span class="mxinfo " id="T5:U49"><span class="var type1" id="S24T3U202">X</span>(<span class="mxinfo " id="T14:U51">2</span>)</span>.^2</span></span> + <span class="mxinfo " id="T5:U52"><span class="mxinfo " id="T5:U53"><span class="var type1" id="S24T3U207">X</span>(<span class="mxinfo " id="T14:U55">3</span>)</span>.^2</span></span>)</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,72" id="srcline72">72</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,73" id="srcline73">73</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,74" id="srcline74">74</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,75" id="srcline75">75</a></span><span class="line"><span class="comment">% NonLinear terms for SDC parametrization</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,76" id="srcline76">76</a></span><span class="line"><span class="mxinfo " id="T5:U56"><span class="var type1" id="S32T5U212">H14</span> = <span class="mxinfo " id="T5:U58">(<span class="mxinfo " id="T5:U59"><span class="var type1" id="S26T5U216">azimuth</span> - <span class="mxinfo " id="T5:U61"><span class="var type1" id="S24T3U218">X</span>(<span class="mxinfo " id="T5:U63">1</span>)</span></span>)./<span class="mxinfo " id="T5:U64"><span class="var type1" id="S24T3U221">X</span>(<span class="mxinfo " id="T14:U66">4</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,77" id="srcline77">77</a></span><span class="line"><span class="mxinfo " id="T5:U67"><span class="var type1" id="S33T5U225">H23</span> = <span class="mxinfo " id="T5:U69">(<span class="mxinfo " id="T5:U70"><span class="var type1" id="S29T5U229">elevation</span> - <span class="mxinfo " id="T5:U72"><span class="var type1" id="S24T3U231">X</span>(<span class="mxinfo " id="T5:U74">5</span>)</span></span>)./<span class="mxinfo " id="T5:U75"><span class="var type1" id="S24T3U234">X</span>(<span class="mxinfo " id="T14:U77">3</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,78" id="srcline78">78</a></span><span class="line"><span class="mxinfo " id="T5:U78"><span class="var type1" id="S34T5U238">H31</span> = <span class="mxinfo " id="T5:U80">(<span class="mxinfo " id="T5:U81"><span class="mxinfo " id="T5:U82"><span class="var type1" id="S31T5U243">range</span> - <span class="mxinfo " id="T5:U84"><span class="var type1" id="S24T3U245">X</span>(<span class="mxinfo " id="T5:U86">6</span>)</span></span> - <span class="mxinfo " id="T5:U87"><span class="var type1" id="S24T3U248">X</span>(<span class="mxinfo " id="T5:U89">2</span>)</span></span>)./<span class="mxinfo " id="T5:U90"><span class="var type1" id="S24T3U251">X</span>(<span class="mxinfo " id="T14:U92">1</span>)</span></span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,79" id="srcline79">79</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,80" id="srcline80">80</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,81" id="srcline81">81</a></span><span class="line"><span class="comment">% Output matrix parametrized</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,82" id="srcline82">82</a></span><span class="line"><span class="mxinfo " id="T13:U93"><span class="var type1" id="S23T13U255">H</span> = <span class="mxinfo " id="T13:U95">[<span class="mxinfo " id="T15:U96"><span class="mxinfo " id="T5:U97">1</span>      <span class="mxinfo " id="T5:U98">0</span>    <span class="mxinfo " id="T5:U99">0</span>    <span class="var type1" id="S32T5U261">H14</span>     <span class="mxinfo " id="T5:U101">0</span>   <span class="mxinfo " id="T5:U102">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,83" id="srcline83">83</a></span><span class="line">     <span class="mxinfo " id="T15:U103"><span class="mxinfo " id="T5:U104">0</span>      <span class="mxinfo " id="T5:U105">0</span>   <span class="var type1" id="S33T5U267">H23</span>    <span class="mxinfo " id="T5:U107">0</span>      <span class="mxinfo " id="T5:U108">1</span>   <span class="mxinfo " id="T5:U109">0</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,84" id="srcline84">84</a></span><span class="line">    <span class="mxinfo " id="T15:U110"><span class="var type1" id="S34T5U272">H31</span>     <span class="mxinfo " id="T5:U112">1</span>    <span class="mxinfo " id="T5:U113">0</span>     <span class="mxinfo " id="T5:U114">0</span>      <span class="mxinfo " id="T5:U115">0</span>   <span class="mxinfo " id="T5:U116">1</span></span>]</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,85" id="srcline85">85</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,86" id="srcline86">86</a></span><span class="line"><span class="keyword">end</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,87" id="srcline87">87</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,88" id="srcline88">88</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,89" id="srcline89">89</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,90" id="srcline90">90</a></span><span class="line"></span></span>
</pre>
