<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S5T1">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">measurements</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T1">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">u</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T1">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">A</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T1">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">X_k_1</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T2">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">B0</a></td>
<td>Input</td><td class="watchsize" id="24">6 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S10T1">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">Ts</a></td>
<td>Input</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S11T3">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">Qf</a></td>
<td>Input</td><td class="watchsize" id="25">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T4">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">Rf</a></td>
<td>Input</td><td class="watchsize" id="20">3 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S13T3">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">Pf</a></td>
<td>Input</td><td class="watchsize" id="25">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S14T5">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">Hsdc</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">function_handle</td>
<td class="watchcomplex">-</td>
</tr>
<tr class="var type1" id="S16T3">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">P</a></td>
<td>Persistent</td><td class="watchsize" id="25">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S19T3">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">Ad</a></td>
<td>Local</td><td class="watchsize" id="25">6 x 6</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S21T2">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">Bd</a></td>
<td>Local</td><td class="watchsize" id="24">6 x 3</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
