<table class="grid" id="watchtable" summary="This table describes the types of variables used in the current function." cellspacing="0" cellpadding="0">
<thead>
<tr>
<th id="blank" scope="col">&nbsp;</th>
<th id="order" scope="col"><div class="d1"><div class="d2"><a href="#">Order</a></div></div></th>
<th id="expr" scope="col"><div class="d1"><div class="d2"><a href="#">Variable</a></div></div></th>
<th id="exprtype" scope="col"><div class="d1"><div class="d2"><a href="#">Type</a></div></div></th>
<th id="watchsize" scope="col"><div class="d1"><div class="d2"><a href="#">Size</a></div></div></th>
<th id="watchclass" scope="col"><div class="d1"><div class="d2"><a href="#">Class</a></div></div></th>
<th id="watchcomplex" scope="col"><div class="d1"><div class="d2"><a href="#">Complex</a></div></div></th>
</tr>
</thead>
<tbody onmouseover="watchMouseOver(event);" onmouseout="watchMouseOut(event);" onclick="watchClick(event);">
<tr class="var type1" id="S2T8">
<td id="blank"></td><td>1</td>
<td id=""><a href="#">X</a></td>
<td>Output</td><td class="watchsize" id="23">6 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S3T8">
<td id="blank"></td><td>2</td>
<td id=""><a href="#">Y</a></td>
<td>Input</td><td class="watchsize" id="23">6 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S4T1">
<td id="blank"></td><td>3</td>
<td id=""><a href="#">rho</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S5T1">
<td id="blank"></td><td>4</td>
<td id=""><a href="#">theta</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S6T1">
<td id="blank"></td><td>5</td>
<td id=""><a href="#">phi</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S7T1">
<td id="blank"></td><td>6</td>
<td id=""><a href="#">rho_dot</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S8T1">
<td id="blank"></td><td>7</td>
<td id=""><a href="#">theta_dot</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S9T1">
<td id="blank"></td><td>8</td>
<td id=""><a href="#">phi_dot</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S10T1">
<td id="blank"></td><td>9</td>
<td id=""><a href="#">x</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S12T1">
<td id="blank"></td><td>10</td>
<td id=""><a href="#">y</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S14T1">
<td id="blank"></td><td>11</td>
<td id=""><a href="#">z</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S15T1">
<td id="blank"></td><td>12</td>
<td id=""><a href="#">vx</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S16T1">
<td id="blank"></td><td>13</td>
<td id=""><a href="#">vy</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
<tr class="var type1" id="S17T1">
<td id="blank"></td><td>14</td>
<td id=""><a href="#">vz</a></td>
<td>Local</td><td class="watchsize" id="2">1 x 1</td>
<td class="watchclass">double</td>
<td class="watchcomplex">No</td>
</tr>
</tbody>
</table>
